.novo{
    font-family: monospace;
    font-size: 1em;
    animation: color-change 1s infinite;
  }
  
  @keyframes color-change {
    0% { color: red; }
    50% { color: rgb(255, 255, 255); }
    100% { color: red; }
  }

  .servicoProfissional{
    .modal-wrapper {
      height: 15% !important;
      width: 70% !important;
      min-width: 300px !important;
      min-height: 75px !important;
      max-width: 490px;
      max-height: 775px;
      border-radius: 5px;
      --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
    }
  }

.overlay {
  position: absolute;
  top: 0;
  left: -20px;
  width: 120%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5); /*dim the background*/
}

ion-toolbar {
  --background: var(--cor-fundo-barraTopo);
  text-align: center;
}