<ion-header>
  <ion-toolbar>
    <ion-title style="color: var(--cor-texto-barraTopo)">{{
      "SHARED.AVALIAR.TITLE" | translate
    }}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="closeModal()">
        <ion-icon
          name="close"
          slot="icon-only"
          style="transform: scale(1.5); color: var(--cor-texto-barraTopo)"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid fixed>
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-text-center title" size="12">
        {{ "SHARED.AVALIAR.HEADER" | translate }}<br />
        <strong>{{ empresa }}</strong>
      </ion-col>
    </ion-row>
    <ion-row
      class="ion-padding-top ion-justify-content-center"
      *ngFor="let servico of servicos; index as index"
    >
      <ion-col class="ion-text-center" size="8">
        {{ servico.label }}
      </ion-col>
      <ion-col class="ion-text-center" class="avaliacao" size="8">
        <div class="stars">
          <ion-icon
            (click)="onClickNota($event, servico, '1')"
            id="star1_{{ servico.id }}"
            name="star"
          ></ion-icon>
          <ion-icon
            (click)="onClickNota($event, servico, '2')"
            id="star2_{{ servico.id }}"
            name="star"
          ></ion-icon>
          <ion-icon
            (click)="onClickNota($event, servico, '3')"
            id="star3_{{ servico.id }}"
            name="star"
          ></ion-icon>
          <ion-icon
            (click)="onClickNota($event, servico, '4')"
            id="star4_{{ servico.id }}"
            name="star"
          ></ion-icon>
          <ion-icon
            (click)="onClickNota($event, servico, '5')"
            id="star5_{{ servico.id }}"
            name="star"
          ></ion-icon>
        </div>
      </ion-col>
      <ion-col class="ion-text-center" size="8">
        <ion-label (click)="onClickComente(index)" class="comente">{{
          "SHARED.AVALIAR.COMENTE" | translate
        }}</ion-label>
        <ng-container *ngIf="avaliacao[index].comentario != null">
          <ion-textarea
            class="comentario"
            value="{{ avaliacao[index].comentario }}"
            (ionChange)="onChangeTextArea(index, $event)"
          ></ion-textarea>
        </ng-container>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button (click)="onClickAvaliar()" expand="block" color="primary">
      {{ "SHARED.AVALIAR.SAVE" | translate }}
    </ion-button>
  </ion-toolbar>
</ion-footer>
