<ion-header>
  <ng-container [ngSwitch]="segment">
    <ion-toolbar
      fixed
      *ngSwitchCase="'editar'"
      style="padding-top: 0 !important"
    >
      <ion-title style="color: var(--cor-texto-barraTopo)">{{
        "SHARED.MODALEDITAR.TITLEATUALIZARDADOS" | translate
      }}</ion-title>
      <ion-buttons slot="primary">
        <ion-button (click)="closeModal()">
          <ion-icon
            name="close"
            slot="icon-only"
            style="transform: scale(1.5); color: var(--cor-texto-barraTopo)"
          ></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-toolbar *ngSwitchCase="'senha'">
      <ion-title style="color: var(--cor-texto-barraTopo)">{{
        "SHARED.MODALEDITAR.ALTERARSENHA" | translate
      }}</ion-title>
      <ion-buttons slot="primary">
        <ion-button (click)="closeModal()">
          <ion-icon
            name="close"
            slot="icon-only"
            style="transform: scale(1.5); color: var(--cor-texto-barraTopo)"
          ></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ng-container>
</ion-header>
<ion-content scrollY="false">
  <ng-container [ngSwitch]="segment">
    <ion-grid fixed *ngSwitchCase="'editar'">
      <form [formGroup]="perfilForm">
        <ion-row>
          <ion-col size="12">
            <ion-row class="ion-justify-content-end">
              <ion-col
                class="ion-text-end ion-align-itens-center"
                style="font-size: 13px"
                size="6"
              >
                <ion-label style="color: red"
                  >*{{
                    "SHARED.MODALEDITAR.REQUIREDFIELDS" | translate
                  }}</ion-label
                >
              </ion-col>
            </ion-row>
            <kendo-floatinglabel
              text="{{ 'SHARED.MODALEDITAR.NOME' | translate }}*"
            >
              <input style="background: white; border-radius: 10px;"  formControlName="nomeCompleto" kendoTextBox type="text" />
            </kendo-floatinglabel>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <kendo-floatinglabel
              text="{{ 'SHARED.MODALEDITAR.EMAIL' | translate }}*"
            >
              <input style="background: white; border-radius: 10px;" formControlName="email" kendoTextBox type="emial" />
            </kendo-floatinglabel>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <kendo-floatinglabel
              text="{{ 'SHARED.MODALEDITAR.CELULAR' | translate }}*"
            >
              <input style="background: white; border-radius: 10px;" 
                formControlName="celular"
                kendoTextBox
                type="tel"
                (input)="setMask($event)"
                maxlength="20"
              />
            </kendo-floatinglabel>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="temAssinatura">
          <ion-col size="12">
            <kendo-floatinglabel
              text="{{ 'SHARED.MODALEDITAR.CPF' | translate }}*"
            >
              <input
                formControlName="cpf"
                kendoTextBox
                type="cpf"
                (input)="setCpfMask($event)"
                maxlength="14"
              />
            </kendo-floatinglabel>
          </ion-col>
        </ion-row>
      </form>

    </ion-grid>
    <ion-grid *ngSwitchCase="'senha'">
      <ion-row class="linha">
        <!-- <ion-icon name="information-circle-outline" (click)="exibeNome()" class="icon-senha"></ion-icon> -->
        <ion-col class="show" size="12" *ngIf="gatilhoSenha == false">
          <kendo-floatinglabel
            text="{{ 'SHARED.MODALEDITAR.SENHAATUAL' | translate }}"
          >
            <input
              [(ngModel)]="senhaAntiga"
              kendoTextBox
              class="input-password"
              type="{{ showPassword ? 'text' : 'password' }}"
              maxlength="20"
              style="width: 97% !important"
            />
            <ion-button
              style="margin-left: -5px; margin-top: -40px !important ;"
              class="ion-align-self-end"
              fill="clear"
              color="medium"
              (click)="changePasswordVisibility()"
            >
              <img
                style="height: 20px"
                *ngIf="!showPassword"
                src="https://oneproducao.blob.core.windows.net/one2/Icones/eye_closed_icon.svg"
              />
              <ion-icon *ngIf="showPassword" name="eye-outline"></ion-icon>
            </ion-button>
          </kendo-floatinglabel>
        </ion-col>
      </ion-row>

      <ion-row
        *ngIf="gatilhoSenha == true"
        style="
          padding: 4%;
          justify-content: left;
          padding-bottom: 0;
          font-size: 14px;
        "
      >
        <span style="color: var(--ion-color-primary)">
          {{ "SHARED.MODALEDITAR.SENHAPADRAO" | translate }}
        </span>
      </ion-row>

      <ion-row class="linha">
        <ion-col class="show" size="12">
          <kendo-floatinglabel
            text="{{ 'SHARED.MODALEDITAR.SENHA' | translate }}"
          >
            <input
              [(ngModel)]="novaSenha"
              kendoTextBox
              class="input-password"
              type="{{ showNewPassword ? 'text' : 'password' }}"
              maxlength="20"
              style="width: 97% !important"
            />

            <ion-button
              style="margin-left: -5px; margin-top: -40px !important ;"
              class="ion-align-self-end"
              fill="clear"
              color="medium"
              (click)="changeNewPasswordVisibility()"
            >
              <img
                style="height: 20px"
                *ngIf="!showNewPassword"
                src="https://oneproducao.blob.core.windows.net/one2/Icones/eye_closed_icon.svg"
              />
              <ion-icon *ngIf="showNewPassword" name="eye-outline"></ion-icon>
            </ion-button>
          </kendo-floatinglabel>
        </ion-col>
      </ion-row>
      <ion-row class="linha">
        <ion-col class="show" size="12">
          <kendo-floatinglabel
            text="{{ 'SHARED.MODALEDITAR.CONFIRMAR' | translate }}"
            ><!--Colocar chaves de Tradução 53-90 -->
            <input
              [(ngModel)]="confirmarSenha"
              kendoTextBox
              class="input-password"
              type="{{ showNewPassword ? 'text' : 'password' }}"
              maxlength="20"
              style="width: 97% !important"
            />

            <ion-button
              style="margin-left: -5px; margin-top: -40px !important ;"
              class="ion-align-self-end"
              fill="clear"
              color="medium"
              (click)="changeNewPasswordVisibility()"
            >
              <img
                style="height: 20px"
                *ngIf="!showNewPassword"
                src="https://oneproducao.blob.core.windows.net/one2/Icones/eye_closed_icon.svg"
              />
              <ion-icon *ngIf="showNewPassword" name="eye-outline"></ion-icon>
            </ion-button>
          </kendo-floatinglabel>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>
</ion-content>
<ion-footer>
  <ng-container [ngSwitch]="segment">
    <ion-row class="global-footer-row">
      <ng-container *ngSwitchCase="'senha'">
        <ion-col size="6" class="global-footer-col-left">
          <ion-button
            type="submit"
            disabled="{{ !perfilForm.valid }}"
            (click)="closeModal()"
            expand="block"
            class="global-back-btn"
          >
            {{ "SHARED.MODALEDITAR.CANCELAR" | translate }}
          </ion-button>
        </ion-col>
        <ion-col size="6" class="global-footer-col-right">
          <ion-button
            type="submit"
            disabled="{{ !perfilForm.valid || visitanteLogin == 'visitante@onebeleza.com.br' }}"
            (click)="alterarSenha()"
            expand="block"
            class="global-footer-btn"
          >
            {{ "SHARED.MODALEDITAR.SALVARSENHA" | translate }}
          </ion-button>
        </ion-col>
      </ng-container>
      <ng-container *ngSwitchCase="'editar'">
        <ion-col size="6" class="global-footer-col-left">
          <ion-button
            type="submit"
            disabled="true"
            (click)="closeModal()"
            expand="block"
            class="global-back-btn"
          >
            {{ "SHARED.MODALEDITAR.CANCELAR" | translate }}
          </ion-button>
        </ion-col>
        <ion-col size="6" class="global-footer-col-right">
          <ion-button
            type="submit"
            disabled="{{ !perfilForm.valid || visitanteLogin == 'visitante@onebeleza.com.br'}}"
            (click)="editar()"
            expand="block"
            class="global-footer-btn"
          >
            {{ "SHARED.MODALEDITAR.SALVAR" | translate }}
          </ion-button>
        </ion-col>
      </ng-container>
    </ion-row>
  </ng-container>
</ion-footer>
