.small {
  font-size: 14px;
  color: #8a8a8a;
}

.smaller {
  font-size: 12px;
  color: #8a8a8a;
}
.onepoints {
  color: var(--ion-color-primary);
  font-weight: bolder;
  font-size: 16px;
}

.mini {
  width: 15px;
  height: 15px;
}

.progressbar {
  height: 15px;
  --background: rgb(212 212 212) !important;
  border-radius: 10px;
}

ion-content{
  --ion-background-color: var(--background-color-geral)!important;
}



.importante {
  margin-left: 8px;
  margin-top: 10px;
  width: 96%;
  font-size: 14px;
}
.aviso {
  font-size: 14px;
  color: var(--cor-texto-escuro);
  opacity: 0.6;
  display: flex;
  padding-left: 10px;
}

ion-toolbar {
  --background: var(--cor-fundo-barraTopo);
}
