<!--header do modal-->
<ion-header mode="md">
  <ion-toolbar style="padding-top: 0 !important">
    <ion-title style="color: var(--cor-texto-barraTopo)"
      >{{ "PERFIL.MODALONEPOINTS.TITLE" | translate }}
    </ion-title>

    <ion-buttons slot="primary">
      <ion-button (click)="closeModal()">
        <ion-icon
          name="close"
          slot="icon-only"
          style="transform: scale(1.5); color: var(--cor-texto-barraTopo)"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="backgroundMenuApp" *ngIf="this.DispCred == true && this.DispDebt == true">
    <ion-card-content>
      <ion-row *ngIf="!parametroIndividualizaCredito">
        <ion-col  style="justify-content: center; text-align:center; font-weight: bold;"  >         
            <ion-text color="primary">Crédito</ion-text>           
        </ion-col>
        <ion-col style="justify-content: center; text-align:center;font-weight: bold;" >         
            <ion-text color="primary" >{{ this.DispCredDebt.Cred | currencyGlobal }}</ion-text>          
        </ion-col>
      </ion-row>
      <ion-row *ngIf="parametroIndividualizaCredito">
        <ion-col  style="justify-content: center; text-align:center; font-weight: bold;"  >         
            <ion-text color="primary">Crédito nesta filial</ion-text>           
        </ion-col>
        <ion-col style="justify-content: center; text-align:center;font-weight: bold;" >         
            <ion-text color="primary" >{{ creditoAntecipadoNaFilial | currencyGlobal }}</ion-text>          
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card class="backgroundMenuApp" *ngIf="temAssinaturaClientes" style="padding: 10px">
    <ion-card-content style="padding: 2px">
      <ion-row *ngFor="let assinatura of assinaturaClientes">
        <ion-row>
          <ion-item lines="none">
            <ion-label
              style="
                font-size: medium;
                color: var(--ion-color-primary);
                font-weight: bold;
              "
              >{{ assinatura.assinaturaPlanos.nomePlano }}</ion-label
            >
            <ion-label
              color="primary"
              slot="end"
              style="font-size: medium; font-weight: bold"
            >
              {{ assinatura.assinaturaPlanos.precoPlano | currencyGlobal }}
            </ion-label>
          </ion-item>
          <ion-list
            style="
              width: 100%;
              display: flex;
              flex-direction: column;
              padding-left: 20px;
            "
          >
            <ion-text
              *ngFor="let servicos of assinatura.servicosPlano; let i = index"
              style="font-size: small; padding: 0px; margin: 0px"
            >
              • {{ servicos }}</ion-text
            >
          </ion-list>
        </ion-row>
        <ion-row style="width: 100%">
          <ion-text
            style="
              margin-top: 10px;
              font-size: small;
              width: 100%;
              padding-left: 20px;
            "
            >*Desconto em produtos:
            {{ assinatura.assinaturaPlanos.desconto }}%</ion-text
          >
        </ion-row>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card class="backgroundMenuApp" *ngIf="this.TemDispOrcamentos" style="padding: 10px">
    <ion-card-content style="padding: 2px">
      <ion-row *ngFor="let item of this.DispOrcamentos; let i = index">
        <ion-row>
          <ion-item lines="none">
            <ion-text
              color="primary"
              style="font-weight: bold; font-size: medium"
              >Orçamento {{ i + 1 }}</ion-text
            >
            <ion-text style="font-size: small" slot="end"
              >- Válido até {{ item.dataValidade | date: "dd/MM/yyyy" }}
            </ion-text>
          </ion-item>
        </ion-row>

        <ion-row>
          <ion-row
            *ngFor="let pacote of item.pacotes"
            style="width: 100%; display: flex; flex-direction: column"
          >
            <ion-row style="width: 100%; justify-content: space-between">
              <ion-label
                style="font-size: small; font-weight: bold; color: var(--cor-texto-escuro); margin-left: 10px;"
                >Pacote: {{ pacote.descricao }}</ion-label
              >
              <ion-text
                color="primary"
                style="font-size: small; font-weight: bold"
                >Serviços Restantes</ion-text
              >
            </ion-row>

            <ion-row
              *ngFor="let servico of pacote.listaServicos; let i = index"
              style="
                width: 100%;
                justify-content: space-between;
                padding-left: 20px;
                
              "
            >
              <ion-text style="font-size: small; padding: 0px; margin: 0px">
                • {{ servico.nomeServico }}</ion-text
              >
              <ion-text
                color="primary"
                style="font-weight: bold; margin-right: 50px"
                *ngIf="servico.qtdDisponivel - servico.qtdUltilizada > 0"
              >
                {{ servico.qtdDisponivel - servico.qtdUltilizada }}
              </ion-text>
              <ion-text
                color="danger"
                style="font-weight: bold; margin-right: 20px"
                *ngIf="servico.qtdDisponivel - servico.qtdUltilizada == 0"
              >
                Ultilizado
              </ion-text>
            </ion-row>
          </ion-row>

          <ion-row style="width: 100%; justify-content: space-between">
            <ion-label style="font-size: small; font-weight: bold; color:var(--cor-texto-escuro);  margin-left: 10px;"
              >Serviços Avulsos</ion-label
            >
            <ion-text
              color="primary"
              style="font-size: small; font-weight: bold"
              >Serviços Restantes</ion-text
            >
          </ion-row>

          <ion-row
            *ngFor="let servico of item.servicosAvulsos; let i = index"
            style="width: 100%; justify-content: space-between"
          >
            <ion-text style="font-size: small; padding-left: 20px; margin: 0px">
              • {{ servico.nomeServico }}</ion-text
            >
            <ion-text
              color="primary"
              style="font-weight: bold; margin-right: 50px"
              *ngIf="servico.qtdDisponivel - servico.qtdUltilizada > 0"
            >
              {{ servico.qtdDisponivel - servico.qtdUltilizada }}
            </ion-text>
            <ion-text
              color="danger"
              style="font-weight: bold; margin-right: 20px"
              *ngIf="servico.qtdDisponivel - servico.qtdUltilizada <= 0"
            >
              Esgotado
            </ion-text>
          </ion-row>
        </ion-row>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card class="backgroundMenuApp" *ngIf="milhagem?.usaMilhagem">
    <ion-row
      style="
        border-bottom: 0.5px solid #c1c1c1;
        height: 100px;
        justify-content: center;
      "
    >
      <ion-col size="7.5">
        <br />
        <ion-label style="font-weight: bold; color: var(--cor-texto-escuro)" class="small"
          >One Points</ion-label
        >
        <br />
        <ion-label class="smaller">
          {{ "PERFIL.MINIMO" | translate }} {{ milhagem?.pontosMin }}
          {{ "PERFIL.PONTOSRESGATE" | translate }}
        </ion-label>
        <br />
      </ion-col>

      <!--quantidade de ONE points-->
      <ion-col style="align-self: center" size="4">
        <ion-label class="onepoints">
          {{ milhagem?.pontosCliente | number }}
          {{ "PERFIL.PONTOS" | translate }}
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card class="backgroundMenuApp"
    *ngIf="this.servicosFidelidade?.possuiFidelidade"
    style="padding: 10px"
  >
    <ion-row style="justify-content: center">
      <ion-col>
        <ion-label class="small" style="font-weight: bold; color: var(--cor-texto-escuro)">
          {{ "PERFIL.MODALONEPOINTS.FIDELIDADETITLE" | translate }}
        </ion-label>
      </ion-col>
      <!--mostra quantos serviços tem na fidelidade-->
      <ion-col size="4">
        <ng-container *ngIf="this.servicosFidelidade.servicos?.length == 1">
          <ion-label class="onepoints">
            {{ this.servicosFidelidade?.servicos?.length }}
            {{ "PERFIL.MODALONEPOINTS.SERVICO" | translate }}
          </ion-label>
        </ng-container>

        <ng-container *ngIf="this.servicosFidelidade.servicos?.length >= 2">
          <ion-label class="onepoints">
            {{ this.servicosFidelidade?.servicos?.length }}
            {{ "PERFIL.MODALONEPOINTS.SERVICOS" | translate }}
          </ion-label>
        </ng-container>
      </ion-col>
    </ion-row>
    <br />

    <div *ngIf="this.servicosFidelidade.servicos?.length == 0" class="aviso">
      <ion-icon
        style="margin-right: 4px; padding-top: 2px; transform: scale(1.2)"
        name="alert-circle-outline"
      ></ion-icon>
      <ion-label>
        {{ "PERFIL.MODALONEPOINTS.SEMPARTICIPACAO" | translate }}
      </ion-label>
    </div>

    <ng-container
      *ngFor="let servico of servicosFidelidade?.servicos; let i = index"
    >
      <ion-row style="justify-content: center">
        <ion-col>
          <ion-label class="smaller" style="color: var(--cor-texto-escuro)">
            {{ "PERFIL.GANHE" | translate }}
            <span style="font-weight: 800">{{ servico?.nomeServico }}</span>
            {{ "PERFIL.GANHEACADA" | translate }}
            {{ servico?.quantidadeParaGanhar }}
          </ion-label>
        </ion-col>

        <!--barra de progresso-->
        <ion-col size="3.5" style="align-self: center">
          <ion-progress-bar
            class="progressbar"
            [value]="getPorcentagem(i)"
          ></ion-progress-bar>
        </ion-col>

        <ion-col size="2" style="align-self: center">
          <ion-label class="smaller"
            >{{ servico?.quantidadeAtual }} /
            {{ servico?.quantidadeParaGanhar }}</ion-label
          >
        </ion-col>
      </ion-row>

      <ion-row style="justify-content: center; padding-bottom: 10px">
        <ion-text style="font-size: 10px; color: var(--cor-texto-escuro)">
          ({{ "PERFIL.MODALONEPOINTS.PONTOEXPIRA" | translate }}
          {{ servico.diasParaVencer }}
          {{ "PERFIL.MODALONEPOINTS.DIA" | translate }})
        </ion-text>
      </ion-row>
    </ng-container>

    <ion-row
      *ngIf="
        this.servicosFidelidade?.possuiFidelidade &&
        this.servicosFidelidade.servicos?.length > 0
      "
      class="importante"
    >
      <ion-col>
        <ion-text style="color: var(--cor-texto-escuro); font-size: smaller">
          <span style="font-weight: bold">{{
            "PERFIL.MODALONEPOINTS.IMPORTANTE" | translate
          }}</span>
          {{ "PERFIL.MODALONEPOINTS.REGRAS" | translate }}
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>

<ion-footer  class="ion-no-border backgroundFooterApp">

  <ion-row >
    <ion-col style="text-align: -webkit-center">
      <ion-button
      expand="block"
      type="submit"
      (click)="closeModal()"
      style="width: 40%; color: var(--cor-texto-botaoAgendar); --background: var(--cor-fundo-botaoAgendar);"
    >
      {{
        "PERFIL.MODALONEPOINTS.BUTTON.FECHAR" | translate
      }}
    </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
