.input {
  border: 0.5px solid #c1c1c1;

  display: flex;
  align-items: center;
}

.f-label {
  padding-top: 3px;
}

.show-password-btn {
  display: flex;
  align-items: flex-end;

  .input-password {
    border: 0.5px solid #c1c1c1;
    border-right: none;
    border-radius: 5px 0px 0px 5px;
    width: 100%;
    display: flex;
    align-items: center;
  }

  ion-button::part(native) {
    border: 0.5px solid var(--cor-fundo-botaoAgendar) !important;
    border-left: none !important;
    border-radius: 0px 5px 5px 0px !important;
    padding: 18px !important;
    //right: 5px !important;
    top: 2px !important;
    width: 65px !important;
  }
}

ion-toolbar {
  --background: var(--cor-fundo-barraTopo);
}
