.aviso-nao-tem {
  width: 100%;
  display: flex;
  justify-content: center;
  color: #818181;
  padding-left: 4%;
  padding-right: 4%;
}
.tam-icone-i {
  transform: scale(1.2);
}
.segment {
  background-color: var(--ion-color-primary);
}
.segmentSecundary {
  background-color: var(--ion-color-primary);
}

ion-segment-button {
  min-width: 0px;
}
.safeArea{
  top: env(safe-area-inset-top)
}


.pesquisar-estabelecimento {
  display: flex;
  flex-direction: column;

  ion-label {
    color: #888888;
    margin-bottom: 4px;
  }

  kendo-autocomplete {
    width: 100%;
  }
}

.lista {
  display: flex;
  flex-direction: column;

  img {
    width: auto;
    height: auto;
  }

  ion-thumbnail::part(image) {
    width: auto;
    height: auto;
  }
}

ion-item {
  cursor: pointer;
}

.nomeEmpresa {
  font-size: 14px;
}

.dados {
  color: gray;
  font-size: 10px;
}
.nomeEmpresaExclusivo {
  font-size: 18px;
}

.dadosExclusivo {
  color: gray;
  font-size: 14px;
}

.dadosExclusivo {
  color: gray;
  font-size: 13px;
}
.nomeEmpresaExclusivo {
  font-size: 18px;
  font-weight: bold;
}

.dadosExclusivo {
  color: gray;
  font-size: 15px;
}

ion-toolbar {
  --background: var(--cor-fundo-barraTopo);
}
