<ng-container
  *ngIf="basehref == 'OneApp' || appIdExclusivo == 1; else templateAppExlcusivo"
>
  <ion-header mode="md">
    <ion-toolbar>
      <ion-title style="color: var(--cor-texto-barraTopo)">
        {{ "LOGIN.MODALESTABELECIMENTO.TITLE" | translate }}
      </ion-title>
      <!--  <ion-buttons slot="primary">
        <ion-button (click)="closeModal()">
          <ion-icon
            name="close"
            slot="icon-only"
            style="transform: scale(1)"
          ></ion-icon>
        </ion-button>
      </ion-buttons>
      -->
    </ion-toolbar>
  </ion-header>
  <ion-content class="backgroundContentApp">
    <ion-grid fixed>
      <ion-row>
        <ion-col class="pesquisar-estabelecimento ion-padding" size="12">
          <ion-label class="colorTextApp">{{
            "LOGIN.PESQUISARESTABELECIMENTO" | translate
          }}</ion-label>
          <kendo-autocomplete
            [data]="listaPesquisados"
            [filterable]="true"
            (filterChange)="pesquisaEmpresa($event)"
            [valueField]="'nomeEmpresaFilial'"
            [value]="null"
            (valueChange)="onSelecionarEmpresa($event)"
          >
            <ng-template kendoAutoCompleteItemTemplate let-dataItem>
              <ion-item style="width: 100%">
                <ion-thumbnail
                  slot="start"
                  style="
                    width: auto;
                    height: auto;
                    max-width: 60px;
                    max-height: 50px;
                  "
                >
                  <img src="{{ dataItem.logoMarca || semLogo }}" />
                </ion-thumbnail>
                <div class="EmpresaContainer">
                  <div class="nomeEmpresa colorTextApp">
                    <ion-label>{{ dataItem.nomeEmpresaFilial }}</ion-label>
                  </div>
                  <div class="dados colorTextApp"  style="padding-top: 5px">
                    <ion-label
                      >{{ dataItem.endereco }}, {{ dataItem.numero }}</ion-label
                    >
                  </div>
                  <div class="dados colorTextApp">
                    <ion-label
                      >{{ dataItem.bairro }}, {{ dataItem.cidade }} -
                      {{ dataItem.estado }}</ion-label
                    >
                  </div>
                </div>
              </ion-item>
            </ng-template>
          </kendo-autocomplete>
        </ion-col>
      </ion-row>
      <!-- BOTÕES DE ULTIMOS ACESSOS E PROXIMOS A VOCÊ -->
      <ion-row>
        <ion-col
          id="1"
          class="ion-padding"
          size="12"
          style="padding-bottom: 5px; padding-top: 0"
        >
          <ion-segment
            mode="ios"
            color="primary"
            class="segment"
            [(ngModel)]="segment"
            (ionChange)="segmentChanged($event)"
            (click)="desativarSegmentSecundary()"
          >
            <ion-segment-button
              [ngStyle]="{
                color: segment == 'ultimosacessos' ? 'var(--cor-texto-escuro)' : 'var(--cor-texto-claro)'
              }"
              id="ultimosacessos"
              value="ultimosacessos"
            >
              <ion-label>{{ "LOGIN.ULTIMOSACESSOS" | translate }}</ion-label>
            </ion-segment-button>
            <ion-segment-button
              [ngStyle]="{
                color: segment == 'proximosdevoce' ? 'var(--cor-texto-escuro)' : 'var(--cor-texto-claro)'
              }"
              id="proximosdevoce"
              value="proximosdevoce"
            >
              <ion-label>{{ "LOGIN.PROXIMOSAVOCE" | translate }}</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-col>
      </ion-row>
      <!-- BOTÕES DE SALÃO, BARBEARIA, ESTÉTICA E TATUAGEM -->
      <ion-row>
        <ion-col
          id="2"
          class="ion-padding"
          size="12"
          style="padding-top: 0px; padding-bottom: 0"
        >
          <ion-segment
            mode="ios"
            color="primary"
            class="segmentSecundary"
            [(ngModel)]="segmentSecundary"
            (ionChange)="segmentChangedSecundary($event)"
          >
            <ion-segment-button
              [ngStyle]="{
                color: segmentSecundary == 'salao' ? 'var(--cor-texto-escuro)' : 'var(--cor-texto-claro)'
              }"
              id="salao"
              value="salao"
            >
              <ion-label style="font-size: 12px">
                {{ "LOGIN.ESCOLHERESTABELECIMENTOSALAO" | translate }}
              </ion-label>
            </ion-segment-button>

            <ion-segment-button
              [ngStyle]="{
                color: segmentSecundary == 'barbearia' ? 'var(--cor-texto-escuro)' : 'var(--cor-texto-claro)'
              }"
              id="barbearia"
              value="barbearia"
            >
              <ion-label style="font-size: 12px">
                {{ "LOGIN.ESCOLHERESTABELECIMENTOBARBEARIA" | translate }}
              </ion-label>
            </ion-segment-button>

            <ion-segment-button
              [ngStyle]="{
                color: segmentSecundary == 'estetica' ? 'var(--cor-texto-escuro)' : 'var(--cor-texto-claro)'
              }"
              id="estetica"
              value="estetica"
            >
              <ion-label style="font-size: 12px">
                {{ "LOGIN.ESCOLHERESTABELECIMENTOESTETICA" | translate }}
              </ion-label>
            </ion-segment-button>

            <ion-segment-button
              [ngStyle]="{
                color: segmentSecundary == 'tatuagem' ? 'var(--cor-texto-escuro)' : 'var(--cor-texto-claro)'
              }"
              id="tatuagem"
              value="tatuagem"
            >
              <ion-label style="font-size: 12px">
                {{ "LOGIN.ESCOLHERESTABELECIMENTOTATUAGEM" | translate }}
              </ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-col>
      </ion-row>

      <ion-row style="height: 100%">
        <!-- MOSTRAR TODOS OS ULTIMOS ESTABELECIMENTOS ACESSADOS -->
        <div
          style="width: 100%; height: 100%"
          *ngIf="segment == 'ultimosacessos' && segmentSecundary == null"
        >
          <ion-col size="12">
            <ion-list
              class="lista"
              *ngIf="ultimosAcessos?.length > 0; else naoTemAcessos"
            >
              <ion-item *ngFor="let empresa of ultimosAcessos">
                <ion-thumbnail
                  (click)="onSelecionarEmpresa(empresa)"
                  slot="start"
                >
                  <img src="{{ empresa.logoMarca || semLogo }}" />
                </ion-thumbnail>
                <div
                  class="EmpresaContainer colorTextApp"
                  (click)="onSelecionarEmpresa(empresa)"
                  style="width: 100%"
                >
                  <div class="nomeEmpresa colorTextApp">
                    <ion-label>{{ empresa.nomeEmpresaFilial }}</ion-label>
                  </div>
                  <div class="dados colorTextApp" style="padding-top: 5px">
                    <ion-label
                      >{{ empresa.endereco }}, {{ empresa.numero }}</ion-label
                    >
                  </div>
                  <div class="dados colorTextApp">
                    <ion-label
                      >{{ empresa.bairro }}, {{ empresa.cidade }} -
                      {{ empresa.estado }}</ion-label
                    >
                  </div>
                </div>
                <ion-button
                  (click)="desvincularEmpresa(empresa)"
                  fill="clear"
                  color="medium"
                  slot="end"
                >
                  <ion-icon
                    name="close"
                    slot="icon-only"
                    style="transform: scale(1)"
                  ></ion-icon>
                </ion-button>
              </ion-item>
            </ion-list>
            <ng-template #naoTemAcessos>
              <ion-row class="aviso-nao-tem colorTextApp">
                <ion-col size="auto">
                  <ion-icon
                    class="tam-icone-i"
                    name="alert-circle-outline"
                  ></ion-icon>
                </ion-col>
                <ion-col size="11">
                  {{ "LOGIN.NAOTEMEMPRESASACESSADAS" | translate }}
                </ion-col>
              </ion-row>
            </ng-template>
          </ion-col>
        </div>
        <!-- MOSTRAR OS ULTIMOS SALÕES ACESSADOS -->
        <div
          style="width: 100%; height: 100%"
          *ngIf="segment == 'ultimosacessos' && segmentSecundary == 'salao'"
        >
          <ion-col size="12">
            <ion-list
              class="lista"
              *ngIf="ultimosAcessosAux?.length > 0; else naoTemAcessos"
            >
              <ion-item *ngFor="let empresa of ultimosAcessosAux">
                <ion-thumbnail
                  (click)="onSelecionarEmpresa(empresa)"
                  slot="start"
                >
                  <img src="{{ empresa.logoMarca || semLogo }}" />
                </ion-thumbnail>
                <div
                  class="EmpresaContainer colorTextApp"
                  (click)="onSelecionarEmpresa(empresa)"
                  style="width: 100%"
                >
                  <div class="nomeEmpresa colorTextApp">
                    <ion-label>{{ empresa.nomeEmpresaFilial }}</ion-label>
                  </div>
                  <div class="dados colorTextApp" style="padding-top: 5px">
                    <ion-label
                      >{{ empresa.endereco }}, {{ empresa.numero }}</ion-label
                    >
                  </div>
                  <div class="dados colorTextApp">
                    <ion-label
                      >{{ empresa.bairro }}, {{ empresa.cidade }} -
                      {{ empresa.estado }}</ion-label
                    >
                  </div>
                </div>
                <ion-button
                  (click)="desvincularEmpresa(empresa)"
                  fill="clear"
                  color="medium"
                  slot="end"
                >
                  <ion-icon
                    name="close"
                    slot="icon-only"
                    style="transform: scale(1)"
                  ></ion-icon>
                </ion-button>
              </ion-item>
            </ion-list>
            <ng-template #naoTemAcessos>
              <ion-row class="aviso-nao-tem colorTextApp">
                <ion-col size="auto">
                  <ion-icon
                    class="tam-icone-i"
                    name="alert-circle-outline"
                  ></ion-icon>
                </ion-col>
                <ion-col size="11">
                  {{ "LOGIN.NAOTEMSALOESACESSADOS" | translate }}
                </ion-col>
              </ion-row>
            </ng-template>
          </ion-col>
        </div>
        <!-- MOSTRAR AS ULTIMAS BARBEARIAS ACESSADOS -->
        <div
          style="width: 100%; height: 100%"
          *ngIf="segment == 'ultimosacessos' && segmentSecundary == 'barbearia'"
        >
          <ion-col size="12">
            <ion-list
              class="lista"
              *ngIf="ultimosAcessosAux?.length > 0; else naoTemAcessos"
            >
              <ion-item *ngFor="let empresa of ultimosAcessosAux">
                <ion-thumbnail
                  (click)="onSelecionarEmpresa(empresa)"
                  slot="start"
                >
                  <img src="{{ empresa.logoMarca || semLogo }}" />
                </ion-thumbnail>
                <div
                  class="EmpresaContainer colorTextApp"
                  (click)="onSelecionarEmpresa(empresa)"
                  style="width: 100%"
                >
                  <div class="nomeEmpresa colorTextApp">
                    <ion-label>{{ empresa.nomeEmpresaFilial }}</ion-label>
                  </div>
                  <div class="dados colorTextApp" style="padding-top: 5px">
                    <ion-label
                      >{{ empresa.endereco }}, {{ empresa.numero }}</ion-label
                    >
                  </div>
                  <div class="dados colorTextApp" >
                    <ion-label
                      >{{ empresa.bairro }}, {{ empresa.cidade }} -
                      {{ empresa.estado }}</ion-label
                    >
                  </div>
                </div>
                <ion-button
                  (click)="desvincularEmpresa(empresa)"
                  fill="clear"
                  color="medium"
                  slot="end"
                >
                  <ion-icon
                    name="close"
                    slot="icon-only"
                    style="transform: scale(1)"
                  ></ion-icon>
                </ion-button>
              </ion-item>
            </ion-list>
            <ng-template #naoTemAcessos>
              <ion-row  class="aviso-nao-tem colorTextApp">
                <ion-col size="auto">
                  <ion-icon
                    class="tam-icone-i"
                    name="alert-circle-outline"
                  ></ion-icon>
                </ion-col>
                <ion-col size="11">
                  {{ "LOGIN.NAOTEMBARBEARIASACESSADAS" | translate }}
                </ion-col>
              </ion-row>
            </ng-template>
          </ion-col>
        </div>
        <!-- MOSTRAR AS ULTIMAS CLINICAS DE ESTETICA ACESSADOS -->
        <div
          style="width: 100%; height: 100%"
          *ngIf="segment == 'ultimosacessos' && segmentSecundary == 'estetica'"
        >
          <ion-col size="12">
            <ion-list
              class="lista"
              *ngIf="ultimosAcessosAux?.length > 0; else naoTemAcessos"
            >
              <ion-item *ngFor="let empresa of ultimosAcessosAux">
                <ion-thumbnail
                  (click)="onSelecionarEmpresa(empresa)"
                  slot="start"
                >
                  <img src="{{ empresa.logoMarca || semLogo }}" />
                </ion-thumbnail>
                <div
                  class="EmpresaContainer colorTextApp"
                  (click)="onSelecionarEmpresa(empresa)"
                  style="width: 100%"
                >
                  <div class="nomeEmpresa colorTextApp">
                    <ion-label>{{ empresa.nomeEmpresaFilial }}</ion-label>
                  </div>
                  <div class="dados colorTextApp" style="padding-top: 5px">
                    <ion-label
                      >{{ empresa.endereco }}, {{ empresa.numero }}</ion-label
                    >
                  </div>
                  <div class="dados colorTextApp">
                    <ion-label
                      >{{ empresa.bairro }}, {{ empresa.cidade }} -
                      {{ empresa.estado }}</ion-label
                    >
                  </div>
                </div>
                <ion-button
                  (click)="desvincularEmpresa(empresa)"
                  fill="clear"
                  color="medium"
                  slot="end"
                >
                  <ion-icon
                    name="close"
                    slot="icon-only"
                    style="transform: scale(1)"
                  ></ion-icon>
                </ion-button>
              </ion-item>
            </ion-list>
            <ng-template #naoTemAcessos>
              <ion-row class="aviso-nao-tem colorTextApp">
                <ion-col size="auto">
                  <ion-icon
                    class="tam-icone-i"
                    name="alert-circle-outline"
                  ></ion-icon>
                </ion-col>
                <ion-col size="11">
                  {{ "LOGIN.NAOTEMCLINICASACESSADAS" | translate }}
                </ion-col>
              </ion-row>
            </ng-template>
          </ion-col>
        </div>
        <!-- MOSTRAR OS ULTIMOS ESTUDIOS DE TATUAGEM ACESSADOS -->
        <div
          style="width: 100%; height: 100%"
          *ngIf="segment == 'ultimosacessos' && segmentSecundary == 'tatuagem'"
        >
          <ion-col size="12">
            <ion-list
              class="lista"
              *ngIf="ultimosAcessosAux?.length > 0; else naoTemAcessos"
            >
              <ion-item *ngFor="let empresa of ultimosAcessosAux">
                <ion-thumbnail
                  (click)="onSelecionarEmpresa(empresa)"
                  slot="start"
                >
                  <img src="{{ empresa.logoMarca || semLogo }}" />
                </ion-thumbnail>
                <div
                  class="EmpresaContainer colorTextApp"
                  (click)="onSelecionarEmpresa(empresa)"
                  style="width: 100%"
                >
                  <div class="nomeEmpresa colorTextApp">
                    <ion-label>{{ empresa.nomeEmpresaFilial }}</ion-label>
                  </div>
                  <div class="dados colorTextApp" style="padding-top: 5px">
                    <ion-label
                      >{{ empresa.endereco }}, {{ empresa.numero }}</ion-label
                    >
                  </div>
                  <div class="dados colorTextApp">
                    <ion-label
                      >{{ empresa.bairro }}, {{ empresa.cidade }} -
                      {{ empresa.estado }}</ion-label
                    >
                  </div>
                </div>
                <ion-button
                  (click)="desvincularEmpresa(empresa)"
                  fill="clear"
                  color="medium"
                  slot="end"
                >
                  <ion-icon
                    name="close"
                    slot="icon-only"
                    style="transform: scale(1)"
                  ></ion-icon>
                </ion-button>
              </ion-item>
            </ion-list>
            <ng-template #naoTemAcessos>
              <ion-row class="aviso-nao-tem colorTextApp">
                <ion-col size="auto">
                  <ion-icon
                    class="tam-icone-i"
                    name="alert-circle-outline"
                  ></ion-icon>
                </ion-col>
                <ion-col size="11">
                  {{ "LOGIN.NAOTEMESTUDIOSACESSADOS" | translate }}
                </ion-col>
              </ion-row>
            </ng-template>
          </ion-col>
        </div>
        <!-- MOSTRAR TODOS ESTABELECIMENTOS PRÓXIMOS -->
        <div
          style="width: 100%; height: 100%"
          *ngIf="segment == 'proximosdevoce' && segmentSecundary == null"
        >
          <ion-col size="12">
            <ion-list
              class="lista"
              *ngIf="listaEmpresasProximas?.length > 0; else naoTemProximas"
            >
              <ion-item
                (click)="onSelecionarEmpresa(empresa)"
                *ngFor="let empresa of listaEmpresasProximas"
              >
                <ion-thumbnail slot="start">
                  <img src="{{ empresa.logoMarca || semLogo }}" />
                </ion-thumbnail>
                <div class="EmpresaContainer colorTextApp">
                  <div class="nomeEmpresa colorTextApp">
                    <ion-label>{{ empresa.nomeEmpresaFilial }}</ion-label>
                  </div>
                  <div class="dados colorTextApp" style="padding-top: 5px">
                    <ion-label
                      >{{ empresa.endereco }}, {{ empresa.numero }}</ion-label
                    >
                  </div>
                  <div class="dados colorTextApp">
                    <ion-label
                      >{{ empresa.bairro }}, {{ empresa.cidade }} -
                      {{ empresa.estado }}</ion-label
                    >
                  </div>
                  <div class="dados colorTextApp">
                    <ion-label
                      >{{ "LOGIN.DISTANCIA" | translate }}
                      {{ empresa.distancia }} Km</ion-label
                    >
                  </div>
                </div>
              </ion-item>
            </ion-list>
            <ng-template #naoTemProximas>
              <ion-row class="aviso-nao-tem colorTextApp">
                <ion-col size="auto">
                  <ion-icon
                    class="tam-icone-i"
                    name="alert-circle-outline"
                  ></ion-icon>
                </ion-col>
                <ion-col size="11">
                  {{ "LOGIN.NAOTEMEMPRESASPROXIMAS" | translate }}
                </ion-col>
              </ion-row>
            </ng-template>
          </ion-col>
        </div>
        <!-- MOSTRAR APENAS OS SALÕES PRÓXIMOS -->
        <div
          style="width: 100%; height: 100%"
          *ngIf="segment == 'proximosdevoce' && segmentSecundary == 'salao'"
        >
          <ion-col size="12">
            <ion-list
              class="lista"
              *ngIf="listaEmpresasProximasAux?.length > 0; else naoTemProximas"
            >
              <ion-item
                (click)="onSelecionarEmpresa(empresa)"
                *ngFor="let empresa of listaEmpresasProximasAux"
              >
                <ion-thumbnail slot="start">
                  <img src="{{ empresa.logoMarca || semLogo }}" />
                </ion-thumbnail>
                <div class="EmpresaContainer colorTextApp">
                  <div class="nomeEmpresa colorTextApp">
                    <ion-label>{{ empresa.nomeEmpresaFilial }}</ion-label>
                  </div>
                  <div class="dados colorTextApp" style="padding-top: 5px">
                    <ion-label
                      >{{ empresa.endereco }}, {{ empresa.numero }}</ion-label
                    >
                  </div>
                  <div class="dados colorTextApp">
                    <ion-label
                      >{{ empresa.bairro }}, {{ empresa.cidade }} -
                      {{ empresa.estado }}</ion-label
                    >
                  </div>
                  <div class="dados colorTextApp">
                    <ion-label
                      >{{ "LOGIN.DISTANCIA" | translate }}
                      {{ empresa.distancia }} Km</ion-label
                    >
                  </div>
                </div>
              </ion-item>
            </ion-list>
            <ng-template #naoTemProximas>
              <ion-row class="aviso-nao-tem colorTextApp">
                <ion-col size="auto">
                  <ion-icon
                    class="tam-icone-i"
                    name="alert-circle-outline"
                  ></ion-icon>
                </ion-col>
                <ion-col size="11">
                  {{ "LOGIN.NAOTEMSALOESPROXIMOS" | translate }}
                </ion-col>
              </ion-row>
            </ng-template>
          </ion-col>
        </div>
        <!-- MOSTRAR APENAS AS BARBEARIAS PRÓXIMAS -->
        <div
          style="width: 100%; height: 100%"
          *ngIf="segment == 'proximosdevoce' && segmentSecundary == 'barbearia'"
        >
          <ion-col size="12">
            <ion-list
              class="lista"
              *ngIf="listaEmpresasProximasAux?.length > 0; else naoTemProximas"
            >
              <ion-item
                (click)="onSelecionarEmpresa(empresa)"
                *ngFor="let empresa of listaEmpresasProximasAux"
              >
                <ion-thumbnail slot="start">
                  <img src="{{ empresa.logoMarca || semLogo }}" />
                </ion-thumbnail>
                <div class="EmpresaContainer colorTextApp">
                  <div class="nomeEmpresa colorTextApp">
                    <ion-label>{{ empresa.nomeEmpresaFilial }}</ion-label>
                  </div>
                  <div class="dados colorTextApp" style="padding-top: 5px">
                    <ion-label
                      >{{ empresa.endereco }}, {{ empresa.numero }}</ion-label
                    >
                  </div>
                  <div class="dados colorTextApp">
                    <ion-label
                      >{{ empresa.bairro }}, {{ empresa.cidade }} -
                      {{ empresa.estado }}</ion-label
                    >
                  </div>
                  <div class="dados colorTextApp">
                    <ion-label
                      >{{ "LOGIN.DISTANCIA" | translate }}
                      {{ empresa.distancia }} Km</ion-label
                    >
                  </div>
                </div>
              </ion-item>
            </ion-list>
            <ng-template #naoTemProximas>
              <ion-row class="aviso-nao-tem colorTextApp">
                <ion-col size="auto">
                  <ion-icon
                    class="tam-icone-i"
                    name="alert-circle-outline"
                  ></ion-icon>
                </ion-col>
                <ion-col size="11">
                  {{ "LOGIN.NAOTEMBARBEARIASPROXIMAS" | translate }}
                </ion-col>
              </ion-row>
            </ng-template>
          </ion-col>
        </div>
        <!-- MOSTRAR APENAS AS CLINICAS DE ESTETICA PRÓXIMAS -->
        <div
          style="width: 100%; height: 100%"
          *ngIf="segment == 'proximosdevoce' && segmentSecundary == 'estetica'"
        >
          <ion-col size="12">
            <ion-list
              class="lista"
              *ngIf="listaEmpresasProximasAux?.length > 0; else naoTemProximas"
            >
              <ion-item
                (click)="onSelecionarEmpresa(empresa)"
                *ngFor="let empresa of listaEmpresasProximasAux"
              >
                <ion-thumbnail slot="start">
                  <img src="{{ empresa.logoMarca || semLogo }}" />
                </ion-thumbnail>
                <div class="EmpresaContainer colorTextApp">
                  <div class="nomeEmpresa colorTextApp">
                    <ion-label>{{ empresa.nomeEmpresaFilial }}</ion-label>
                  </div>
                  <div class="dados colorTextApp" style="padding-top: 5px">
                    <ion-label
                      >{{ empresa.endereco }}, {{ empresa.numero }}</ion-label
                    >
                  </div>
                  <div class="dados colorTextApp">
                    <ion-label
                      >{{ empresa.bairro }}, {{ empresa.cidade }} -
                      {{ empresa.estado }}</ion-label
                    >
                  </div>
                  <div class="dados colorTextApp">
                    <ion-label
                      >{{ "LOGIN.DISTANCIA" | translate }}
                      {{ empresa.distancia }} Km</ion-label
                    >
                  </div>
                </div>
              </ion-item>
            </ion-list>
            <ng-template #naoTemProximas>
              <ion-row class="aviso-nao-tem colorTextApp">
                <ion-col size="auto">
                  <ion-icon
                    class="tam-icone-i"
                    name="alert-circle-outline"
                  ></ion-icon>
                </ion-col>
                <ion-col size="11">
                  {{ "LOGIN.NAOTEMCLINICASPROXIMAS" | translate }}
                </ion-col>
              </ion-row>
            </ng-template>
          </ion-col>
        </div>
        <!-- MOSTRAR APENAS OS ESTUDIOS DE TATUAGEM PRÓXIMOS -->
        <div
          style="width: 100%; height: 100%"
          *ngIf="segment == 'proximosdevoce' && segmentSecundary == 'tatuagem'"
        >
          <ion-col size="12">
            <ion-list
              class="lista"
              *ngIf="listaEmpresasProximasAux?.length > 0; else naoTemProximas"
            >
              <ion-item
                (click)="onSelecionarEmpresa(empresa)"
                *ngFor="let empresa of listaEmpresasProximasAux"
              >
                <ion-thumbnail slot="start">
                  <img src="{{ empresa.logoMarca || semLogo }}" />
                </ion-thumbnail>
                <div class="EmpresaContainer colorTextApp">
                  <div class="nomeEmpresa colorTextApp">
                    <ion-label>{{ empresa.nomeEmpresaFilial }}</ion-label>
                  </div>
                  <div class="dados colorTextApp" style="padding-top: 5px">
                    <ion-label
                      >{{ empresa.endereco }}, {{ empresa.numero }}</ion-label
                    >
                  </div>
                  <div class="dados colorTextApp">
                    <ion-label
                      >{{ empresa.bairro }}, {{ empresa.cidade }} -
                      {{ empresa.estado }}</ion-label
                    >
                  </div>
                  <div class="dados colorTextApp">
                    <ion-label
                      >{{ "LOGIN.DISTANCIA" | translate }}
                      {{ empresa.distancia }} Km</ion-label
                    >
                  </div>
                </div>
              </ion-item>
            </ion-list>
            <ng-template #naoTemProximas>
              <ion-row class="aviso-nao-tem colorTextApp">
                <ion-col size="auto">
                  <ion-icon
                    class="tam-icone-i"
                    name="alert-circle-outline"
                  ></ion-icon>
                </ion-col>
                <ion-col size="11">
                  {{ "LOGIN.NAOTEMESTUDIOSPROXIMOS" | translate }}
                </ion-col>
              </ion-row>
            </ng-template>
          </ion-col>
        </div>
      </ion-row>
    </ion-grid>
  </ion-content>
</ng-container>

<!-- APP EXCLUSIVO -->
<ng-template #templateAppExlcusivo>
  <ion-content scrollY="false">
    <ion-grid
      fixed
      style="
        background-image: var(--background-app);
        background-repeat: no-repeat;
        background-size: cover;
        overflow-y: scroll;
      "
    >
      <ion-row>
        <ion-col size="12" class="safeArea">
          <ng-container
            *ngIf="listaFiliaisExclusivos?.length > 0; else listaVazia"
          >
            <ion-row style="justify-content: center">
              <p
                style="
                  color: var(--cor-fontes-login);
                  font-weight: light;
                  margin: 10px 16px;
                "
              >
                Escolha uma unidade
              </p></ion-row
            >
            <ion-row>
              <ion-col>
                <ion-card class="backgroundCard"
                  button="true"
                  (click)="onSelecionarEmpresa(empresa)"
                  color="light"
                  *ngFor="let empresa of listaFiliaisExclusivos"
                >
                  <ion-card-content>
                    <ion-row>
                      <ion-col size="10">
                        <ion-row>
                          <p
                            style="
                              font-size: 18;
                              font-weight: bolder;
                              color: var(--ion-color-escolhaFiliais);
                            "
                          >
                            {{ empresa.nomeEmpresaFilial }}
                          </p>
                        </ion-row>
                        <ion-row class="colorTextApp" *ngIf="empresa.numero != 0">
                          <p style="font-size: 10; font-weight: light">
                            {{ empresa.endereco }}, {{ empresa.numero }}, {{empresa.complemento}}
                          </p>
                        </ion-row>
                        <ion-row class="colorTextApp" *ngIf="empresa.numero == 0">
                          <p style="font-size: 10; font-weight: light">
                            {{ empresa.endereco }}, {{ empresa.complemento }}
                          </p>
                        </ion-row>

                        <ion-row class="colorTextApp">
                          <p style="font-size: 10; font-weight: light">
                            {{ empresa.bairro }}, {{ empresa.cidade }} -
                            {{ empresa.estado }}
                          </p>
                        </ion-row>
                      </ion-col>

                      <ion-col
                        size="2"
                        style="
                          display: flex;
                          flex-direction: column;
                          justify-content: center;
                          align-items: center;
                        "
                      >
                        <ion-icon
                          name="chevron-forward-outline"
                          style="color: var(--ion-color-escolhaFiliais)"
                        ></ion-icon>
                      </ion-col>
                    </ion-row>
                  </ion-card-content>
                </ion-card>
              </ion-col>
            </ion-row>
          </ng-container>
          <ng-template #listaVazia>
            <ion-label class="colorTextApp"
              style="
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
              "
              ><ion-icon
                class="tam-icone-i"
                name="alert-circle-outline"
              ></ion-icon>
              Nao foram encontradas filiais.</ion-label
            >
          </ng-template>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ng-template>
