<ion-content class="backgroundContentApp">
  <ion-row
    style="
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 30px;
      padding-bottom: 30px;
      border-bottom: 1px solid var(--ion-color-primary);
      color: var(--cor-texto-barraTopo);
      justify-content: center;
      background-color: var(--cor-fundo-barraTopo);
    "
    >{{ "AGENDA.MODALS.AVALIARAPPMODAL.QUESTION" | translate }}</ion-row
  >
  <!-- <ion-row style="padding-top: 7.5px; justify-content: center;"> estrelinhas</ion-row> -->
  <ion-row style="padding-top: 7.5px; justify-content: center">
    <ion-col class="ion-text-center" size="12">
      <div class="stars" style="padding-top: 20px">
        <ion-icon name="star" style="color: gold"></ion-icon>
        <ion-icon name="star" style="color: gold"></ion-icon>
        <ion-icon name="star" style="color: gold"></ion-icon>
        <ion-icon name="star" style="color: gold"></ion-icon>
        <ion-icon name="star" style="color: gold"></ion-icon>
      </div>
    </ion-col>
  </ion-row>
  <ion-row
    style="
      padding-top: 30px;
      justify-content: center;
      color: #3d3d3d;
      font-weight: bold;
    "
  >
    {{ "AGENDA.MODALS.AVALIARAPPMODAL.TEXT" | translate }}</ion-row
  >
</ion-content>

<ion-footer class="backgroundFooterApp">
  <ion-row>
    <!-- <ion-col size="1.75"></ion-col> -->
    <ion-col size="6" style="padding: 0; padding-bottom: 5px; height: 50px">
      <ion-button
        id="mercado"
        class="back"
        type="cancel"
        (click)="openMarket()"
        expand="block"
        style="font-size: 15px; height: 100%"
      >
        <ng-container>{{
          "AGENDA.MODALS.AVALIARAPPMODAL.BUTTON.AVALIARAGORA" | translate
        }}</ng-container>
        <!-- <ng-container *ngIf="segment != 'servicos'">{{'AGENDA.MODALS.NOVOAGENDAMENTO.VOLTAR' | translate}}</ng-container> -->
      </ion-button>
    </ion-col>
    <!-- <ion-col size="1"></ion-col> -->
    <ion-col size="6" style="padding: 0; padding-bottom: 5px; height: 50px">
      <ion-button class="backgroundButtonApp"
        id="fechar"
        type="submit"
        (click)="closeModal()"
        expand="block"
        style="height: 100%; font-size: 15px"
      >
        <ng-container>{{
          "AGENDA.MODALS.AVALIARAPPMODAL.AVALIARDEPOIS" | translate
        }}</ng-container>
      </ion-button>
    </ion-col>
    <!-- <ion-col size="1.75"></ion-col> -->
  </ion-row>
</ion-footer>
