ion-footer {
  position: absolute;
  bottom: 0;
  height: 8vh;
  max-height: 80px;
  
}

ion-toolbar {
  --background: var(--cor-fundo-menushared);
  padding-bottom: 0 !important;
  --border-width: 0px !important
}

ion-col {
  margin: 0px;
  padding: 0px;
}

ion-icon {
  margin-bottom: 2px;
}

ion-label {
  font-size: 12px;
}

* {
  --box-shadow: none;
}

.ColunaIcones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn:hover,
button.button-native:hover,
ion-button:hover {
  color: var(--ion-color-primary) !important;
  --background-hover: var(--ion-color-primary) !important;
}
