<ion-card class="card backgroundCard colorTextApp">
  <ion-grid fixed>
    <ion-row class="ion-justify-content-end">
      <ion-col class="ion-text-end" size="6" >
        <!--{{getDaysName(date.getMonth(), date.getFullYear())}}-->
          <ion-text color="primary">{{data | date:"shortDate" | titlecase}}</ion-text>
      </ion-col>
      
    </ion-row>
    
    <!--caso seja apenas um produto, mostra:-->
    <ion-row *ngIf="produtos?.length == 1" class="card-title ion-justify-content-between">
      
      <!-- funções para utilizar quando existir o botão com a setinha para clicar para baixo para expandir detalhes
      <ion-col (click)="onClickDetalhesProdutos()" size="1">
        <ion-icon *ngIf="!mostrarDetalhesProdutos" name="caret-down-outline"></ion-icon>
        <ion-icon *ngIf="mostrarDetalhesProdutos" name="caret-up-outline"></ion-icon>
      </ion-col>
      -->

      <ion-col class="bold" size="6" >
        <ion-text color= "primary">
          {{'PERFIL.CARDHISTORICO.PRODUTOS'|translate}}
        </ion-text>
      </ion-col>

      <ion-col size="5" class="ion-text-end">  
      </ion-col>

    </ion-row>

    <!--caso seja mais de um produto, mostra:-->
    <ion-row *ngIf="produtos?.length > 1" class="card-title ion-justify-content-between">

      <!-- //funções para utilizar quando existir o botão com a setinha para clicar para baixo para expandir detalhes
      <ion-col (click)="onClickDetalhesProdutos()" size="1">
        <ion-icon *ngIf="!mostrarDetalhesProdutos" name="caret-down-outline"></ion-icon>
        <ion-icon *ngIf="mostrarDetalhesProdutos" name="caret-up-outline"></ion-icon>
      </ion-col>
      -->

      <ion-col class="bold" size="4" >
        <ion-text color= "primary">
          {{'PERFIL.CARDHISTORICO.PRODUTOS'|translate}}
        </ion-text>
      </ion-col>

      <ion-col size="7" class="ion-text-end">
        <ion-text color= "primary">
          {{'PERFIL.CARDHISTORICO.SUBTOTAL'|translate}}: {{getSubTotal(produtos) | currencyGlobal}}
        </ion-text>
          
      </ion-col>

    </ion-row>

    <!-- //tag para utilizar quando existir o botão com a setinha para clicar para baixo para expandir detalhes
    <ng-container *ngIf="mostrarDetalhesProdutos">
    -->
    <ion-row *ngFor="let p of produtos">
      <ion-col size="6">
        {{p.quantidadeProduto + 'x '}}
        {{p.nomeProduto}} 
      </ion-col>
      <ion-col size="2">
         
      </ion-col>
      <ion-col class="ion-align-self-end ion-text-end" size="4">
        {{p.valorProduto | currencyGlobal}}
      </ion-col>
    </ion-row>
    <!-- //tag para utilizar quando existir o botão com a setinha para clicar para baixo para expandir detalhes
    </ng-container>
    -->

    <!-- Caso exista pelo menos um produto e um serviço, quebra uma linha entre esses grupos para visualizar melhor -->

    <ng-container *ngIf="produtos?.length >= 1 && servicos?.length >= 1">
      <br>
    </ng-container>


    <!--caso seja apenas um produto, mostra:-->
    <ion-row *ngIf="servicos?.length == 1" class="card-title ion-justify-content-between">

      <!-- //funções para utilizar quando existir o botão com a setinha para clicar para baixo para expandir detalhes
      <ion-col (click)="onClickDetalhesServicos()" size="1">
        <ion-icon *ngIf="!mostrarDetalhesServicos" name="caret-down-outline"></ion-icon>
        <ion-icon *ngIf="mostrarDetalhesServicos" name="caret-up-outline"></ion-icon>
      </ion-col>
      -->

      <ion-col class="bold" size="6">
        <ion-text color= "primary">
          {{'PERFIL.CARDHISTORICO.SERVICOS'|translate}}
        </ion-text>
      </ion-col>
      
      <ion-col size="5" class="ion-text-end">
      </ion-col>
      
    </ion-row>

    <!--caso seja mais de um servico, mostra:-->
    <ion-row *ngIf="servicos?.length > 1" class="card-title ion-justify-content-between">

      <!-- //funções para utilizar quando existir o botão com a setinha para clicar para baixo para expandir detalhes
      <ion-col (click)="onClickDetalhesServicos()" size="1">
        <ion-icon *ngIf="!mostrarDetalhesServicos" name="caret-down-outline"></ion-icon>
        <ion-icon *ngIf="mostrarDetalhesServicos" name="caret-up-outline"></ion-icon>
      </ion-col>
      -->

      <ion-col class="bold" size="4">
        <ion-text color= "primary">
          {{'PERFIL.CARDHISTORICO.SERVICOS'|translate}}
        </ion-text>
      </ion-col>
      
      <ion-col size="7" class="ion-text-end">
        <ion-text color="primary">
          {{'PERFIL.CARDHISTORICO.SUBTOTAL'|translate}}: {{getSubTotal(servicos) | currencyGlobal}}
        </ion-text>
        
      </ion-col>
      
    </ion-row>

    <!-- //tag para utilizar quando existir o botão com a setinha para clicar para baixo para expandir detalhes
    <ng-container *ngIf="mostrarDetalhesServicos">
    -->
    <ion-row  *ngFor="let s of servicos">
      <ion-col size="5">
       {{s.nomeServico}}
      </ion-col>
      <ion-col class="nome" size="4">
        {{splitNome(s.nomeColaborador)}}
      </ion-col>
      <ion-col class="ion-align-self-start ion-text-end currency" size="3">
        {{s.valorServico | currencyGlobal}}
      </ion-col>
     </ion-row>
    <!-- //tag para utilizar quando existir o botão com a setinha para clicar para baixo para expandir detalhes
    </ng-container>
    -->


    <ion-row class="ion-justify-content-between">
      
      <ion-col class="bold" size="6">
        <br>
        <ion-text color="primary">
          {{'PERFIL.CARDHISTORICO.TOTAL'|translate}}
        </ion-text>
      </ion-col>

      <ion-col size="5" class="ion-text-end">
        <br>
        <ion-text color="primary">{{valorTotal | currencyGlobal}} </ion-text>
      </ion-col>

    </ion-row>
  </ion-grid>
  <!-- <ion-grid *ngFor="let h of historico">
    <ion-row class="ion-justify-content-start">
      <ion-col size="6">
        
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let s of h.servicos">
      <ion-col  size="6">
        <ion-row class="nome ion-no-padding">
          <ion-col size="12">
            {{s.nomeServico}}
          </ion-col>
        </ion-row>
        <ion-row class="ion-no-padding">
          <ion-col size="12">
            {{s.nomeColaborador}}
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col class="ion-align-self-start ion-text-end currency" size="6">
        {{s.valorServico | currencyGlobal}}
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let p of h.produtos">
      <ion-col size="6">
        {{p.nomeProduto}} 
      </ion-col>
      <ion-col class="ion-align-self-end ion-text-end" size="6">
        {{p.valorProduto | currencyGlobal}}
      </ion-col>
    </ion-row>
  </ion-grid> -->
</ion-card>