<ion-header>
  <ng-container>
    <ion-toolbar>
      <ion-title style="color: var(--cor-texto-barraTopo)">
        {{ "PERFIL.MODALEDITAR.ALTERARSENHA" | translate }}
      </ion-title>
      <ion-buttons slot="primary">
        <ion-button (click)="closeModal()">
          <ion-icon
            name="close"
            slot="icon-only"
            style="transform: scale(1.5); color: var(--cor-texto-barraTopo)"
          ></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ng-container>
</ion-header>

<ion-content class="backgroundContentApp">
  <ng-container>
    <ion-grid>
      <ion-row class="linha">
        <ion-col class="show" size="12" *ngIf="!gatilhoSenha">
          <kendo-floatinglabel
            text="{{ 'PERFIL.MODALEDITAR.SENHAATUAL' | translate }}"
          >
            <input
              [(ngModel)]="senhaAntiga"
              kendoTextBox
              class="input-password"
              type="{{ showPassword ? 'text' : 'password' }}"
              maxlength="20"
              style="width: 98% !important"
            />
            <ion-button
              style="margin-left: -5px"
              class="ion-align-self-end"
              fill="clear"
              color="medium"
              (click)="changePasswordVisibility()"
              style="margin-top: -38px !important"
            >
              <img
                style="height: 20px"
                *ngIf="!showPassword"
                src="https://oneproducao.blob.core.windows.net/one2/Icones/eye_closed_icon.svg"
              />
              <ion-icon *ngIf="showPassword" name="eye-outline"></ion-icon>
            </ion-button>
          </kendo-floatinglabel>
        </ion-col>
      </ion-row>

      <ion-row
        *ngIf="gatilhoSenha == true"
        style="
          padding: 4%;
          justify-content: left;
          padding-bottom: 0;
          font-size: 14px;
        "
      >
        <span style="color: var(--ion-color-primary)">
          {{ "PERFIL.MODALEDITAR.SENHAPADRAO" | translate }}
        </span>
      </ion-row>

      <ion-row class="linha">
        <ion-col class="show" size="12">
          <kendo-floatinglabel
            text="{{ 'PERFIL.MODALEDITAR.SENHA' | translate }}"
          >
            <input
              [(ngModel)]="novaSenha"
              kendoTextBox
              class="input-password"
              type="{{ showNewPassword ? 'text' : 'password' }}"
              maxlength="20"
              style="width: 98% !important"
            />
            <ion-button
              style="margin-left: -5px"
              class="ion-align-self-end"
              fill="clear"
              color="medium"
              (click)="changeNewPasswordVisibility()"
              style="margin-top: -38px !important"
            >
              <img
                style="height: 20px"
                *ngIf="!showNewPassword"
                src="https://oneproducao.blob.core.windows.net/one2/Icones/eye_closed_icon.svg"
              />
              <ion-icon *ngIf="showNewPassword" name="eye-outline"></ion-icon>
            </ion-button>
          </kendo-floatinglabel>
        </ion-col>
      </ion-row>
      <ion-row class="linha">
        <ion-col class="show" size="12">
          <kendo-floatinglabel
            text="{{ 'PERFIL.MODALEDITAR.CONFIRMAR' | translate }}"
          >
            <input
              [(ngModel)]="confirmarSenha"
              kendoTextBox
              class="input-password"
              type="{{ showNewPassword ? 'text' : 'password' }}"
              maxlength="20"
              style="width: 98% !important"
            />
            <ion-button
              style="margin-left: -5px"
              class="ion-align-self-end"
              fill="clear"
              color="medium"
              (click)="changeNewPasswordVisibility()"
              style="margin-top: -38px !important"
            >
              <img
                style="height: 20px"
                *ngIf="!showNewPassword"
                src="https://oneproducao.blob.core.windows.net/one2/Icones/eye_closed_icon.svg"
              />
              <ion-icon *ngIf="showNewPassword" name="eye-outline"></ion-icon>
            </ion-button>
          </kendo-floatinglabel>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>
</ion-content>

<ion-footer class="backgroundFooterApp">
  <ng-container>
    <ion-row class="global-footer-row">
      <ng-container>
        <ion-col size="6" class="global-footer-col-left">
          <ion-button
            type="submit"
            class="global-back-btn"
            (click)="closeModal()"
            expand="block"
          >
            {{ "PERFIL.MODALEDITAR.CANCELAR" | translate }}
          </ion-button>
        </ion-col>
        <ion-col size="6" class="global-footer-col-right">
          <ion-button
            type="submit"
            class="global-footer-btn backgroundButtonApp"
            (click)="alterarSenha()"
            expand="block"
          >
            {{ "PERFIL.MODALEDITAR.SALVARSENHA" | translate }}
          </ion-button>
        </ion-col>
      </ng-container>
    </ion-row>
  </ng-container>
</ion-footer>
