<ion-header mode="md">
  <ion-toolbar>
    <ion-title style="color: var(-cor-texto-barraTopo)">
      Atualizar Celular
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="closeModal()">
        <ion-icon
          name="close"
          slot="icon-only"
          style="transform: scale(1.5); color: var(-cor-texto-barraTopo)"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content scrollY="false">
  <ion-grid mode="md" style="margin: 3%">
    <!--    <div class="ion-text-end">-->
    <!--      <small>-->
    <!--        <span style="color: red;">*</span>-->
    <!--        <span style="color: #616161;">Campos Obrigatórios</span>-->
    <!--      </small>-->
    <!--    </div>-->
    <ion-row style="text-align: justify">
      <span style="color: #616161; font-size: 14px">
        Seu cadastro atual conta com um número de celular invalido, por favor
        atualize.
        <br /><br />
      </span>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <form *ngIf="getPhoneNumberForm" [formGroup]="getPhoneNumberForm">
        <ion-col>
          <kendo-floatinglabel text="Número Atual">
            <input
              disabled
              type="text"
              value="{{ celular }}"
              class="text_box"
              kendoTextBox
              (input)="setTelefoneMask($event)"
              maxlength="20"
            />
          </kendo-floatinglabel>
        </ion-col>
        <ion-col size="9">
          <kendo-floatinglabel text="* Insira um novo número">
            <input
              type="tel"
              class="text_box"
              formControlName="celular"
              kendoTextBox
              (input)="setTelefoneMask($event)"
              minlength="13"
              maxlength="20"
            />
          </kendo-floatinglabel>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validationMessages.celular">
              <div
                class="error-message"
                *ngIf="
                  getPhoneNumberForm.get('celular').hasError(validation.type) &&
                  (getPhoneNumberForm.get('celular').dirty ||
                    getPhoneNumberForm.get('celular').touched)
                "
              >
                <ion-icon name="information-circle-outline"></ion-icon>
                {{ validation.message | translate }}
              </div>
            </ng-container>
          </div>
        </ion-col>
      </form>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer mode="md">
  <ion-row style="margin: 5px">
    <ion-col class="ion-no-padding" size="12">
      <ion-button
        (click)="savePhoneNumber()"
        color="primary"
        expand="block"
        [disabled]="!getPhoneNumberForm.valid"
        style="margin: 0; height: 50px; color: var(--cor-texto-escuro)"
      >
        Salvar
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
