ion-button::part(native) {
  box-shadow: none;
}

ion-toolbar {
  --background: var(--cor-fundo-barraTopo);
  padding-top: 0px !important;
}

.noBorder {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  outline: none !important;
}
