ion-content {
  background-image: var(--background-app);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#CardPrincipal {
  width: 90vw;
  height: fit-content;
}

.Logo {
  width: var(--tamanho-logo);
  height: var(--tamanho-logo);
  background-image: var(--estabelecimento-logo);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.LogoLogin {
  width: var(--tamanho-logo-login);
  height: var(--tamanho-logo-login);
  background-image: var(--estabelecimento-logo);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.LoginInput {
  padding: 8px;
  width: 100%;
  border-radius: 6px;
  border: 1px solid var(--ion-color-primary);
  background-color: var(--cor-caixa-login);
  color: var(--cor-texto-caixa-login);
}
.logoGoogle{
  background-image: url('https://oneproducao.blob.core.windows.net/appnovo/appsExclusivos/icon-google.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.loginVisitante{
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
}

.BotoesLoginAlternativos {
  height: 43px;
}

.entDireto {
  height: 36px;
  background-color: rgba(255, 255, 255, 0.7);
}

.modal {
  width: 80%;
  height: 36px;
  align-self: center !important;
  border-radius: 4px;
  background-color: var(--ion-color-secondary);
}

.senha {
  justify-content: end !important;
  overflow-y: unset;
}

::ng-deep input:-webkit-autofill {
  -webkit-text-fill-color: var(--cor-texto-escuro) !important;
  box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0.7) inset !important;
  -webkit-box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0.7) inset !important;
  transition: background-color 5000s ease-in-out 0s !important;
}

::ng-deep #email > input {
  border-radius: 5px !important;
  height: 35px;
  padding-left: 10px;
}

::ng-deep #senha > input {
  border-radius: 5px !important;
  height: 35px;
  padding-left: 10px;
}

.textConfigCadastro {
  color: rgb(0, 0, 0);
  font-weight: bolder;
  cursor: pointer;
}

.saibamais {
  cursor: pointer;
}

.saiba-mais-col {
  margin-left: 9%;
}

.ion-color-facebook {
  --ion-color-base: var(--ion-color-facebook);
  --ion-color-base-rgb: var(--ion-color-facebook-rgb);
  --ion-color-contrast: var(--ion-color-facebook-contrast);
  --ion-color-contrast-rgb: var(--ion-color-facebook-contrast-rgb);
  --ion-color-shade: var(--ion-color-facebook-shade);
  --ion-color-tint: var(--ion-color-facebook-tint);
}

.ion-color-google {
  --ion-color-base: var(--ion-color-google);
  --ion-color-base-rgb: var(--ion-color-google-rgb);
  --ion-color-contrast: var(--ion-color-google-contrast);
  --ion-color-contrast-rgb: var(--ion-color-google-contrast-rgb);
  --ion-color-shade: var(--ion-color-google-shade);
  --ion-color-tint: var(--ion-color-google-tint);
}

.text-login-option {
  font-size: 14px;
  vertical-align: text-top;
}

.entrar-com {
  font-size: 14px;
  font-family: system-ui;
  color: white;
  cursor: default;
}

#botaoVoltar::part(native) {
  background-color: transparent;
  --background-activated: transparent;
  box-shadow: none !important;
}

.row-one-logo {
  height: 50%;
  display: flex;
  align-items: center;
}

@media screen and (max-height: 550px) {
  .LogoLogin {
    width: 0px !important;
    height: 0px !important;
    position: absolute;
  }
}
