<ion-list class="backgroundItemFooter">
  <ion-item class="ion-activatable ripple-parent backgroundItemFooter" button mode="md"
    [ngStyle]="{'color': active == 'receitas-apuradas' ? 'var(--cor-textoSelecionado-menushared)' : 'var(--cor-texto-menushared)'}"
    (click)="onClick('receitas-apuradas')">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-icon name="briefcase-outline"></ion-icon>
    <ion-label>{{'SHARED.MENU.RECEITASAPURADAS'|translate}}</ion-label>
  </ion-item>
  <ion-item class="ion-activatable ripple-parent backgroundItemFooter"  button mode="md"
    [ngStyle]="{'color': active == 'receitas-estimadas' ? 'var(--cor-textoSelecionado-menushared)' : 'var(--cor-texto-menushared)'}"
    (click)="onClick('receitas-estimadas')">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-icon name="briefcase-outline"></ion-icon>
    <ion-label>{{'SHARED.MENU.RECEITASESTIMADAS'|translate}}</ion-label>
  </ion-item>
  <ion-item class="ion-activatable ripple-parent backgroundItemFooter" button mode="md"
    [ngStyle]="{'color': active == 'clientes' ? 'var(--cor-textoSelecionado-menushared)' : 'var(--cor-texto-menushared)'}" (click)="onClick('clientes')">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-icon name="people-circle-outline"></ion-icon>
    <ion-label>{{'SHARED.MENU.CLIENTES'|translate}}</ion-label>
  </ion-item>
  <ion-item class="ion-activatable ripple-parent backgroundItemFooter" button mode="md"
    [ngStyle]="{'color': active == 'produtos' ? 'var(--cor-textoSelecionado-menushared)' : 'var(--cor-texto-menushared)'}" (click)="onClick('produtos')">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-icon name="flask-outline"></ion-icon>
    <ion-label>{{'SHARED.MENU.PRODUTOS'|translate}}</ion-label>
  </ion-item>
  <ion-item class="ion-activatable ripple-parent backgroundItemFooter" button mode="md"
    [ngStyle]="{'color': active == 'servicos' ? 'var(--cor-textoSelecionado-menushared)' : 'var(--cor-texto-menushared)'}" (click)="onClick('servicos')">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-icon name="cut-outline"></ion-icon>
    <ion-label>{{'SHARED.MENU.SERVICOS'|translate}}</ion-label>
  </ion-item>
  <ion-item class="ion-activatable ripple-parent backgroundItemFooter" button mode="md"
    [ngStyle]="{'color': active == 'faturamento' ? 'var(--cor-textoSelecionado-menushared)' : 'var(--cor-texto-menushared)'}"
    (click)="onClick('faturamento')">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-icon name="bar-chart-outline"></ion-icon>
    <ion-label>{{'SHARED.MENU.FATURAMENTO'|translate}}</ion-label>
  </ion-item>
  <ion-item class="ion-activatable ripple-parent backgroundItemFooter" button mode="md"
    [ngStyle]="{'color': active == 'lucratividade' ? 'var(--cor-textoSelecionado-menushared)' : 'var(--cor-texto-menushared)'}"
    (click)="onClick('lucratividade')">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-icon name="cellular-outline"></ion-icon>
    <ion-label>{{'SHARED.MENU.LUCRATIVIDADE'|translate}}</ion-label>
  </ion-item>
  <ion-item class="ion-activatable ripple-parent backgroundItemFooter" button mode="md"
    [ngStyle]="{'color': active == 'lucratividade-geral' ? 'var(--cor-textoSelecionado-menushared)' : 'var(--cor-texto-menushared)'}"
    (click)="onClick('lucratividade-geral')">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-icon name="podium-outline"></ion-icon>
    <ion-label>{{'SHARED.MENU.LUCRATIVIDADE GERAL'|translate}}</ion-label>
  </ion-item>

  <ion-item class="ion-activatable ripple-parent backgroundItemFooter" button mode="md"
    [ngStyle]="{'color': active == 'resumo-chatbot' ? 'var(--cor-textoSelecionado-menushared)' : 'var(--cor-texto-menushared)'}"
    *ngIf="temChatBot"
    (click)="onClick('resumo-chatbot')">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-icon name="chatbubbles-outline"></ion-icon>
    <ion-label>{{'SHARED.MENU.RESUMOCHATBOT'|translate}}</ion-label>
  </ion-item>

  <ion-item class="ion-activatable ripple-parent backgroundItemFooter" button mode="md"
    [ngStyle]="{'color': active == 'avaliacoes' ? 'var(--cor-textoSelecionado-menushared)' : 'var(--cor-texto-menushared)'}" lines="none"
    (click)="onClick('avaliacoes')">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-icon name="star-outline"></ion-icon>
    <ion-label>{{'SHARED.MENU.AVALIACOES'|translate}}</ion-label>
  </ion-item>

  <ion-item class="ion-activatable ripple-parent backgroundItemFooter" button mode="md"
  *ngIf="temAssinatura"
  [ngStyle]="{'color': active == 'avaliacoes' ? 'var(--cor-textoSelecionado-menushared)' : 'var(--cor-texto-menushared)'}" lines="none"
    (click)="onClick('assinaturas')" >
    <ion-ripple-effect></ion-ripple-effect>
    <ion-icon name="diamond-outline"></ion-icon>
    <!-- Precisa de Tradução! -->
    <ion-label>Assinaturas</ion-label>
  </ion-item>
</ion-list>
