.item-popup {
  margin-left: 5px;
}

.item-selected {
  margin-left: 0.09em;
  margin-top: 0.1em;
}

.icon-popup {
  display: inline-block;
  margin-left: 0;
  width: 100%;
}

.dropDown {
  width: 100px;
  height: 50px;
  border: 0;
}

span#k-4d725a4e-6c69-4264-ba92-886305069d45 {
  width: 100px;
  transform: scale(2);
}

.flag-icon {
  border-radius: 5px;
  -moz-transform: scale(1.8);
  transform: scale(1.8);
}