<kendo-dropdownlist
  #dropdownlist
  *ngIf="menuCountries"
  [data]="menuCountries"
  [textField]="'text'"
  [valueField]="'language'"
  [value]="selectedValue"
  (valueChange)="changeLanguage($event)"
  [valuePrimitive]="false"
  [popupSettings]="{ width: 75 }"
  style="width: 60px; border: 0; box-shadow: none"
>
  <ng-template class="dropDown" kendoDropDownListValueTemplate let-dataItem>
    <!-- <span class="{{dataItem.icon}} item-selected"></span>  -->
    <div class="item-selected">
      <div
        style="transform: scale(2)"
        class="{{ dataItem?.icon }} flag-icon"
      ></div>
    </div>
  </ng-template>

  <ng-template kendoDropDownListItemTemplate let-dataItem>
    <span class="{{ dataItem.icon }} icon-popup"></span>
    <span class="item-popup">{{ dataItem.text }}</span>
  </ng-template>
</kendo-dropdownlist>
