.input{
    border: 0.5px solid #c1c1c1;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.input-menor{
    width: calc(100% - 6px);
}

ion-content[bgLogin] {
    background-image: var(--background-app);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    --offset-top: 0px;
    --offset-bottom: 0px;
}

ion-card {
    width: 90%;
    max-width: 440px;
    max-height: 800px;
    margin: 10px auto 0 auto;
}

.buttons {
    display: flex;
    justify-content: center;
    width: 100%;
}

.show-password-btn {
    display: flex;
    align-items: flex-end;

    ion-button::part(native){
        border: 0.5px solid var(--cor-fundo-botaoAgendar) !important;
        border-left: none !important;
        border-radius: 0px 5px 5px 0px !important;
        padding: 18px !important;
        right: 5px !important;
        top: 2px !important;
        width: 65px !important;
    }
}

.LoginInput {
    padding: 8px;
    width: 100%;
    border-radius: 6px;
    border: 1px solid var(--ion-color-primary);
    background-color: var(--cor-caixa-login);
    color: var(--cor-texto-caixa-login);
  }
