.segment {
  background-color: var(--ion-color-primary);
}

.element-valor {
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
  color: var(--ion-color-primary);
}

ion-card {
  margin: 0 10px 10px 10px;
}

ion-grid > div {
  height: 72%;
}

@media screen and (max-width: 400px) {
  ion-segment-button {
    font-size: 11px;
  }
}

// iPhone 6/7/8
@media screen and (width: 375px) and (height: 667px) {
  ion-grid > div {
    max-height: 347px !important;
  }
}


// iPhone 6/7/8 Plus
@media screen and (width: 414px) and (height: 736px) {
  ion-grid > div {
    max-height: 414px !important;
  }
}

// iPhone X
@media screen and (width: 375px) and (height: 812px) {
  ion-grid > div {
    max-height: 491px !important;
  }
}


// iPhone 5
@media screen and (width: 320px) and (height: 568px) {
  ion-segment-button {
    font-size: 10px;
  }

  ion-grid > div {
    max-height: 247px !important;
  }

}

// Pixel 2 XL
@media screen and (width: 411px) and (height: 823px) {
  ion-grid > div {
    max-height: calc(env(safe-area-inset-bottom) + 72%) !important;
  }
}
