<ion-grid style="height: auto">
  <ion-row>
    <ion-col size="12">
      <app-data-toolbar
              [startDate]="startDate"
              [endDate]="endDate"
              (dateEmmiter)="receiveDate($event)"
      ></app-data-toolbar>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12" style="height: 36px; margin-bottom: 20px;">
      <ion-segment mode="ios" class="segment backgroundButtonApp" [(ngModel)]="relatorioClienteSegment"
                   (ionChange)="segmentChanged($event)">
        <ion-segment-button value="servico">
          <ion-label id="servico"
                     style="color: var(--cor-texto-escuro);">{{ 'RELATORIOS.RELATORIOCLIENTE.BUTTONSEGMENT.SERVICOS' | translate }}</ion-label>
        </ion-segment-button>
        <ion-segment-button value="produto">
          <ion-label id="produto"
                     style="color: var(--cor-texto-claro)">{{ 'RELATORIOS.RELATORIOCLIENTE.BUTTONSEGMENT.PRODUTOS' | translate }}</ion-label>
        </ion-segment-button>

        <ion-segment-button value="servicoProduto">
          <ion-label id="servicoProduto"
                     style="color: var(--cor-texto-claro)">{{ 'RELATORIOS.RELATORIOCLIENTE.BUTTONSEGMENT.SERVICOS' | translate }}
            + {{ 'RELATORIOS.RELATORIOCLIENTE.BUTTONSEGMENT.PRODUTOS' | translate }}</ion-label>
        </ion-segment-button>
      </ion-segment>

    </ion-col>
  </ion-row>

  <ng-container *ngIf="relatorioClienteSegment == 'servico' && clientesList != undefined">
    <div [ngStyle]="{'max-height': divContentHeight, 'overflow-y': 'auto'}">
      <ion-card class="backgroundCard colorTextApp" *ngFor="let element of clientesList.servicos; index as i">
        <ion-row>
          <ion-col size="6" style="padding: 20px; padding-right: 0">
            <span style="font-weight: bold; color: var(--ion-color-primary)">{{i + 1}}. </span> {{ element.nomeCliente }}
          </ion-col>
          <ion-col size="6" class="element-valor">
            {{ element.valor | currencyGlobal }}
          </ion-col>
        </ion-row>
      </ion-card>
    </div>
  </ng-container>
  <ng-container *ngIf="relatorioClienteSegment == 'produto' && clientesList != undefined">
    <div [ngStyle]="{'max-height': divContentHeight, 'overflow-y': 'auto'}">
      <ion-card class="backgroundCard colorTextApp" *ngFor="let element of clientesList.produtos; index as i">
        <ion-row>
          <ion-col size="6" style="padding: 20px; padding-right: 0">
            <span style="font-weight: bold; color: var(--ion-color-primary)">{{i + 1}}. </span> {{ element.nomeCliente }}
          </ion-col>
          <ion-col size="6" class="element-valor">
            {{ element.valor | currencyGlobal }}
          </ion-col>
        </ion-row>
      </ion-card>
    </div>
  </ng-container>
  <ng-container *ngIf="relatorioClienteSegment == 'servicoProduto' && clientesList != undefined">
    <div [ngStyle]="{'max-height': divContentHeight, 'overflow-y': 'auto'}">
      <ion-card class="backgroundCard colorTextApp" *ngFor="let element of clientesList.geral; index as i">
        <ion-row>
          <ion-col size="6" style="padding: 20px; padding-right: 0">
            <span style="font-weight: bold; color: var(--ion-color-primary)">{{i + 1}}. </span> {{ element.nomeCliente }}
          </ion-col>
          <ion-col size="6" class="element-valor">
            {{ element.valor | currencyGlobal }}
          </ion-col>
        </ion-row>
      </ion-card>
    </div>
  </ng-container>
</ion-grid>
