<ion-header>
  <ion-toolbar>
    <ion-title class="title" style="color: var(--cor-texto-barraTopo)">{{
      "AGENDA.EDITAROBSERVACAO" | translate
    }}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="closeModal()">
        <ion-icon
          name="close"
          slot="icon-only"
          style="transform: scale(1.5); color: var(--cor-texto-barraTopo)"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="backgroundContentApp" scrollY="false">
  <ion-row style="justify-content: center; height: 100%">
    <ion-col size="12" style="padding: 16px 20px">
      <kendo-floatinglabel
        style="color: var(--ion-color-primary)"
        text="{{
          'AGENDA.MODALS.NOVOAGENDAMENTOPROFISSIONAL.OBSERVACAO' | translate
        }}"
      >
        <textarea
          kendoTextArea
          maxlength="50"
          [(ngModel)]="observacao"
          class="observacao"
        ></textarea>
      </kendo-floatinglabel>
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer class="backgroundFooterApp" style="text-align: -webkit-center">
  <ion-row style="margin: 20px">
    <ion-col size="12" class="ion-no-padding" style="height: 50px">
      <ion-button class="backgroundButtonApp"
        [disabled]="
          observacao === undefined ||
          observacao === null ||
          observacao?.length === 0 ||
          observacao === observacaoInicial
        "
        type="submit"
        (click)="editarBloqueio()"
        expand="block"
        style="height: 50px; width: 100%; margin: 0"
      >
        <ng-container>Salvar</ng-container>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
