<ion-header>
  <ion-toolbar>
    <ion-title style="font-size: 1em; color: var(--cor-texto-barraTopo)">{{
      "LOGIN.SENHATEMPORARIA.TITLE" | translate
    }}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="closeModal()">
        <ion-icon
          name="close"
          slot="icon-only"
          style="transform: scale(1.5); color: var(--cor-texto-barraTopo)"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid fixed>
    <form [formGroup]="form">
      <ion-row class="ion-justify-content-center ion-padding-top">
        <ion-col class="input-btn-actual-password" size="10">
          <kendo-floatinglabel
            text="{{ 'LOGIN.SENHATEMPORARIA.SENHAATUAL' | translate }}"
          >
            <input
              formControlName="senhaAtual"
              kendoTextBox
              class=""
              style="
                border: 0.5px solid #c1c1c1;
                border-right: none;
                border-radius: 10px 0 0 10px;
                display: flex;
                align-items: center;
                width: 90% !important;
              "
              maxlength="20"
              type="{{ showPassword ? 'text' : 'password' }}"
            />

            <ion-button
              class="ion-align-self-end"
              fill="clear"
              color="medium"
              (click)="showPassword = !showPassword"
              style="
                margin-left: -5px;
                margin-top: -38px !important;
                width: 10% !important;
              "
            >
              <ion-icon
                *ngIf="!showPassword"
                src="https://oneproducao.blob.core.windows.net/one2/Icones/eye_closed_icon.svg"
              ></ion-icon>
              <ion-icon *ngIf="showPassword" name="eye-outline"></ion-icon>
            </ion-button>
          </kendo-floatinglabel>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="10">
          <kendo-floatinglabel
            text="{{ 'LOGIN.SENHATEMPORARIA.NOVASENHA' | translate }}"
          >
            <input
              formControlName="novaSenha"
              kendoTextBox
              class="input-password input"
              type="{{ showPassword ? 'text' : 'password' }}"
            />
          </kendo-floatinglabel>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="10">
          <kendo-floatinglabel
            text="{{ 'LOGIN.SENHATEMPORARIA.CONFIRMARSENHA' | translate }}"
          >
            <input
              formControlName="confirmarSenha"
              kendoTextBox
              class="input-password input"
              type="{{ showPassword ? 'text' : 'password' }}"
            />
          </kendo-floatinglabel>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-row style="margin: 20px">
      <ion-col size="12" class="ion-no-padding">
        <ion-button
          (click)="onCriarSenha()"
          disabled="{{ !form.valid }}"
          style="height: 50px; margin: 0"
          expand="block"
          color="primary"
        >
          {{ "LOGIN.CADASTRAR" | translate }}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
