ion-title {
  font-size: 15px;
  font-weight: bold;
  padding-right: 20px;
  padding-left: 10px;
}

ion-img {
  max-width: 6em;
  margin: 1em auto;
}

.text-info {
  color: gray;
  font-size: small;
}

ion-toolbar {
  --background: var(--cor-fundo-barraTopo);
}

ion-content{
  --ion-background-color: var(--background-color-geral)!important;
}
