<ion-list>
  <ion-item (click) = "editarInformacoes()" button mode = "md">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-icon name="create-sharp"></ion-icon>
    <ion-label> {{'AGENDA.MODALS.RESUMOAGENDAMENTO.POPOVERATENDIMENTO.EDITAR' | translate }}</ion-label>
  </ion-item>

  <ion-item (click)="excluirItem()" button mode = "md" *ngIf="tipoUsuario === 'colaborador'">   
    <ion-ripple-effect></ion-ripple-effect>
    <ion-icon name="close-circle-sharp"></ion-icon>
    <ion-label>{{'AGENDA.MODALS.RESUMOAGENDAMENTO.POPOVERATENDIMENTO.EXCLUIR' | translate }}</ion-label>
  </ion-item>

  <ion-item (click)="excluirTodosItem()" button mode="md" *ngIf="(tipoUsuario === 'colaborador') && ((!!elementoFicha.servicoId && listaServicosRegistrados?.length > 1) || (!!elementoFicha.produtoId && listaProdutosRegistrados?.length > 1))">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-icon name="trash-outline"></ion-icon>
    <ion-label>{{'AGENDA.MODALS.RESUMOAGENDAMENTO.POPOVERATENDIMENTO.EXCLUIRTODOSITENS' | translate }}</ion-label>
  </ion-item>

</ion-list>