<ion-header
  mode="md"
  style="background-color: var(--cor-fundo-barraTopo) !important"
>
  <ion-toolbar color="primary">
    <ion-row class="ion-justify-content-center">
    <span class="ion-justify-content-center ion-text-center titulo"
    style="
    align-items: center;
    color: var(--cor-texto-barraTopo);
    "
    >
    {{"AGENDA.MODALS.DETALHESCLIENTE.TITLE" |translate}}
</span>
    </ion-row>
    <ion-buttons slot="primary">
      <ion-button (click)="close()">
        <ion-icon
          name="close"
          slot="icon-only"textarea
          style="transform: scale(1.5); color: var(--cor-texto-barraTopo)"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="backgroundContentApp colorTextApp">
    <div>
        <form *ngIf="createClienteDetailForm" [formGroup]="createClienteDetailForm">
        <ion-col size="12">
            <div style="padding-left: 10px;">
                <span style="padding: 10px;"> {{"AGENDA.MODALS.DIASRETORNO.INFO"|translate}}</span>
            </div>

            <ion-row style=" height: 35%; margin: 5px; padding-left: 10px;">
                <kendo-floatinglabel
                text="{{'AGENDA.MODALS.DIASRETORNO.INCLUIRDETALHESCLIENTE'| translate}}"
            >
                    <textarea
                    kendoTextArea
                    maxlength="199"
                    style="
                    background-color: white;
                    width: 95% !important;
                    resize: none;
                    border-radius: 10px;
                    height: 100px !important;
                    color: rgb(85, 84, 84);
                    "
                    (valueChange)="setAtualLength($event)"
                    formControlName="cliente"
                ></textarea>
                <div style="font-size: 12px; color: #808080; text-align: end; padding-right: 15px; height: 1px !important;">
                    {{lengthTextArea}}/255
                </div>
            </kendo-floatinglabel>
            </ion-row>
            <ion-row style="width: 50%; margin: 5px; padding-left: 10px;">
                <kendo-floatinglabel text = "{{'AGENDA.MODALS.DIASRETORNO.INCLUIRDIASRETORNOCLIENTE'| translate}}" style="padding-bottom: 10%;">
                    <kendo-numerictextbox
                        [format]="'n'"
                        [step]="1"
                        style="
                            background-color: white;
                            width: 100% !important;
                            resize: none;
                            border-radius: 10px;
                            height: 50px !important;
                            color: rgb(85, 84, 84);
                        "
                        formControlName="retorno"
                        (click)="setKeyboardNumeric($event)"
                    ></kendo-numerictextbox>
                </kendo-floatinglabel>
            </ion-row>

        </ion-col>
    </form>
    </div>


</ion-content>
<ion-footer class="ion-no-border backgroundFooterApp" style="display: flex; justify-content: center;">
    <ion-button style="width: 95%;" (click)="salvar()">
        {{"AGENDA.MODALS.DIASRETORNO.SALVAR"|translate}}
    </ion-button>
</ion-footer>
  