.bloqueioButton::part(native) {
  background-color: transparent;
  color: var(--cor-fundo-botaoAgendar);
  box-shadow: none;
  border: 1px solid var(--cor-fundo-botaoAgendar);
}

.bloqueioButton:hover{
  background: var(--ion-color-primary-shade) !important ;
}

.horario-livre {
  color: var(--cor-texto-botaoAgendar);
  border: 1px solid var(--cor-fundo-botaoAgendar);
  padding: 10px;
  border-radius: 20px;
  background-color: var(--cor-fundo-botaoAgendar);
}

.flex-center {
  display: flex;
  align-items: center;
}

.btn0, .btn1 {
  color: black;
  border: 1px solid var(--ion-color-primary);
  border-radius: 5px;
  --box-shadow: none;
}

.btn0:hover{
  background: var(--ion-color-primary) !important;
  .icon-style{
    color:white !important;
  }
  ion-label{
    color: white !important;
  }
}

.btn1:hover{
  background: var(--ion-color-danger) !important;
  .icon-style-danger{
    color:white !important;
  }
  ion-label{
    color: white !important;
  }
}

.icon-style{
  transform: scale(1.2); 
  color: var(--cor-fundo-botaoAgendar);
}

.icon-style-danger{
  transform: scale(1.2); 
  color: var(--ion-color-danger);
}