.input {
  border: 0.5px solid #c1c1c1;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.f-label {
  padding-top: 3px;
}

.container {
  display: flex;
  height: 22.5vh !important;
}

.side {
  width: 50px;
  height: 22.5vh !important;
}

.middle {
  flex-grow: 1;
  height: 22.5vh !important;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.segment {
  background-color: var(--ion-color-primary);
}

app-novo-agendamento {
  .SwipedTabs-indicatorSegment {
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;
    transform-origin: top 0 left 0;
    height: 1px;
    position: relative;
    top: -2px;
    background-color: black !important;
  }
  .SwipedTabs-tabs ion-segment-button {
    border: none !important;
    color: gray !important;
    background-color: white !important;
  }
  .SwipedTabs-tabs ion-segment-button.SwipedTabs-activeTab {
    color: black !important;
  }
  .SwipedTabs-tabs {
    border-bottom: solid 1px #e6e6e6 !important;
  }
}

kendo-dropdownlist ::ng-deep span.k-dropdown-wrap span.k-input {
  height: 100%;
}

ion-button.back::part(native) {
  color: var(--cor-fundo-botaoAgendar);
  box-shadow: none;
  border: 1px solid var(--cor-fundo-botaoAgendar);
}

.forecast_container {
  flex-wrap: nowrap;
  overflow-x: scroll !important;
  overflow-y: hidden;
}

ion-segment-button {
  --indicator-color: transparent !important;
  --indicator-color-checked: transparent !important;
}

.backgroundControl {
  background: #e9e9e9;
}

.calendario {
  padding: 10px;
  padding-bottom: 15px;
}

ion-button.horario::part(native) {
  background-color: white;
  color: rgba(0, 0, 0, 0.712);
}

.labelHorario {
  color: white;
  border: 1px solid var(--ion-color-primary);
  padding: 10px;
  background-color: var(--ion-color-primary);
  border-radius: 25px;
  padding-left: 15px;
  padding-right: 15px;
}

ion-item::part(native) {
  padding-inline-start: 0px;
}

.observacao {
  background-color: white;
  width: 100% !important;
  resize: none;
  border-radius: 10px;
  height: 50px !important;
  color: rgb(85, 84, 84);
  //box-sizing: unset;
}

ion-toolbar {
  --background: var(--cor-fundo-barraTopo);
}
