/** Ionic CSS Variables **/
// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
:root {
  /** primary **/
  --ion-color-primary: #600be8;
  --ion-color-primary-rgb: 96, 11, 232;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #5609d0;
  --ion-color-primary-tint: #6f23ea;

  /** secondary **/
  --ion-color-secondary: #ff0da5;
  --ion-color-secondary-rgb: 255, 13, 165;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #e50b94;
  --ion-color-secondary-tint: #ff25ae;

  /** tertiary **/
  --ion-color-tertiary: #ff0000;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** Logo do Estabelecimento **/
  --estabelecimento-logo: url("https://oneproducao.blob.core.windows.net/one2/Imagens/One_Logo_1por1.png");
  --estabelecimento-logoAlternativa: url("https://oneproducao.blob.core.windows.net/one2/Imagens/One_LogoAlternativa_1por1.png");
  --estabelecimento-minilogo: url("https://oneproducao.blob.core.windows.net/one2/Imagens/One_Logotipo_50x50.png");

  //** Cores da Tela de Splash **/
  --ion-splash-cor1: #600be8;
  --ion-splash-cor2: rgb(255, 13, 165, 0.5);

  /**Página de Login **/
  --background-app: url("https://oneproducao.blob.core.windows.net/one2/Imagens/One_App_Background.png");
  --ion-color-background: rgb(255, 255, 255, 0);
  --ion-color-BotaoLogin: rgb(96, 11, 232);
  --ion-color-BotaoCadastro: rgba(255, 13, 165, 0.6);

  /** Geral **/
  --background-color-geral: rgb(215, 215, 215);
  --background-color-geral-2: #fff;
  --titulo-font-color1: #fff;
  --titulo-font-color2: #3e3e3e;

  /** Cards de Agendamento **/

  --card-agendamento-bg: #fff;
  --card-borda-padrao: rgb(253, 23, 249);
  --card-bordaA: #45c7ff;
  --card-bordaP: #c2d69b;
  --card-bordaE: #365f91;
  --card-bordaC: #95b3d6;
  --card-bordaR: #7f7f7f;
  --card-bordaM: #e36c0a;
  --card-bordaN: #86592d;
  --card-bordaX: #1b6104;

  //** NÃO ALTERAR ESSAS CORES **//
  /** facebook **/
  --ion-color-facebook: #3b5998;
  --ion-color-facebook-rgb: 59, 89, 152;
  --ion-color-facebook-contrast: #ffffff;
  --ion-color-facebook-contrast-rgb: 255, 255, 255;
  --ion-color-facebook-shade: #344e86;
  --ion-color-facebook-tint: #4f6aa2;

  /** google **/
  --ion-color-google: #1339b1;
  --ion-color-google-rgb: 19, 57, 177;
  --ion-color-google-contrast: #ffffff;
  --ion-color-google-contrast-rgb: 255, 255, 255;
  --ion-color-google-shade: #11329c;
  --ion-color-google-tint: #2b4db9;

  /** success **/
  --ion-color-success: #0ec254;
  --ion-color-success-rgb: 14, 194, 84;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0cae4b;
  --ion-color-success-tint: #26c865;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 240, 65, 65;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}
