/** Variáveis de Estilo **/

:root {
  //cores padrão das fontes
  --cor-texto-claro: #fff;
  --cor-texto-escuro: #000;

  /** Cor Primaria **/
  --ion-color-primary: #1b2a35;
  // shade e tint são efeitos que acontecem principalmente em botões que usam a cor primaria
  // Para cria-los basta copiar a cor primaria e deixar shade um pouco mais claro e o tint um pouco mais escuro
  --ion-color-primary-shade: rgba(86, 103, 158, 0.856);
  --ion-color-primary-tint: #1b2a35;

  /** Url de Imagens externas **/
  --estabelecimento-logo: url("https://oneproducao.blob.core.windows.net/appnovo/appsExclusivos/rbbarbearia/rbbarbearia-logo.png");
  --estabelecimento-minilogo: url("https://oneproducao.blob.core.windows.net/appnovo/appsExclusivos/rbbarbearia/rbbarbearia-logo.png");
  --background-app: url("https://oneproducao.blob.core.windows.net/appnovo/appsExclusivos/rbbarbearia/rbbarbearia-bg.png");

  --estabelecimento-logo-splash: url("https://oneproducao.blob.core.windows.net/appnovo/appsExclusivos/rbbarbearia/rbbarbearia-logo.png");
  --background-splash-app: url("https://oneproducao.blob.core.windows.net/appnovo/appsExclusivos/rbbarbearia/splash.png");

  //Tamanho Logo
  --tamanho-logo: 40vh;
  --tamanho-logo-login: 33vh;

  //Sobre o App
  --estabelecimento-logo-sobre: url("https://oneproducao.blob.core.windows.net/appnovo/appsExclusivos/rbbarbearia/rbbarbearia-logo2.png");
  --tamanho-logo-sobre-height: 150px;
  --tamanho-logo-sobre-width: 150px;

  /** Opções **/
  //controle se o botão de login vai ter texto e icone escuro ou claro (true = escuro / false = claro)
  $BotaoLogin-TextoEscuro: true;
  //Retirar cores do splashscreen (true = retirar / false = manter)
  $SplashSemCor: true;
  // Borda em volta do splash e da tela de login (true = manter / false = retirar)
  $BordinhaLogin: false;
  // Borda em volta do splash e da tela de login (true = manter / false = retirar)
  $BordinhaSplash: false;
  // Usar imagem no background da agenda, se for false a cor background-color-geral é usada
  $ImagemFundoAgenda: false;

  /**Cores de dentro do app **/
  //Cores da barra no topo onde há nome da filial, nome do usuário e tipo de perfil
  --cor-fundo-barraTopo: #826d4a;
  --cor-texto-barraTopo: #fff;

  //Background e titulos de cada página
  --background-color-geral: #f4faff;
  --background-color-geral-2: #fff;
  --cor-texto-geral: var(--cor-texto-escuro);
  --cor-texto-barra-titulos: var(--cor-texto-claro);
  --cor-barra-titulos: #1b2a35;

  // Cores do Calendário
  --cor-calendario-principal: #1b2a35;
  --cor-calendario-secundaria: #1b2a35;
  --cor-calendario-diaHoje: #000;
  --cor-botao-expandirCalendario: #e8a956;
  --cor-icone-expandirCalendario: #1b2a35;

  //Cor do Botão de Criar Agendamento
  --cor-fundo-botaoAgendar: #826d4a;
  --cor-texto-botaoAgendar: #fff;

  //Cor da toolbar principal que fica no fundo do app (agenda / relatórios / perfil / opções)
  --cor-fundo-menushared: #1b2a35;
  --cor-textoSelecionado-menushared: #826d4a;
  --cor-texto-menushared: #fff;  

  /** Condições e Cores compartilhadas (evitar mudanças aqui) **/

  //Icone que aparece no loading
  --icone-Loading: url("https://oneproducao.blob.core.windows.net/appnovo/appsExclusivos/rbbarbearia/rbbarbearia-logo2.png");

  //botes de entrar e login
  --cor-fundo-botaoLogin: #ffffff;
  // Texto de entrar como auxiliar, cadastro, saiba mais e voltar
  --cor-fontes-login: #fff;

  //Cor da caixa de texto login
  --cor-caixa-login: #fff;
  //Cor do texto da caixa do login
  --cor-texto-caixa-login: #1b2a35;
  // Cor do texto de escolher filial dentro dos app Exclusivos
  --ion-color-escolhaFiliais: var(--cor-texto-escuro);
  //Cor do texto de aviso de não há agendamentos
  --cor-texto-aviso: #1b2a35;

  --cor-cards-geral: #fff;
  
  @if $ImagemFundoAgenda {
    --FundoAgenda: url("https://oneproducao.blob.core.windows.net/appnovo/appsExclusivos/rbbarbearia/rbbarbearia-bg.png");
    --position-bg: 50%;
  } @else {
    --FundoAgenda: #F0F8FF;
  }

  // Alterações na borda de login e spalsh ficam aqui
  @if $BordinhaLogin {
    --bordaNoLogin: 5px solid var(--ion-color-primary);
  } @else {
    --bordaNoLogin: none;
  }

  @if $BordinhaSplash {
    --bordaNoSplash: 5px solid var(--ion-color-primary);
  } @else {
    --bordaNoSplash: none;
  }

  @if $BotaoLogin-TextoEscuro {
    --icone-botaoLogin: url("https://oneproducao.blob.core.windows.net/appnovo/appsExclusivos/imagemLoginPadrao-escura.svg");
    --cor-texto-botaoLogin: #2e54a2;
  } @else {
    --icone-botaoLogin: url("https://oneproducao.blob.core.windows.net/appnovo/appsExclusivos/imagemLoginPadrao.svg");
    --cor-texto-botaoLogin: var(--cor-texto-claro);
  }

  @if $SplashSemCor {
    --ion-splash-cor2: "transparent";
    --ion-splash-cor1: "transparent";
  } @else {
    --ion-splash-cor2: var(--ion-color-primary);
    --ion-splash-cor1: var(--ion-color-secondary);
  }

  //Existe um card por trás dos botões e inputs e de login que controla a posição deles, por padrão esse card é transparente.
  --ion-color-background: rgb(255, 255, 255, 0);

  /** Cards de Agendamento **/
  --card-agendamento-bg: var(--cor-texto-claro);
  --card-borda-padrao: var(--ion-color-primary);
  --card-bordaA: #45c7ff;
  --card-bordaP: #c2d69b;
  --card-bordaE: #365f91;
  --card-bordaC: #95b3d6;
  --card-bordaR: #7f7f7f;
  --card-bordaM: #e36c0a;
  --card-bordaN: #86592d;
  --card-bordaX: #1b6104;

  //** Cores Padrão - Não Alterar - **//

  /** facebook **/
  --ion-color-facebook: #3d5998;
  --ion-color-facebook-rgb: 59, 89, 152;
  --ion-color-facebook-contrast: #ffffff;
  --ion-color-facebook-contrast-rgb: 255, 255, 255;
  --ion-color-facebook-shade: #344e86;
  --ion-color-facebook-tint: #4f6aa2;

  /** google **/
  --ion-color-google: #e4e5e9;
  --ion-color-google-rgb: 19, 57, 177;
  --ion-color-google-contrast: #ffffff;
  --ion-color-google-contrast-rgb: 255, 255, 255;
  --ion-color-google-shade: #11329c;
  --ion-color-google-tint: #2b4db9;

  /** success **/
  --ion-color-success: #0ec254;
  --ion-color-success-rgb: 14, 194, 84;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0cae4b;
  --ion-color-success-tint: #26c865;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 240, 65, 65;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /** ------------------ Cores do Ionic que não usadas ----------------------- **/

  /** Primary Shade e Contrast **/
  --ion-color-primary-rgb: 96, 11, 232;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;

  /** secondary **/
  --ion-color-secondary: #222021;
  --ion-color-secondary-rgb: 255, 13, 165;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #4a4f53;
  --ion-color-secondary-tint: #030303;

  /** tertiary **/
  --ion-color-tertiary: #fbcc32;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #000;
  --ion-color-tertiary-tint: #000;
}
