.bloqueioButton::part(native){
    box-shadow: none;
}

.buttons::part(native) {
    background-color: transparent;
    color: var(--cor-fundo-botaoAgendar);
    box-shadow: none;
    border: 1px solid var(--cor-fundo-botaoAgendar);
  }