#submit {
  width: 100%;
  background-color: var(--ion-color-primary);
  border-radius: 5px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#grade {
  position: absolute;
  right: 10%;
  width: 60%;
}

#min_lbl {
  position: absolute;
  right: 68%;
}

#max_lbl {
  position: absolute;
  right: 3%;
}

.labels {
  position: absolute;
  left: 2%;
}

#filled_only {
  position: absolute;
  right: 2%;
}

// tira o wild scroll que surgiu no modal reduzido
ion-content {
  --offset-bottom: auto !important;
  --overflow: hidden;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  ion-label {
    font-size: 90%;
  }
}

//.calendar-container
ion-row {
  margin: 12px 0px 12px;
  width: 90%;
  height: 36px;
  position: relative;
  left: 5%;
  background-color: white;
  border: 1px solid #f2f2f2;
  border-radius: 10px;
  align-items: center;
  align-content: center;
  padding: 0;

  .icon-calendar {
    height: 100%;
    max-width: 25px;
    cursor: pointer;

    i {
      position: absolute;
      left: 2px;
      transform: scale(2);
      margin-left: 1px;
      color: var(--ion-color-primary);
    }
  }

  span {
    margin: 5px;
    cursor: pointer;
  }

  .date-label {
    margin-right: 10px;
    text-align: center;
  }
}

ion-toolbar {
  --background: var(--cor-fundo-barraTopo);
}
