.input {
  border: 0.5px solid #888888;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.inputSenha {
  border: 0.5px solid #000;
  border-radius: 5px;
  display: flex;
  align-items: center;
  height: 36px;
}

.message {
  color: #888888;
}
ion-content {
  --keyboard-offset: 0px !important;
}

ion-toolbar {
  --background: var(--cor-fundo-barraTopo);
}

.LoginInput {
  padding: 8px;
  width: 100%;
  border-radius: 6px;
  border: 1px solid var(--ion-color-primary);
  background-color: var(--cor-caixa-login);
  color: var(--cor-texto-caixa-login);
}