<ion-header mode="md" size="6">
  <ion-toolbar class="ion-text-center">
    <ion-title style="color: var(--cor-texto-barraTopo)"
      >{{ "LOGIN.POLITICA" | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid
    mode="md"
    appCustomScroll
    class="texto"
    #appScrollElement="appCustomScroll"
    #scroll
  >
    <div>
      <div [innerHTML]="politica | safe: 'html'"></div>
      <br />
      <div [innerHTML]="coleta | safe: 'html'"></div>
      <br />
      <div [innerHTML]="motivocoleta | safe: 'html'"></div>
      <br />
      <div [innerHTML]="provedor | safe: 'html'"></div>
      <br />
      <div [innerHTML]="privacidade | safe: 'html'"></div>
      <br />
      <div [innerHTML]="revogacaodados | safe: 'html'"></div>
      <br />
      <div [innerHTML]="direitostitular | safe: 'html'"></div>
      <br />
      <div [innerHTML]="resolucaoconflitos | safe: 'html'"></div>
      <br />
      <div [innerHTML]="alteracao | safe: 'html'"></div>
      <br />
      <div [innerHTML]="contate | safe: 'html'"></div>
      <br />
    </div>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-row class="ion-justify-content-center">
    <ion-button
      class="botão"
      style="background-color: var(--ion-color-primary)"
      [disabled]="appScrollElement.disableBtn"
      (click)="closeModal()"
    >
      <span style="font-size: 12px">{{
        "LOGIN.MODALS.POLITICAPRIVACIDADE.CONCORDO" | translate
      }}</span>
    </ion-button>
  </ion-row>
</ion-footer>
