<ion-header mode="md">
  <ion-toolbar>
    <ion-title style="color: var(--cor-texto-barraTopo)"
      >{{ "LOGIN.REGISTER.BEWELCOME" | translate }}</ion-title
    >
    <ion-buttons slot="primary">
      <ion-button (click)="closeModal()">
        <ion-icon
          name="close"
          slot="icon-only"
          style="transform: scale(1.5); color: var(--cor-texto-barraTopo)"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="backgroundContentApp">
  <ion-grid mode="md" style="margin: 3%">
    <!--    <div class="ion-text-end">-->
    <!--      <small>-->
    <!--        <span style="color: red;">*</span>-->
    <!--        <span style="color: #616161;">Campos Obrigatórios</span>-->
    <!--      </small>-->
    <!--    </div>-->
    <ion-row style="text-align: justify">
      <span class="colorTextApp" style="font-size: 14px">
        {{ "LOGIN.REGISTER.PERCEBEMOS" | translate }}<br /><br />{{
          "LOGIN.REGISTER.INFORMETELEFONE" | translate
        }}
      </span>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <form *ngIf="getPhoneNumberForm" [formGroup]="getPhoneNumberForm">
        <ion-col size="9">
          
          <kendo-floatinglabel
            text="*{{ 'LOGIN.REGISTER.INSIRACELULAR' | translate }}"
          >
            <input
              type="tel"
              class="text_box"
              formControlName="celular"
              kendoTextBox
              (input)="setTelefoneMask($event)"
              maxlength="20"
            />
          </kendo-floatinglabel>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validationMessages.celular">
              <div
                class="error-message"
                *ngIf="
                  getPhoneNumberForm.get('celular').hasError(validation.type) &&
                  (getPhoneNumberForm.get('celular').dirty ||
                    getPhoneNumberForm.get('celular').touched)
                "
              >
                <ion-icon name="information-circle-outline"></ion-icon>
                {{ validation.message | translate }}
              </div>
            </ng-container>
          </div>
        </ion-col>
        
        <ion-col>
          <ion-row style="text-align: justify">
            <span class="colorTextApp" style="font-size: 14px">
              <br />{{ "LOGIN.REGISTER.ANIVERSARIOGOOGLE" | translate }}
            </span>
          </ion-row>
        </ion-col>
        <ion-col size="9">
          <kendo-floatinglabel class="colorTextApp" text="{{ 'LOGIN.ANIVERSARIO' | translate }} ">
            <kendo-datepicker
              formControlName="aniversario"
              style="border: none"
            ></kendo-datepicker>
          </kendo-floatinglabel>
        </ion-col>
        <ion-col *ngIf="userName == null || userName == undefined || userName == '' ">
          <ion-row style="text-align: justify">
            <span class="colorTextApp" style="font-size: 14px">
              <br />Por favor, nos informe também o seu nome completo.
            </span>
          </ion-row>
        </ion-col>
        <ion-col *ngIf="userName == null || userName == undefined || userName == '' " size="9">
          <kendo-floatinglabel text="* Insira seu nome completo ">
            <input
              class="text_box"
              kendoTextBox
              formControlName="nomeCompleto"
            />
          </kendo-floatinglabel>
        </ion-col>
      </form>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer class="backgroundFooterApp" mode="md">
  <div class="footer-buttons">
    <ion-button
      (click)="savePhoneNumber()"
      expand="block"
      type="submit"
      [disabled]="!getPhoneNumberForm.valid"
      fill="clear"
      class="backgroundButtonApp"
    >
      {{ "LOGIN.REGISTER.REALIZARCADASTRO" | translate }}
    </ion-button>
  </div>
</ion-footer>
