<ion-header>
  <ion-toolbar color="primary" style="padding-top: 0 !important">
    <ion-title>{{'PERFIL.MODALCONFIRMARESTABELECIMENTO.TITLE' | translate}}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="closeModal()">
        <ion-icon name="close" slot="icon-only" style="transform:scale(1.5);"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-grid style="padding: 0 15px;"> 
  <p style="color: black;">{{'PERFIL.MODALCONFIRMARESTABELECIMENTO.MENSAGEM' | translate}}</p>
  <ion-row style="justify-content: center;">
    <ion-card style="padding: 10px; margin: 0; display: flex; justify-content: center; align-items: center; flex-direction: column;"> 
      <img src="{{empresa.logoMarca || semLogo}}" style="height: 11em;">
      <p style="font-size: 16px; color: black; text-align: center;">{{empresa.nomeEmpresaFilial}}</p>
    </ion-card>
  </ion-row>
</ion-grid>

<ion-footer>
  <ion-row class="global-footer-row">
      <ng-container>
        <ion-col size="6" class="global-footer-col-left">
          <ion-button type="submit" (click)="closeModal()" expand="block" class="global-back-btn">
            {{'PERFIL.MODALCONFIRMARESTABELECIMENTO.CANCELAR' | translate}}
          </ion-button>
        </ion-col>
        <ion-col size="6" class="global-footer-col-right">
          <ion-button type="submit" (click)="confirma()" expand="block" class="global-footer-btn">
            {{'PERFIL.MODALCONFIRMARESTABELECIMENTO.CONFIRMAR' | translate}}
          </ion-button>
        </ion-col>
      </ng-container>
  </ion-row>
</ion-footer>
