<ion-header
  mode="md"
  style="background-color: var(--cor-fundo-barraTopo) !important"
>
  <ion-toolbar color="primary">
    <ion-row class="ion-justify-content-center">
    <span class="ion-justify-content-center ion-text-center titulo"
    style="
    align-items: center;
    color: var(--cor-texto-barraTopo);
    "
    >
    Agendamento Interrompido
</span>
    </ion-row>
    <ion-buttons slot="primary">
      <ion-button (click)="close()">
        <ion-icon
          name="close"
          slot="icon-only"textarea
          style="transform: scale(1.5); color: var(--cor-texto-barraTopo)"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="backgroundContentApp colorTextApp">
    <div style="display: flex; justify-content: center; flex-direction: column;">
        <span style="margin:20px">
            Infelizmente não foi possível agendar o serviço, por favor entre em contato com a recepção para mais informações.<br>
        </span>
        <span style="margin:20px">
          {{mensagem}}
        </span>
    </div>


</ion-content>
<ion-footer class="ion-no-border backgroundFooterApp" style="display: flex; justify-content: center;">
    <ion-button style="width: 95%;" (click)="close()">
        Entendi
    </ion-button>
</ion-footer>
  