<ion-content
  class="safeArea"
  #card
  [ngStyle]="{
    'background-color': 'transparent',
    'box-shadow': '0 0 black',
    height: '100%',
    'margin-inline': 'unset',
    margin: 'unset'
  }"
>
  <ion-refresher slot="fixed" (ionRefresh)="updateAppointmentList($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid
    [ngStyle]="{ 'min-width': gridWidth }"
    style="height: 70%; max-width: 1024px; flex-direction: column"
  >

  <ion-row
  *ngIf="loadingAgendamentos == true"
  style="
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
  " >
    <div *ngIf="loadingAgendamentos == true" class="aviso" >
      <ion-col>
        <ion-row
          style="
            justify-content: center;
            display: flex;
            align-items: center;
            flex-direction: column;
            color: var(--cor-texto-aviso);
          " >
          <ion-spinner id="loading" style="font-size: 64px" color="primary"></ion-spinner>
        </ion-row>
        <ion-row>
          <ion-label
            style="
              font-size: 16px;
              text-align: center;
              max-width: 200px;
              color: var(--cor-texto-aviso);
            "
            >{{ "AGENDA.LOADINGAGENDAMENTO" | translate }}</ion-label>
        </ion-row>
      </ion-col>
    </div>
  </ion-row>
  
  <ion-row
  *ngIf="loadingAgendamentos == false && agendamentos == null"
  style="
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
  "
  >
    <div *ngIf="loadingAgendamentos == false && agendamentos == null" class="aviso" >
      <ion-col>
        <ion-row
          style="
            justify-content: center;
            display: flex;
            align-items: center;
            flex-direction: column;
            color: var(--cor-texto-aviso);
          " >
          <ion-icon style="font-size: 64px" name="close-circle-outline"></ion-icon>
        </ion-row>
        <ion-row>
          <ion-label
            style="
              font-size: 16px;
              text-align: center;
              max-width: 200px;
              color: var(--cor-texto-aviso);
            "
            >{{ "AGENDA.ERROR.LOADINGAGENDAMENTO" | translate }}</ion-label>
        </ion-row>
      </ion-col>
    </div>
  </ion-row>
  
    <ion-row
      *ngIf="agendamentos?.length === 0 && loadingAgendamentos == false"
      style="
        justify-content: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 100%;
      " >
      <div *ngIf="agendamentos?.length === 0 && loadingAgendamentos == false" class="aviso" >
        <ion-col>
          <ion-row
            style="
              justify-content: center;
              display: flex;
              align-items: center;
              flex-direction: column;
              color: var(--cor-texto-aviso);
            " >
            <ion-icon style="font-size: 64px" name="alert-circle-outline" ></ion-icon>
          </ion-row>
          <ion-row>
            <ion-label
              style="
                font-size: 16px;
                text-align: center;
                max-width: 200px;
                color: var(--cor-texto-aviso);
              "
              >{{ "AGENDA.NOAPPOINTMENTS" | translate }}</ion-label >
          </ion-row>
        </ion-col>
      </div>
      <!-- <div *ngIf="didInit">
        <ion-text *ngIf="agendamentos?.length > 0" style="padding-bottom: 8px; font-size: 15px;">{{ 'AGENDA.NEXTAPPOINTMENTS' | translate }}</ion-text>
      </div> -->
    </ion-row>
    <ng-container *ngFor="let agendamento of agendamentos; index as i">
      <div
        style="
          margin-bottom: 10px;
          border-radius: 10px;
        "
        class="backgroundCard"
        (click)="showAppointmentDetails(i)"
      >
        <ion-row>
          <ion-col
            size="12"
            [ngStyle]="{
              'border-left': setBorderStatus(agendamento.status),
              'padding-left': '3px'
            }"
            style="overflow: hidden; border-radius: 10px"
          >
            <ion-row>
              <ion-col
                size="7"
                class="appointmentColFirstRow"
                style="color: var(--cor-texto-escuro)"
              >
                <span>{{ agendamento.dataAg }} -</span>
                <span [ngSwitch]="agendamento.diaSemana">
                  <label *ngSwitchCase="'0'">
                    {{ "AGENDA.DOMINGO" | translate }}</label
                  >
                  <label *ngSwitchCase="'1'">
                    {{ "AGENDA.SEGUNDA" | translate }}</label
                  >
                  <label *ngSwitchCase="'2'">
                    {{ "AGENDA.TERCA" | translate }}</label
                  >
                  <label *ngSwitchCase="'3'">
                    {{ "AGENDA.QUARTA" | translate }}</label
                  >
                  <label *ngSwitchCase="'4'">
                    {{ "AGENDA.QUINTA" | translate }}</label
                  >
                  <label *ngSwitchCase="'5'">
                    {{ "AGENDA.SEXTA" | translate }}</label
                  >
                  <label *ngSwitchCase="'6'">
                    {{ "AGENDA.SABADO" | translate }}</label
                  >
                </span>
                <ion-row style="height: 82px">
                  <ng-template
                    [ngIf]="agendamento?.fotoColaborador != null"
                    [ngIfElse]="NaoTemFoto"
                  >
                    <ion-item lines="none" text-wrap>
                      <ion-avatar slot="start" class="imagemOne">
                        <ion-img [src]="agendamento.fotoColaborador"></ion-img>
                      </ion-avatar>
                      <ion-label
                        class="ion-text-wrap"
                        style="font-size: 14px; color: var(--cor-texto-escuro)"
                        >{{ "AGENDA.APPOINTMENT.PROFESSIONAL" | translate }}
                        <br /><span class="nomeColab">{{
                          agendamento.nomeColaborador
                            ?.toLowerCase()
                            .split(" ")[0]
                        }}</span
                        ><span
                          class="nomeColab"
                          *ngIf="temSegundonome(agendamento.nomeColaborador)"
                        >
                          {{
                            agendamento.nomeColaborador
                              ?.toLowerCase()
                              .split(" ")[1]
                          }}</span
                        >
                      </ion-label>
                    </ion-item>
                  </ng-template>
                  <ng-template #NaoTemFoto>
                    <ion-item lines="none">
                      <ion-avatar slot="start" class="imagemOne">
                        <ion-img
                          [src]="
                            'https://oneproducao.blob.core.windows.net/one2/Imagens/Sem_FotoPerfil.png'
                          "
                          style="transform: scale(1)"
                        ></ion-img>
                      </ion-avatar>
                      <ion-label
                        class="ion-text-wrap"
                        style="font-size: 14px; color: #969696"
                        >{{ "AGENDA.APPOINTMENT.PROFESSIONAL" | translate }}
                        <br /><span class="nomeColab">{{
                          agendamento.nomeColaborador
                            ?.toLowerCase()
                            .split(" ")[0]
                        }}</span
                        ><span
                          class="nomeColab"
                          *ngIf="temSegundonome(agendamento.nomeColaborador)"
                        >
                          {{
                            agendamento.nomeColaborador
                              ?.toLowerCase()
                              .split(" ")[1]
                          }}</span
                        >
                      </ion-label>
                    </ion-item>
                  </ng-template>
                </ion-row>
                <ion-row
                  style="padding-top: 4px; padding-bottom: 4px; font-size: 15px"
                  >{{ agendamento.horarioInicio?.substr(0, 5) }}
                  <span *ngIf="parametrosLight?.mostrarHorarioFinal"
                    >&nbsp;às {{ agendamento.horarioFim?.substr(0, 5) }}</span
                  >
                </ion-row>
              </ion-col>
              <ion-col
                size="5"
                style="color: var(--cor-texto-escuro); overflow: hidden"
              >
                <ion-row
                  [ngSwitch]="agendamento?.status"
                  [ngStyle]="{ 'background-color': corStatus }"
                  style="
                    text-align: center;
                    font-size: 14px;
                    border-radius: 25px;
                    width: 104.53px;
                  "
                  
                >
                  <label *ngSwitchCase="'A'" style="padding-left: 19%">
                    {{ "AGENDA.AGENDADO" | translate }}</label
                  >
                  <label *ngSwitchCase="'P'" style="padding-left: 19%">
                    {{ "AGENDA.PRESENTE" | translate }}</label
                  >
                  <label *ngSwitchCase="'E'" style="padding-left: 19%">
                    {{ "AGENDA.EXECUTADO" | translate }}</label
                  >
                  <label *ngSwitchCase="'C'" style="padding-left: 17%">
                    {{ "AGENDA.CONFIRMADO" | translate }}</label
                  >
                  <label *ngSwitchCase="'R'" style="padding-left: 17%">
                    {{ "AGENDA.REGISTRADO" | translate }}</label
                  >
                  <label *ngSwitchCase="'M'" style="padding-left: 17%">
                    {{ "AGENDA.MOBILIDADE" | translate }}</label
                  >
                  <label *ngSwitchCase="'N'" style="padding-left: 6%">
                    {{ "AGENDA.NAOREGISTRADO" | translate }}</label
                  >
                  <label *ngSwitchCase="'X'" style="padding-left: 13%">
                    {{ "AGENDA.ATENDIMENTO" | translate }}</label
                  >
                </ion-row>
                <ion-row style="padding-top: 14px; font-size: 14px">
                  <span
                    class="ion-text-wrap"
                    style="color: var(--cor-texto-escuro)"
                    >{{ "AGENDA.APPOINTMENT.SERVICE" | translate }}</span
                  >
                </ion-row>
                <ion-row style="height: 38px">
                  <span
                    style="
                      padding-top: 3%;
                      color: var(--cor-texto-escuro);
                      font-size: 15px;
                      text-transform: capitalize;
                    "
                    >{{ agendamento.descricaoServico.toLowerCase() }}</span
                  >
                </ion-row>
                <ion-row
                  *ngIf="
                    agendamento.status !== 'E' && agendamento.status !== 'R'
                  "
                  style="height: 30%"
                >
                  <ion-col
                    size="12"
                    style="height: 88%; top: 10px; right: 15px"
                  >
                    <ion-buttons>
                      <ion-button
                       *ngIf="agendamento?.status == 'M'"
                        small
                        slot="start"
                        style="color: var(--cor-texto-escuro)"
                        (click)="editarAgendamento(i)"
                      >
                        <ion-icon
                          mode="ios"
                          style="transform: scale(0.7); padding-bottom: 4px"
                          name="create"
                        ></ion-icon>
                        <label style="font-size: 11px; text-transform: none">{{
                          "AGENDA.APPOINTMENT.EDITAR" | translate
                        }}</label>
                      </ion-button>
                      <ion-button
                        small
                        style="color: var(--ion-color-danger); width: 77.19px"
                        (click)="deleteAppointmentAlert(i)"
                      >
                        <ion-col [ngStyle]="{ right: iOS ? '16px' : '25px' }">
                          <ion-col
                            style="left: 5px"
                            [ngStyle]="{ top: iOS ? '4px' : '3px' }"
                          >
                            <ion-icon
                              mode="ios"
                              style="transform: scale(1)"
                              name="close"
                            ></ion-icon>
                          </ion-col>
                          <ion-label
                            style="
                              font-size: 11px;
                              text-transform: none;
                              line-height: 11;
                            "
                            >{{
                              "AGENDA.APPOINTMENT.DESMARCAR" | translate
                            }}</ion-label
                          >
                        </ion-col>
                      </ion-button>
                    </ion-buttons>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </div>

      <ion-row
        *ngIf="i === agendamentos?.length - 1"
        style="height: 125px"
      ></ion-row>
    </ng-container>
  </ion-grid>
</ion-content>

<div
  class="addButtonFixed addButtonFixedText"
  style="bottom: 0.5%; width: 100px; z-index: 10"
>
  <br />
  <ion-row style="justify-content: center" id="btnAgendamento">
    <ion-button
      *ngIf="mostrarBotaoAgendarCliente"
      size="medium"
      type="button"
      (click)="addAppointment()"
      style="height: 2.9em; margin-bottom: 30px"
    >
      <ion-icon
        name="add-outline"
        slot="start"
        style="font-size: 1.8em; color: var(--cor-texto-botaoAgendar)"
      ></ion-icon>
      <span
        style="text-transform: uppercase; color: var(--cor-texto-botaoAgendar)"
        >{{ "AGENDA.BUTTON.AGENDAR" | translate }}</span
      >
    </ion-button>
  </ion-row>
</div>

<app-menu></app-menu>
