<ion-header
  mode="md"
  style="background-color: var(--cor-fundo-barraTopo) !important"
>
  <ion-toolbar>
    <div class="overlay" *ngIf="overlayDivControl == true"></div>
    <ion-title style="color: var(--cor-texto-barraTopo)">
      {{
        "AGENDA.MODALS.RESUMOAGENDAMENTO.NOVAQUIMICA.REGISTROQUIMICA"
          | translate
      }}
    </ion-title>
    <ion-buttons slot="primary">
      <!-- <ion-button (click)="closeModal()">
        <ion-icon name="close" slot="icon-only" style="transform:scale(1.5);"></ion-icon>
      </ion-button> -->
      <ion-button (click)="closeModal()">
        <ion-icon
          name="close"
          slot="icon-only"
          style="transform: scale(1.5); color: var(--cor-texto-barraTopo)"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="backgroundContentApp" fullscreen scrollY="false">
  <div class="overlay" *ngIf="overlayDivControl == true"></div>

  <ion-row>
    <ion-col size="12">
      <kendo-floatinglabel
        text="{{
          'AGENDA.MODALS.RESUMOAGENDAMENTO.LANCARSERVICOPRODUTO.PESQUISARPRODUTO'
            | translate
        }}"
      >
        <kendo-combobox
          [data]="listProdutosPesquisados"
          [filterable]="true"
          (filterChange)="pesquisaProdutosParaQuimica($event)"
          (valueChange)="changeProdutoSelecionado($event)"
          [textField]="'descricaoProduto'"
          [valueField]="'produtoId'"
          [valueNormalizer]="valueNormalizer"
          [allowCustom]="true"
          style="border: 0"
        >
          <!--[loading]="pesquisaClienteLoader"-->
          <ng-template kendoComboBoxItemTemplate let-dataItem>
            <ion-row>
              <ion-col>
                <ion-row>
                  {{
                    "AGENDA.MODALS.RESUMOAGENDAMENTO.LANCARSERVICOPRODUTO.PESQUISA.NOMEPRODUTO"
                      | translate
                  }}: {{ dataItem.descricaoProduto }}
                </ion-row>
                <ion-row>
                  {{
                    "AGENDA.MODALS.RESUMOAGENDAMENTO.LANCARSERVICOPRODUTO.PESQUISA.PRECOPRODUTO"
                      | translate
                  }}: {{ dataItem.precoVenda }}
                </ion-row>
                <ion-row>
                  {{
                    "AGENDA.MODALS.RESUMOAGENDAMENTO.LANCARSERVICOPRODUTO.PESQUISA.CODIGOPRODUTO"
                      | translate
                  }}: {{ dataItem.codigoBarras }}
                </ion-row>
              </ion-col>
            </ion-row>
          </ng-template>
          <ng-template kendoComboBoxNoDataTemplate>
            <ion-row>
              {{ "AGENDA.BUSCANAORETORNOURESULTADO" | translate }}
            </ion-row>
          </ng-template>
        </kendo-combobox>
      </kendo-floatinglabel>
    </ion-col>
  </ion-row>

  <ion-segment
    mode="md"
    class="SwipedTabs-tabs"
    style="overflow-x: scroll"
    [(ngModel)]="segment"
    scrollable
  >
    <ion-segment-button style="color: var(--cor-texto-escuro);"
      mode="md"
      *ngFor="let produtoLinha of listProdutosDisponiveis; index as i"
      id="Productsegment-{{ i }}"
      class="produtoQuimicaSegment linhaProdutosQuimica"
      (click)="selectTab(i)"
    >
      {{ produtoLinha.descricaoLinha }}
    </ion-segment-button>
  </ion-segment>

  <ion-slides
    #SwipedTabsSlider
    (ionSlideDrag)="animateIndicator($event)"
    (ionSlideWillChange)="updateIndicatorPosition()"
    (ionSlideDidChange)="updateIndicatorPosition()"
    (pan)="updateIndicatorPosition()"
    [pager]="false"
  >
    <ng-container
      *ngFor="let produtoLinha of listProdutosDisponiveis; index as i"
    >
      <ion-slide mode="md" style="overflow-y: auto">
        <ng-container>
          <ion-card class="backgroundCard" style="width: 100%; box-shadow: none">
            <ion-card-content
              mode="md" class="colorTextApp"
              *ngIf="
                indexAtualSegment == i ||
                indexAtualSegment == i - 1 ||
                indexAtualSegment == i + 1
              "
              [ngStyle]="{
                'max-height': slideContentHeight,
                'overflow-y': 'auto'
              }"
            >
              <ng-container
                *ngFor="let produto of produtoLinha.produtos; index as j"
              >
                <ion-row style="padding-top: 10px">
                  <ion-col size="1" style="padding-left: 5px; text-align: left">
                    <ion-checkbox
                      [(ngModel)]="controlProdutos[i][j].checked"
                      (ngModelChange)="marcarProduto(i, j)"
                    ></ion-checkbox
                  ></ion-col>
                  <!---->
                  <ion-col
                    size="11"
                    style="text-align: left"
                    (click)="checkBoxSelectionFromProductText(i, j)"
                  >
                    {{ produto.descricaoProduto }}</ion-col
                  >
                </ion-row>
                <ng-container *ngIf="controlProdutos != undefined">
                  <ion-row *ngIf="controlProdutos[i][j].checked == true">
                    <ion-col size="12">
                      <kendo-floatinglabel
                        text="*{{
                          'AGENDA.MODALS.RESUMOAGENDAMENTO.NOVAQUIMICA.PARTES'
                            | translate
                        }}"
                      >
                        <textarea
                          kendoTextArea
                          maxlength="199"
                          [(ngModel)]="controlProdutos[i][j].partes"
                          (ngModelChange)="onChange($event, i, j)"
                          style="
                            width: 100% !important;
                            resize: none;
                            border-radius: 10px;
                          "
                        ></textarea>
                      </kendo-floatinglabel>
                    </ion-col>
                  </ion-row>

                  <!-- <ion-row *ngIf="controlProdutos[i][j].checked == true">
                  <ion-col size="12">
                    <kendo-floatinglabel text="*{{'AGENDA.MODALS.RESUMOAGENDAMENTO.LANCARSERVICOPRODUTO.OBSERVACAO' | translate }}">
                      <textarea kendoTextArea maxlength="199" [(ngModel)]="controlProdutos[i][j].observacao" (ngModelChange)="onChange($event, i, j)" style="width: 100% !important; resize: none;"></textarea>
                    </kendo-floatinglabel>
                  </ion-col>
                  
                </ion-row> -->

                  <ion-row *ngIf="controlProdutos[i][j].checked == true">
                    <ion-col size="12">
                      <kendo-floatinglabel
                        text="*{{
                          'AGENDA.MODALS.RESUMOAGENDAMENTO.NOVAQUIMICA.OBSERVACAO'
                            | translate
                        }}"
                      >
                        <textarea
                          kendoTextArea
                          maxlength="199"
                          [(ngModel)]="controlProdutos[i][j].observacao"
                          (ngModelChange)="onChange($event, i, j)"
                          style="
                            width: 100% !important;
                            resize: none;
                            border-radius: 10px;
                            min-height: 70px;
                          "
                        ></textarea>
                      </kendo-floatinglabel>
                    </ion-col>
                  </ion-row>
                </ng-container>
              </ng-container>
            </ion-card-content>
          </ion-card>
        </ng-container>
      </ion-slide>
    </ng-container>
  </ion-slides>
</ion-content>

<ion-footer class="ion-no-border backgroundFooterApp">
  <ion-toolbar style="text-align: center" transparent>
    <!-- <ng-container *ngIf="dadosAgendamento.status != 'E' && segment == 'info' && dadosAgendamento.status != 'R'">

          <span (click)="buttonSlided()" style="padding: 20px; padding-right: 10px; background-color: #59e580; border-radius: 10px; color: white;" ><span style="margin-right: 10px; margin-left: 10px; border-radius: 50%; background-color: #53d377; width: 50px; height: 50px; display: inline-flex; align-items: center; justify-content: center;"><ion-icon name="arrow-forward"></ion-icon><ion-icon name="arrow-forward"></ion-icon></span> {{'AGENDA.MODALS.RESUMOAGENDAMENTO.LANCARSERVICOPRODUTO.FINALIZARBUTTON' | translate}}</span>

    </ng-container> -->

    <!-- <ng-container *ngIf="segment == 'lancarProdutoServico'"> -->

    <ion-button class="backgroundButtonApp"
      [disabled]="produtosSelecionados?.length == 0 ? true : false"
      type="submit"
      (click)="cadastrarQuimicas()"
      expand="block"
      style="height: 40px"
    >
      <div class="overlay" *ngIf="overlayDivControl == true"></div>
      <ion-icon 
        name="add"
        style="transform: scale(2); padding-right: 5px; color: var(--cor-texto-botaoAgendar);"
      ></ion-icon
      ><span style="color: var(--cor-texto-botaoAgendar);"
        >{{
          "AGENDA.MODALS.RESUMOAGENDAMENTO.NOVAQUIMICA.REGISTROQUIMICA"
            | translate
        }}
      </span>
    </ion-button>
    <!-- </ng-container> -->
  </ion-toolbar>
</ion-footer>
