kendo-combobox {
  border: none;
}

#cadastro_rapido_btn {
  //display: flex;
  //align-items: flex-end;
  //justify-content: flex-end;
  padding-top: 0;

  ion-icon {
    color: var(--cor-texto-geral);
    //display: flex;
    //font-size: 27px;
    cursor: pointer;
    padding-top: 50%;
    width: 100%;
    height: 100%;
  }
}

//Retira a scrollbar mas mantém o container scrollavel
.SwipedTabs-tabs {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */

  padding-bottom: 15px;
  border-bottom: 1px solid #dedede;
}

.SwipedTabs-tabs::-webkit-scrollbar {
  /* Chrome */
  display: none;
}

ion-button.horarios::part(native) {
  background-color: white !important;
  color: var(--cor-texto-geral);
  box-shadow: none;
  border: 1px solid var(--cor-texto-geral);
}

.k-dateinput .k-input {
  padding: 18px 8px !important;
}

.k-floating-label-container {
  color: var(--cor-texto-geral) !important;
  font-weight: 600;
}

.k-floating-label-container > .k-label,
.k-floating-label-container.k-state-focused > .k-label {
  color: var(--cor-texto-geral) !important;
}

::ng-deep .k-floating-label-container.k-state-focused > .k-label {
  transform: translate(8px, 20px) translate(-1px, calc(-1.085em - 4px))
    translate(-5px, -10%) scale(0.9);
}

kendo-datepicker::ng-deep span.k-picker-wrap.k-state-disabled {
  display: flex;
  align-items: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: -20px;
  width: 120%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5); /*dim the background*/
}

ion-col::ng-deep .pesquisarProfissional.k-combobox .k-dropdown-wrap .k-select {
  display: none;
}

ion-col::ng-deep
  .pesquisarProfissional.k-combobox
  .k-dropdown-wrap
  .k-clear-value {
  right: 8px;
}

.historico-vazio {
  font-size: 14px;
  color: #8a8a8a;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 19px;
}
