html {
  overflow-x: hidden !important;
}

.texto {
  height: 100%;
  font-size: 14px;
  overflow-y: auto;
}
ion-button {
  width: 100%;
}

ion-toolbar {
  --background: var(--cor-fundo-barraTopo);
}
