<ion-header>
  <ion-toolbar>
    <ion-title
      class="ion-text-center"
      style="color: var(--cor-texto-barraTopo)"
      >{{ "PERFIL.COLABORADOR.TITLE" | translate }}</ion-title
    >
    <ion-buttons slot="primary">
      <ion-button (click)="closeModal()">
        <ion-icon
          name="close"
          slot="icon-only"
          style="transform: scale(1.5); color: var(--cor-texto-barraTopo)"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-row>
      <ion-col class="media_geral_emoji" size="4">
        <ion-img
          class="emoji"
          id="emoji"
          src="{{ getFileName(avaliacoes.mediaGeral) }}"
        ></ion-img>
      </ion-col>
      <!--<ion-col size="1"></ion-col>-->
      <ion-col class="media_geral_stars" size="8">
        <div class="stars">
          <ion-icon id="modal-star1" name=""></ion-icon>
          <ion-icon id="modal-star2" name=""></ion-icon>
          <ion-icon id="modal-star3" name=""></ion-icon>
          <ion-icon id="modal-star4" name=""></ion-icon>
          <ion-icon id="modal-star5" name=""></ion-icon>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center ion-align-itens-center">
      <ion-col class="nota" size="4"
        >{{ avaliacoes.numAvaliacoes }}
        <ion-label>{{
          "PERFIL.COLABORADOR.TITLE" | translate
        }}</ion-label></ion-col
      >
      <ion-col class="nota" size="4"
        >{{ avaliacoes.mediaGeral | number: "1.1-1" }}
        <ion-label>{{
          "PERFIL.COLABORADOR.MEDIA" | translate
        }}</ion-label></ion-col
      >
      <ion-col class="nota" size="4"
        >{{ avaliacoes.melhorNota }}
        <ion-label>{{
          "PERFIL.COLABORADOR.MELHORNOTA" | translate
        }}</ion-label></ion-col
      >
    </ion-row>
  </ion-toolbar>
</ion-header>
<div class="overlay" *ngIf="overlayDivControl == true"></div>
<ion-content class="backgroundContentApp">
  <ion-grid>
    <ion-row
      *ngFor="let comentario of avaliacoes.comentarios; index as index"
      class="ion-justify-content-center"
    >
      <!--*ngFor="let comentario of (grade == true ? (avaliacoes.comentarios | keyvalue: nota) : (avaliacoes.comentarios))"-->
      <ion-col
        *ngIf="
          (comentario.nota >= min_grade &&
            comentario.nota <= max_grade &&
            comments_only == false) ||
          (comentario.nota >= min_grade &&
            comentario.nota <= max_grade &&
            comments_only == true &&
            comentario.texto)
        "
        size="12"
        class="comentario_card"
      >
        <ion-card  class="comentarios backgroundCard">
          <ion-card-content>
            <ion-row class="footer">
              <ion-col size="12">
                <ion-row>
                  <div class="modal-stars">
                    <ion-icon id="{{ index }}star1" name=""></ion-icon>
                    <ion-icon id="{{ index }}star2" name=""></ion-icon>
                    <ion-icon id="{{ index }}star3" name=""></ion-icon>
                    <ion-icon id="{{ index }}star4" name=""></ion-icon>
                    <ion-icon id="{{ index }}star5" name=""></ion-icon>
                  </div>
                  <ion-label class="status" id="{{ index }}status">{{
                    getStatus(comentario.nota, index)
                  }}</ion-label>
                  <ion-label class="data colorTextApp">{{
                    comentario.data | date: "shortDate"
                  }}</ion-label>
                </ion-row>
                <ion-row class="comentario_texto">
                  <p>{{ comentario.texto }}</p>
                  <p style="opacity: 0" *ngIf="!comentario.texto">-</p>
                </ion-row>
              </ion-col>

              <!--<ion-col size="3" class="data_coluna">

                            </ion-col>-->
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row style="height: 20%"> </ion-row>
  </ion-grid>
</ion-content>
<div class="addButtonFixed addButtonFixedText">
  <ion-row style="justify-content: center; width: 500px">
    <ion-button
      class="global-back-btn"
      size="medium"
      type="button"
      style="padding-right: 1%"
      (click)="onClickLimparFiltro()"
    >
      <img
        style="padding-right: 8px; height: 25px"
        src="https://oneproducao.blob.core.windows.net/imgs/icon-filter.png"
      />
      Limpar Filtros
    </ion-button>
    <ion-button
      class="global-footer-btn backgroundButtonApp"
      size="medium"
      type="button"
      (click)="onClickFiltro()"
    >
      <ion-icon name="funnel-outline" style="padding-right: 8px"></ion-icon>
      {{ "PERFIL.COLABORADOR.BUTTONFILTRAR" | translate }}
    </ion-button>
  </ion-row>
</div>
