.stars {
  font-size: 26px;
  font-weight: 700;
  padding: 5px;

  ion-icon {
    color: var(--ion-color-warning);
  }
}

.comentario_card {
  display: flex;
  justify-content: center;
}

.media_geral_emoji {
  display: flex;
  justify-content: flex-end;
}

.media_geral_stars {
  display: flex;
  justify-content: flex-start;
}

.emoji {
  width: 40px;
  height: 40px;
}

.comentarios {
  width: 90%;
  margin: 5px;
  border-left: 2px solid;
  border-color: var(--ion-color-primary);

  .modal-stars {
    font-size: 15px;
    font-weight: 700;

    ion-icon {
      color: var(--ion-color-warning);
    }
  }

  .status {
    font-size: 20px;
    font-weight: bold;
  }

  .data {
    font-size: 14px;
    position: absolute;
    right: 5px;
  }

  .footer {
    font-size: 18px;
    display: flex;
    justify-content: space-between;

    .comentario_texto {
      display: flex;
      justify-content: flex-start;

      p {
        text-align: justify;
      }
    }
  }

  ion-card-content {
    padding: 2px;

    .data_coluna {
      display: flex;
      justify-content: flex-end;
    }
  }
}

.calendar-container {
  height: 36px;
  background-color: white;
  border: 1px solid var(--ion-color-primary);
  border-radius: 10px;
  align-items: center;
  align-content: center;
  padding: 0;

  .icon-calendar {
    height: 100%;
    max-width: 25px;
    cursor: pointer;
    i {
      transform: scale(2);
      margin-left: 1px;
      color: var(--ion-color-primary);
    }
  }

  span {
    margin: 5px;
    cursor: pointer;
  }

  .date-label {
    margin-right: 10px;
    text-align: center;
  }
}

.nota {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: var(--ion-color-primary);
  font-size: 14px;
  font-weight: 700;
}

.addButtonFixed {
  position: absolute;
  left: 50%;
  top: 92%; //definição está no html
  transform: translate(-50%, -50%);
}

.addButtonFixedText {
  text-align: center;
  white-space: nowrap;
}

#commentFilter {
  position: absolute;
  right: 30px;
  width: 25px;
  height: 25px;
}

.overlay {
  position: absolute;
  top: 0;
  left: -20px;
  width: 120%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5); /*dim the background*/
}

ion-toolbar {
  --background: var(--cor-fundo-barraTopo);
}
