.titulo {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 21px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--cor-texto-barraTopo);
}

.texto {
  display: flex;
  align-items: center;
  font-size: 21px;
}

.distancia {
  padding-top: 85px;
}

ion-button::part(native) {
  box-shadow: none;
}
