<ion-header>
  <ion-toolbar>
    <ion-title style="color: var(--cor-texto-barraTopo)">{{
      "AGENDA.MODALS.RESUMOAGENDAMENTO.EDITARQUIMICA.TITLE" | translate
    }}</ion-title
    ><!--{{ dadosServicoPesquisado.service.nomeServico }} -->
    <ion-buttons slot="primary">
      <ion-button (click)="closeModal()">
        <ion-icon
          name="close"
          slot="icon-only"
          style="transform: scale(1.2); color: var(--cor-texto-barraTopo)"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content scrollY="false">
  <ion-row
    style="
      justify-content: center;
      padding-top: 20px;
      padding-bottom: 20px;
      font-size: 18px;
      color: #3d3d3d;
    "
  >
    {{ quimicaSelecionadaEdicao.produtoDescricao }}
  </ion-row>
  <ion-row style="padding-left: 10px; padding-right: 10px">
    <ion-col size="12">
      <kendo-floatinglabel
        text="*{{
          'AGENDA.MODALS.RESUMOAGENDAMENTO.EDITARQUIMICA.PARTES' | translate
        }}"
      >
        <textarea
          kendoTextArea
          maxlength="199"
          [(ngModel)]="parteEdicao"
          style="width: 100% !important; resize: none; border-radius: 10px"
        ></textarea
        ><!--(ngModelChange)="onChange($event, i, j)"-->
      </kendo-floatinglabel>
    </ion-col>
  </ion-row>

  <ion-row style="padding-left: 10px; padding-right: 10px">
    <ion-col size="12">
      <kendo-floatinglabel
        text="*{{
          'AGENDA.MODALS.RESUMOAGENDAMENTO.EDITARQUIMICA.OBSERVACAO' | translate
        }}"
      >
        <textarea
          kendoTextArea
          maxlength="199"
          [(ngModel)]="observacaoEdicao"
          style="
            width: 100% !important;
            resize: none;
            border-radius: 10px;
            min-height: 50px;
          "
        ></textarea
        ><!--(ngModelChange)="onChange($event, i, j)"-->
      </kendo-floatinglabel>
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-row
    class=""
    style="background-color: var(--ion-color-primary); justify-content: center"
  >
    <ion-button
      color="primary"
      class="desmarcarButton"
      expand="block"
      type="submit"
      (click)="editarQuimica()"
      style="color: black; box-shadow: none"
    >
      {{
        "AGENDA.MODALS.RESUMOAGENDAMENTO.EDITARQUIMICA.CONFIRMAR" | translate
      }}
    </ion-button>
  </ion-row>
</ion-footer>
