ion-button::part(native) {
  box-shadow: none;
}

ion-toolbar {
  --background: var(--cor-fundo-barraTopo);
}

input,
select,
textarea,
button {
  -moz-box-shadow: none;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

textarea {
  background-color: white;
}
