<ion-content class="smmodal backgroundContentApp" scrollY='false'>
  <ion-grid class="ion-justify-content-end colorTextApp backgroundContentApp">
    <ion-row class="texto backgroundContentApp">
    <ion-col class="textConfig backgroundContentApp" size="12">
          <div *ngIf="!chaveController" style="font-size:12px; padding-bottom: 8px;">{{'LOGIN.MODAL.PRIMEIROACESSO' | translate}}</div>
          <div *ngIf="chaveController" style="font-size:12px; padding-bottom: 8px;">{{'AGENDA.MODAL.PRIMEIROACESSO' | translate}}</div>
          <ng-container *ngIf="!chaveController">
            <div class="politica backgroundContentApp" (click)="exibePolitica()">{{'LOGIN.POLITICA' | translate}}</div>
            <div class="politica backgroundContentApp" (click)="exibeTermos()">{{'LOGIN.TERMOS' | translate}}</div>
          </ng-container>
          <ng-container *ngIf="chaveController">
            <div class="politica backgroundContentApp" (click)="exibePolitica()">{{'AGENDA.POLITICA' | translate}}</div>
            <div class="politica backgroundContentApp" (click)="exibeTermos()">{{'AGENDA.TERMOS' | translate}}</div>
          </ng-container>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer class="backgroundFooterApp">
  <ion-row class="ion-justify-content-center">
      <ion-button *ngIf="!chaveController" class="botao" (click)="closeModal()">
        {{'LOGIN.MODALS.LIECONCORDO' | translate}}
      </ion-button>
      <ion-button *ngIf="chaveController" class="botao" (click)="closeModal()">
        {{'AGENDA.MODALS.LIECONCORDO' | translate}}
      </ion-button>
    </ion-row>
</ion-footer>
