<ion-grid mode="md" style="height: auto">
  <ion-row class="ion-justify-content-center">
    <ion-col size-xs="12" size-sm="10" size-md="7" size-lg="6" size-xl="5">
      <ion-row class="ion-justify-content-center">
        <ion-col size="12">
          <ion-card class="ion-no-padding backgroundCard">
            <app-data-toolbar
              [startDate]="startDate"
              [endDate]="endDate"
              (dateEmmiter)="receiveDate($event)"
            ></app-data-toolbar>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row
        class="ion-justify-content-center cards"
        style="font-size: larger;"
      >
        <ion-col size="8" style="background: var(--cor-fundo-botaoAgendar) !important;">
          <ion-row>
            <ion-col class="card-title backgroundButtonApp">
              {{ "FINANCEIRO.COMISSAO.RECEBER" | translate }}
            </ion-col>
          </ion-row>
          <ion-row class="ion-align-items-center">
            <ion-col class="card-value backgroundButtonApp">
              {{
                comissao?.apuracaoFinal != undefined
                  ? (comissao.apuracaoFinal.saldoAReceber | currencyGlobal)
                  : (0 | currencyGlobal)
              }}
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-card class="backgroundCard">
        <ion-card-content>
          <ion-row
            style="font-size: medium; color: var(--cor-texto-escuro)"
            [ngStyle]="{
              cursor: comissao?.pendentes?.length != 0 ? 'pointer' : 'auto'
            }"
            (click)="pendentesDetalhes = !pendentesDetalhes"
          >
            <ion-col>
              <ion-row class="ion-justify-content-start colorTextApp">
                {{ "FINANCEIRO.COMISSAO.EXTRATO.PENDENTES" | translate }}
              </ion-row>
            </ion-col>
            <ion-col>
              <ion-row class="ion-justify-content-end colorTextApp">
                {{
                  comissao?.apuracaoFinal != undefined
                    ? (comissao.apuracaoFinal.pendente | currencyGlobal)
                    : (0 | currencyGlobal)
                }}
                <ion-icon
                  *ngIf="comissao?.pendentes?.length != 0"
                  [name]="
                    pendentesDetalhes
                      ? 'chevron-up-outline'
                      : 'chevron-down-outline'
                  "
                  class="icon"
                ></ion-icon>
                <ion-icon
                  *ngIf="!(comissao?.pendentes?.length != 0)"
                  class="icon"
                ></ion-icon>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-row
            *ngIf="comissao?.pendentes?.length != 0 && pendentesDetalhes"
          >
            <ion-col>
              <div *ngFor="let pendente of comissao.pendentes">
                <ion-row style="color: var(--cor-texto-escuro)">
                  <ion-col size="7">
                    <ion-row class="ion-justify-content-start  colorTextApp">
                      {{ getNomeSobrenome(pendente.nomeCliente) }}
                    </ion-row>
                  </ion-col>
                </ion-row>
                <ion-row style="font-size: small">
                  <ion-col size="6">
                    <ion-row class="ion-justify-content-start colorTextApp">
                      <span style="color: var(--ion-color-primary); font-weight: bold;">{{
                        "FINANCEIRO.COMISSAO.EXTRATO.DETALHES.NUMEROFICHA"
                          | translate
                      }}</span>: {{ pendente.numeroFicha }}
                    </ion-row>
                  </ion-col>
                  <ion-col size="6">
                    <ion-row class="ion-justify-content-end colorTextApp">
                      <span style="color: var(--ion-color-primary); font-weight: bold;">Pendente desde</span>:{{ pendente.data | date: "shortDate" }}
                    </ion-row>
                  </ion-col>
                  <ion-col size="8">
                    <ion-row class="ion-justify-content-start colorTextApp">
                      <span style="color: var(--ion-color-primary); font-weight: bold;">Serviço</span>:{{pendente.servico}} - R$ {{pendente.preco}}
                    </ion-row>
                  </ion-col>
                  <ion-col size="4">
                    <ion-row class="ion-justify-content-end colorTextApp">
                      <span style="color: var(--ion-color-primary); font-weight: bold;">{{"FINANCEIRO.RELATORIO.COMISSAO"|translate}}:</span>{{ pendente.comissao | currencyGlobal }}
                    </ion-row>
                  </ion-col>
                </ion-row>
                <div class="one-line"></div>
              </div>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
      <ion-card class="backgroundCard">
        <ion-card-content>
          <ion-row
            style="font-size: medium; color: var(--cor-texto-escuro)"
            [ngStyle]="{
              cursor: comissao?.liberados?.length != 0 ? 'pointer' : 'auto'
            }"
            (click)="liberadosDetalhes = !liberadosDetalhes"
          >
            <ion-col>
              <ion-row class="ion-justify-content-start colorTextApp">
                {{ "FINANCEIRO.COMISSAO.EXTRATO.LIBERADO" | translate }}
              </ion-row>
            </ion-col>
            <ion-col>
              <ion-row class="ion-justify-content-end colorTextApp">
                {{
                  comissao?.apuracaoFinal != undefined
                    ? (comissao.apuracaoFinal.saldoComissaoLiberada
                      | currencyGlobal)
                    : (0 | currencyGlobal)
                }}
                <ion-icon
                  *ngIf="comissao?.liberados?.length != 0"
                  [name]="
                    liberadosDetalhes
                      ? 'chevron-up-outline'
                      : 'chevron-down-outline'
                  "
                  class="icon"
                ></ion-icon>
                <ion-icon
                  *ngIf="!(comissao?.liberados?.length != 0)"
                  class="icon"
                ></ion-icon>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-row
            *ngIf="comissao?.liberados?.length != 0 && liberadosDetalhes"
          >
            <ion-col>
              <div *ngFor="let liberado of comissao.liberados">
                <ion-row style="color: var(--cor-texto-escuro)">
                  <ion-col size="7">
                    <ion-row class="ion-justify-content-start  colorTextApp">
                      {{ getNomeSobrenome(liberado.nomeCliente) }}
                    </ion-row>
                  </ion-col>
                </ion-row>
                <ion-row style="font-size: small">
                  <ion-col size="4">
                    <ion-row class="ion-justify-content-start colorTextApp">
                      <span style="color: var(--ion-color-primary); font-weight: bold;">{{
                        "FINANCEIRO.COMISSAO.EXTRATO.DETALHES.NUMEROFICHA"
                          | translate
                      }}</span>: {{ liberado.numeroFicha }}
                    </ion-row>
                  </ion-col>
                  <ion-col size="5.5">
                    <ion-row class="ion-justify-content-start colorTextApp">
                      <span style="color: var(--ion-color-primary); font-weight: bold;">Pago via</span>: {{liberado.pagoVia}}
                    </ion-row>
                  </ion-col>
                  <ion-col size="2.5">
                    <ion-row class="ion-justify-content-end colorTextApp">
                      {{ liberado.data | date: "shortDate" }}
                    </ion-row>
                  </ion-col>
                  <ion-col size="8">
                    <ion-row class="ion-justify-content-start colorTextApp">
                      <span style="color: var(--ion-color-primary); font-weight: bold;">Serviço</span>:{{liberado.servico}} - R$ {{liberado.preco}}
                    </ion-row>
                  </ion-col>
                  <ion-col size="4">
                    <ion-row class="ion-justify-content-end colorTextApp">
                      <span style="color: var(--ion-color-primary); font-weight: bold;">{{"FINANCEIRO.RELATORIO.COMISSAO"|translate}}</span>:{{ liberado.comissao | currencyGlobal }}
                    </ion-row>
                  </ion-col>
                </ion-row>
                <div class="one-line"></div>
              </div>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
      <ion-card class="backgroundCard"> 
        <ion-card-content>
          <ion-row
            style="font-size: medium; color: var(--cor-texto-escuro)"
            [ngStyle]="{
              cursor: comissao?.preDatados?.length != 0 ? 'pointer' : 'auto'
            }"
            (click)="preDatadosDetalhes = !preDatadosDetalhes"
          >
            <ion-col>
              <ion-row class="ion-justify-content-start colorTextApp">
                {{ "FINANCEIRO.COMISSAO.EXTRATO.PREDATADOS" | translate }}
              </ion-row>
            </ion-col>
            <ion-col>
              <ion-row class="ion-justify-content-end colorTextApp">
                {{
                  comissao?.apuracaoFinal != undefined
                    ? (comissao.apuracaoFinal.preDatado | currencyGlobal)
                    : (0 | currencyGlobal)
                }}
                <ion-icon
                  *ngIf="comissao?.preDatados?.length != 0"
                  [name]="
                    preDatadosDetalhes
                      ? 'chevron-up-outline'
                      : 'chevron-down-outline'
                  "
                  class="icon"
                ></ion-icon>
                <ion-icon
                  *ngIf="!(comissao?.preDatados?.length != 0)"
                  class="icon"
                ></ion-icon>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-row
            *ngIf="comissao?.preDatados?.length != 0 && preDatadosDetalhes"
          >
            <ion-col>
              <div *ngFor="let preDatado of comissao.preDatados">
                <ion-row>
                  <ion-col size="7">
                    <ion-row class="ion-justify-content-start ">
                      {{ getNomeSobrenome(preDatado.nomeCliente) }}
                    </ion-row>
                  </ion-col>
                  <ion-col size="5">
                    <ion-row class="ion-justify-content-end ">
                      <span style="color: var(--ion-color-primary); font-weight: bold;">Comissão</span>:
                      {{ preDatado.comissao | currencyGlobal }}
                    </ion-row>
                  </ion-col>
                </ion-row>
                <ion-row style="font-size: small">
                  <ion-col size="7">
                    <ion-row class="ion-justify-content-start colorTextApp">
                      <span style="color: var(--ion-color-primary); font-weight: bold;">{{
                        "FINANCEIRO.COMISSAO.EXTRATO.DETALHES.NUMEROFICHA"
                          | translate
                      }}</span>: {{ preDatado.numeroFicha }}
                    </ion-row>
                  </ion-col>
                  <ion-col size="5">
                    <ion-row class="ion-justify-content-end colorTextApp">
                      {{ preDatado.data | date: "shortDate" }}
                    </ion-row>
                  </ion-col>
                </ion-row>
                <div class="one-line"></div>
              </div>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
      <ion-card class="backgroundCard">
        <ion-card-content>
          <ion-row
            style="font-size: medium; color: var(--cor-texto-escuro)"
            [ngStyle]="{
              cursor: comissao?.outros?.length != 0 ? 'pointer' : 'auto'
            }"
            (click)="outrosDetalhes = !outrosDetalhes"
          >
            <ion-col>
              <ion-row class="ion-justify-content-start colorTextApp">
                {{ "FINANCEIRO.COMISSAO.EXTRATO.OUTRASRECEITAS" | translate }}
              </ion-row>
            </ion-col>
            <ion-col>
              <ion-row class="ion-justify-content-end colorTextApp">
                {{
                  comissao?.apuracaoFinal != undefined
                    ? (comissao.apuracaoFinal.outrasReceitas | currencyGlobal)
                    : (0 | currencyGlobal)
                }}
                <ion-icon
                  *ngIf="comissao?.outros?.length != 0"
                  [name]="
                    outrosDetalhes
                      ? 'chevron-up-outline'
                      : 'chevron-down-outline'
                  "
                  class="icon"
                ></ion-icon>
                <ion-icon
                  *ngIf="!(comissao?.outros?.length != 0)"
                  class="icon"
                ></ion-icon>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="comissao?.outros?.length != 0 && outrosDetalhes">
            <ion-col>
              <div *ngFor="let outro of comissao.outros">
                <ion-row style="color: var(--cor-texto-escuro)">
                  <ion-col size="7">
                    <ion-row class="ion-justify-content-start colorTextApp" style="color: var(--ion-color-primary); font-weight: bold;">
                      {{ outro.descricao }}
                    </ion-row>
                  </ion-col>
                  <ion-col size="5">
                    <ion-row class="ion-justify-content-end colorTextApp">
                      {{ outro.valorRestante | currencyGlobal }}
                    </ion-row>
                  </ion-col>
                </ion-row>
                <ion-row style="font-size: small">
                  <ion-col size="7">
                    <ion-row class="ion-justify-content-start colorTextApp">
                      <span style="color: var(--ion-color-primary); font-weight: bold;">{{
                        "FINANCEIRO.COMISSAO.EXTRATO.DETALHES.VENCIMENTO"
                          | translate
                      }}</span>: {{ outro.dataVencimento | date: "shortDate" }}
                    </ion-row>
                  </ion-col>
                  <ion-col size="5">
                    <ion-row class="ion-justify-content-end colorTextApp">
                      {{ outro.data | date: "shortDate" }}
                    </ion-row>
                  </ion-col>
                </ion-row>
                <div class="one-line"></div>
              </div>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
      <ion-card class="backgroundCard">
        <ion-card-content>
          <ion-row
            style="font-size: medium; color: var(--cor-texto-escuro)"
            [ngStyle]="{
              cursor: comissao?.adiantamentos?.length != 0 ? 'pointer' : 'auto'
            }"
            (click)="adiantamentosDetalhes = !adiantamentosDetalhes"
          >
            <ion-col>
              <ion-row class="ion-justify-content-start colorTextApp">
                {{ "FINANCEIRO.COMISSAO.EXTRATO.REPASSES" | translate }}
              </ion-row>
            </ion-col>
            <ion-col>
              <ion-row class="ion-justify-content-end colorTextApp">
                {{
                  comissao?.apuracaoFinal != undefined
                    ? (comissao.apuracaoFinal.repasse | currencyGlobal)
                    : (0 | currencyGlobal)
                }}
                <ion-icon
                  *ngIf="comissao?.adiantamentos?.length != 0"
                  [name]="
                    adiantamentosDetalhes
                      ? 'chevron-up-outline'
                      : 'chevron-down-outline'
                  "
                  class="icon"
                ></ion-icon>
                <ion-icon
                  *ngIf="!(comissao?.adiantamentos?.length != 0)"
                  class="icon"
                ></ion-icon>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-row
            *ngIf="
              comissao?.adiantamentos?.length != 0 && adiantamentosDetalhes
            "
          >
            <ion-col>
              <div *ngFor="let adiantamento of comissao.adiantamentos">
                <ion-row style="color: var(--cor-texto-escuro)">
                  <ion-col size="12">
                    <ion-row class="ion-justify-content-start colorTextApp" style="color: var(--ion-color-primary); font-weight: bold;">
                    
                      Descrição: {{ adiantamento.descricao}}
                  </ion-row>
                  </ion-col>
                  <ion-col size="7">
                    <ion-row class="ion-justify-content-start colorTextApp">
                      <span style="color: var(--ion-color-primary); font-weight: bold;">{{
                        "FINANCEIRO.COMISSAO.EXTRATO.DETALHES.PAGAMENTO"
                          | translate
                      }}</span> {{ adiantamento.dataPagamento | date: "shortDate" }}
                    </ion-row>
                  </ion-col>
                  <ion-col size="5">
                    <ion-row class="ion-justify-content-end colorTextApp">
                      {{ adiantamento.valorRestante | currencyGlobal }}
                    </ion-row>
                  </ion-col>
                </ion-row>
                <ion-row style="font-size: small">
                  <ion-col size="7">
                    <ion-row class="ion-justify-content-start colorTextApp">
                      <span style="color: var(--ion-color-primary); font-weight: bold;">{{
                        "FINANCEIRO.COMISSAO.EXTRATO.DETALHES.VENCIMENTO"
                          | translate
                      }}</span>: {{ adiantamento.dataVencimento | date: "shortDate" }}
                    </ion-row>
                  </ion-col>
                  <ion-col size="5">
                    <ion-row class="ion-justify-content-end colorTextApp">
                      {{ adiantamento.data | date: "shortDate" }}
                    </ion-row>
                  </ion-col>
                </ion-row>
                <div class="one-line"></div>
              </div>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
      <ion-card class="backgroundCard">
        <ion-card-content>
          <ion-row
            style="font-size: medium; color: var(--cor-texto-escuro)"
            [ngStyle]="{
              cursor:
                comissao?.debitoComoCliente?.length != 0 ? 'pointer' : 'auto'
            }"
            (click)="debitoComoClienteDetalhes = !debitoComoClienteDetalhes"
          >
            <ion-col>
              <ion-row class="ion-justify-content-start colorTextApp">
                {{ "FINANCEIRO.COMISSAO.EXTRATO.DEBITOSCLIENTE" | translate }}
              </ion-row>
            </ion-col>
            <ion-col>
              <ion-row class="ion-justify-content-end colorTextApp">
                {{
                  comissao?.apuracaoFinal != undefined
                    ? (comissao.apuracaoFinal.debitoComoCliente
                      | currencyGlobal)
                    : (0 | currencyGlobal)
                }}
                <ion-icon
                  *ngIf="comissao?.debitoComoCliente?.length != 0"
                  [name]="
                    debitoComoClienteDetalhes
                      ? 'chevron-up-outline'
                      : 'chevron-down-outline'
                  "
                  class="icon"
                ></ion-icon>
                <ion-icon
                  *ngIf="!(comissao?.debitoComoCliente?.length != 0)"
                  class="icon"
                ></ion-icon>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-row
            *ngIf="
              comissao?.debitoComoCliente?.length != 0 &&
              debitoComoClienteDetalhes
            "
          >
            <ion-col>
              <div *ngFor="let debito of comissao.debitoComoCliente">
                <ion-row style="color: var(--cor-texto-escuro)">
                  <ion-col size="12">
                    <ion-row class="ion-justify-content-start colorTextApp" >
                    
                      <span style="color: var(--ion-color-primary); font-weight: bold;">Descrição</span>: {{ debito.descricao}}
                  </ion-row>
                  </ion-col>
                  <ion-col size="7">
                    <ion-row class="ion-justify-content-start colorTextApp">
                      <span style="color: var(--ion-color-primary); font-weight: bold;">{{
                        "FINANCEIRO.COMISSAO.EXTRATO.DETALHES.NUMERODOCUMENTO"
                          | translate
                      }}</span>: {{ debito.numeroDocumento }}
                    </ion-row>
                  </ion-col>
                  <ion-col size="5">
                    <ion-row class="ion-justify-content-end colorTextApp">
                      {{ debito.valorRestante | currencyGlobal }}
                    </ion-row>
                  </ion-col>
                </ion-row>
                <ion-row style="font-size: small">
                  <ion-col size="7">
                    <ion-row class="ion-justify-content-start colorTextApp">
                      <span style="color: var(--ion-color-primary); font-weight: bold;">{{
                        "FINANCEIRO.COMISSAO.EXTRATO.DETALHES.VENCIMENTO"
                          | translate
                      }}</span>: {{ debito.dataVencimento | date: "shortDate" }}
                    </ion-row>
                  </ion-col>
                  <ion-col size="5">
                    <ion-row class="ion-justify-content-end colorTextApp">
                      {{ debito.data | date: "shortDate" }}
                    </ion-row>
                  </ion-col>
                </ion-row>
                <div class="one-line"></div>
              </div>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
      <ion-card class="backgroundCard"
        *ngIf="
          comissao?.apuracaoFinal != undefined &&
          comissao.apuracaoFinal.rateioDigital != 0
        "
      >
        <ion-card-content>
          <ion-row style="font-size: medium; color: var(--cor-texto-escuro)"
            [ngStyle]="{
              cursor: comissao?.splitDigital?.length != 0 ? 'pointer' : 'auto'
            }"
            (click)="splitDetalhes = !splitDetalhes">
            <ion-col>
              <ion-row class="ion-justify-content-start colorTextApp">
                {{ "FINANCEIRO.COMISSAO.EXTRATO.RATEIODIGITAL" | translate }}
              </ion-row>
            </ion-col>
            <ion-col>
              <ion-row class="ion-justify-content-end colorTextApp">
                {{
                  comissao?.apuracaoFinal != undefined
                    ? (comissao.apuracaoFinal.rateioDigital | currencyGlobal)
                    : (0 | currencyGlobal)
                }}
                <ion-icon
                  *ngIf="comissao?.splitDigital?.length != 0"
                  [name]="
                    splitDetalhes
                      ? 'chevron-up-outline'
                      : 'chevron-down-outline'
                  "
                  class="icon"
                ></ion-icon>
                <ion-icon
                  *ngIf="!(comissao?.splitDigital?.length != 0)"
                  class="icon"
                ></ion-icon>
              </ion-row>
            </ion-col>

          
          </ion-row>
          <ion-row
            *ngIf="comissao?.splitDigital?.length != 0 && splitDetalhes"
          >
            <ion-col>
              <div *ngFor="let splitdigital of comissao.splitDigital">
                <ion-row style="color: var(--cor-texto-escuro)">
                  <ion-col size="7">
                    <ion-row class="ion-justify-content-start colorTextApp">
                      {{ getNomeSobrenome(splitdigital.nomeCliente) }}
                    </ion-row>
                  </ion-col>
                  <ion-col size="5">
                    <ion-row class="ion-justify-content-end colorTextApp">
                      {{ splitdigital.comissao | currencyGlobal }}
                    </ion-row>
                  </ion-col>
                </ion-row>
                <ion-row style="font-size: small">
                  <ion-col size="3">
                    <ion-row class="ion-justify-content-start colorTextApp">
                      {{
                        "FINANCEIRO.COMISSAO.EXTRATO.DETALHES.NUMEROFICHA"
                          | translate
                      }}: {{ splitdigital.numeroFicha }}
                    </ion-row>
                  </ion-col>
                  <ion-col size="4">
                    <ion-row class="ion-justify-content-start colorTextApp">
                      Cartão: {{ splitdigital.tipoCartao }}
                    </ion-row>
                  </ion-col>
                  <ion-col size="5">
                    <ion-row class="ion-justify-content-end colorTextApp">
                      {{ splitdigital.data | date: "shortDate" }} - {{splitdigital.dataCadastro.split('T')[1].substring(0,5)}}
                    </ion-row>
                  </ion-col>
                </ion-row>
                <div class="one-line"></div>
              </div>
            </ion-col>
          </ion-row>
          
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
