.limpar {
  text-decoration: dashed;
  color: var(--ion-color-primary);
  font-size: 12px;
}

.limpar ion-label:active {
  background-color: #c1c1c1;
}
.status-badge {
  font-size: 12px;
  color: white;
  /*  padding: 2px; */
  border-radius: 50px;
  width: 90.47px;
  padding: 0;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-label {
  white-space: normal;
}
.colunaIcon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.iconeStyle {
  transform: scale(2);
  color: var(--ion-color-primary);
}
.clique {
  text-decoration: dashed;
  color: var(--ion-color-primary);
  font-weight: bold;
}
.gridTotal {
  align-items: center;
  display: flex;
}

.btn-secondary {
  color: var(--cor-fundo-botaoAgendar);
  border: 1px solid var(--cor-fundo-botaoAgendar);
  font-weight: bold;
  border-radius: 10px;
  --box-shadow: none;
  margin: 0;
  height: 50px;
}

ion-toolbar {
  --background: var(--cor-fundo-barraTopo);
}

ion-content{
  --ion-background-color: var(--background-color-geral)!important;
}

