<ion-content class="backgroundContentApp" scrollY="false">
  <ion-row
    class="ion-justify-content-center ion-text-center titulo"
    style="
      background-color: var(--cor-fundo-barraTopo);
      align-items: center;
      color: var(--cor-texto-barraTopo);
    "
  >
    {{ "AGENDA.MODALS.OPCOESAGENDAMENTO.TITLE" | translate }}
  </ion-row>

  <ion-row style="padding: 10px">
    <ion-col class="texto data" style="height: auto">
      <span style="color: var(--ion-color-primary)" [ngSwitch]="diaSemana">
        <label *ngSwitchCase="0">{{ "AGENDA.DOMINGO" | translate }},</label>
        <label *ngSwitchCase="1">{{ "AGENDA.SEGUNDA" | translate }},</label>
        <label *ngSwitchCase="2">{{ "AGENDA.TERCA" | translate }},</label>
        <label *ngSwitchCase="3">{{ "AGENDA.QUARTA" | translate }},</label>
        <label *ngSwitchCase="4">{{ "AGENDA.QUINTA" | translate }},</label>
        <label *ngSwitchCase="5">{{ "AGENDA.SEXTA" | translate }},</label>
        <label *ngSwitchCase="6">{{ "AGENDA.SABADO" | translate }},</label>
      </span>
      <span style="color: var(--ion-color-primary)">&nbsp;{{ dataDia }}</span>
    </ion-col>
  </ion-row>

  <ion-row style="padding-top: 5px">
    <ion-col class="texto dados0"
      ><span style="color: var(--ion-color-primary)">{{
        "AGENDA.MODALS.OPCOESAGENDAMENTO.CLIENTE" | translate
      }}</span
      >:
      <span class="colorTextApp">{{
        dadosAgendamento.nomeCliente
      }}</span></ion-col
    >
  </ion-row>

  <ion-row
    [ngStyle]="{
      'padding-bottom':
        dadosAgendamento.descricaoServico?.length > 27 ? '9px' : '0px'
    }"
  >
    <ion-col class="texto dados"
      ><span style="color: var(--ion-color-primary)">{{
        "AGENDA.MODALS.OPCOESAGENDAMENTO.SERVICO" | translate
      }}</span
      >:
      <span
      class="colorTextApp"
        [ngStyle]="{
          'font-size':
            dadosAgendamento.descricaoServico?.length > 27 ? '15px' : 'unset'
        }"
        >{{ dadosAgendamento.descricaoServico }}</span
      >
    </ion-col>
  </ion-row>

  <ion-row>
    <!--<ion-col class="texto dados"><span style="color: #979797;">{{ 'AGENDA.MODALS.OPCOESAGENDAMENTO.HORARIO' | translate }}</span>: <span style="color: #3d3d3d;">{{ dadosAgendamento.horarioInicio?.substr(0,5) }} - {{ dadosAgendamento.horarioFim?.substr(0,5) }}</span></ion-col>-->
    <ion-col class="texto dados0"
      ><span style="color: var(--ion-color-primary)">{{
        "AGENDA.MODALS.OPCOESAGENDAMENTO.HORARIO" | translate
      }}</span
      >:
      <span class="colorTextApp"
        >{{ dadosAgendamento.horarioInicio?.substr(0, 5) }} -
        {{ dadosAgendamento.horarioFim?.substr(0, 5) }}</span
      ></ion-col
    >
    <!--<ion-col class="texto"><span style="color: #979797;">{{ 'AGENDA.MODALS.OPCOESAGENDAMENTO.TERMINO' | translate }}</span>: <span style="color: #3d3d3d;">{{ dadosAgendamento.horarioFim?.substr(0,5) }}</span></ion-col>-->
  </ion-row>

  <ion-row
    *ngIf="
      dadosAgendamento.observacao != undefined &&
      dadosAgendamento.observacao != null &&
      dadosAgendamento.observacao?.length > 0
    "
  >
    <ion-col class="texto dados0">
      <span style="color: var(--ion-color-primary)">{{
        "AGENDA.MODALS.OPCOESAGENDAMENTO.OBSERVACAO" | translate
      }}</span
      >:
      <span
      class="colorTextApp"
        [ngStyle]="{
          'font-size':
            dadosAgendamento.observacao?.length > 45 ? '14px' : 'unset'
        }"
        >{{ dadosAgendamento.observacao | slice: 0:63 }}</span
      >
      <span
        style="font-size: 18px"
        *ngIf="dadosAgendamento.observacao?.length > 64"
        >...</span
      >
      <span
        *ngIf="dadosAgendamento.observacao?.length > 64"
        (click)="presentAlertObservacao()"
        style="
          font-size: 14px;
          color: var(--ion-color-primary);
          font-weight: bolder;
        "
        >{{ "AGENDA.MODALS.OPCOESAGENDAMENTO.VERMAIS" | translate }}</span>
    </ion-col>
  </ion-row>

  <!--  <ion-row>-->
  <!--    <ion-col class="texto dados0" style="display: flex; justify-content: center;">-->
  <!--      <ion-button style="color: var(&#45;&#45;ion-color-primary); height: 1.5rem;"-->
  <!--      color="transparent"-->
  <!--      class="btn0"-->
  <!--      expand="block"-->
  <!--      type="submit"-->
  <!--      (click)="verHistoricoCliente(dadosAgendamento.nomeCliente)">-->

  <!--        <span style="text-transform: uppercase; font-size: 11px;">Ver Histórico do Cliente</span>-->
  <!--      </ion-button>-->
  <!--    </ion-col>-->
  <!--  </ion-row>-->
</ion-content>

<ion-footer  class="ion-no-border backgroundFooterApp">
  <ion-row class="ion-justify-content-center" style="padding: 0 20px;">
    <ion-col size="6" style="padding: 5px 5px 0 0">
      <ion-button
        
        
        class="btn0 "
        expand="block"
        type="submit"
        color="transparent"
        (click)="resumoAgendamento()"
        [disabled]="dadosAgendamento.status == 'R'"
      >
        <ion-icon
          name="search-outline"
          slot="start"
          
        ></ion-icon>
        <span style="text-transform: uppercase; font-size: 11px">Ver Lançamentos</span>
      </ion-button>
    </ion-col>
    <ion-col size="6" style="padding: 5px 0px 0 5px">
    <ion-button
        color="transparent"
        class="btn0"
        expand="block"
        type="submit"
        (click)="detalhesCliente()"
      >
      <ion-icon name="man-outline" slot="start"></ion-icon>
      <span style="text-transform: uppercase; font-size: 11px"> Detalhes Cliente</span></ion-button>
    </ion-col>
  </ion-row>

  <ion-row style="padding: 0 20px">
    <ion-col
      *ngIf="
        !this.parametrosLight.desmarcarAgendamentosEBloqueio &&
        this.parametrosLight.permitirAgendamentos &&
        this.claims_Agenda.Editar == true &&
        tipoLogin !== 'gestor'
      "
      size="12"
      style="padding: 5px 5px 0 0"
    >
      <ion-button
        color="transparent"
        class="btn0"
        expand="block"
        type="submit"
        (click)="editarAppointment()"
        [disabled]="dadosAgendamento.status != ('A' || 'C' || 'P')"
      >
        <ion-icon
          name="create"
          slot="start"
          
        ></ion-icon>
        <span style="text-transform: uppercase; font-size: 11px"> {{ "AGENDA.MODALS.OPCOESAGENDAMENTO.EDITAR" | translate }}</span>
      </ion-button>
    </ion-col>

    <ion-col
      *ngIf="
        (this.parametrosLight.desmarcarAgendamentosEBloqueio == true &&
          this.parametrosLight.permitirAgendamentos &&
          this.claims_Agenda.Editar == true) ||
        tipoLogin === 'gestor'
      "
      size="6"
      style="padding: 5px 5px 0 0"
    >
      <ion-button
        class="btn0"
        expand="block"
        type="submit"
        color="transparent"
        (click)="editarAppointment()"
        [disabled]="dadosAgendamento.status != ('A' || 'C' || 'P')"
      >
        <ion-icon
          name="create"
          slot="start"
          
        ></ion-icon>
        <span style="text-transform: uppercase; font-size: 11px"> {{ "AGENDA.MODALS.OPCOESAGENDAMENTO.EDITAR" | translate }}</span>
        
      </ion-button>
    </ion-col>

    <ion-col
      *ngIf="
        (this.parametrosLight.desmarcarAgendamentosEBloqueio == true &&
          this.parametrosLight.permitirAgendamentos &&
          this.claims_Agenda.Desmarcar == true) ||
        tipoLogin === 'gestor'
      "
      size="6"
      style="padding: 5px 0 0 5px"
    >
      <ion-button
        style="
          color: var(--ion-color-danger);
          border-color: var(--ion-color-danger);
        "
        color="transparent"
        class="btn0"
        expand="block"
        type="submit"
        (click)="presentAlertConfirm()"
        [disabled]="
          dadosAgendamento.status != 'A' && dadosAgendamento.status != 'M'
        "
      >
        <ion-icon
          name="close"
          slot="start"
          style="color: var(--ion-color-danger); transform: scale(1.5)"
        ></ion-icon>
        <span style="text-transform: uppercase; font-size: 11px"> {{ "AGENDA.MODALS.OPCOESAGENDAMENTO.DESMARCAR" | translate }}</span>
      </ion-button>
    </ion-col>
    <ion-col
      *ngIf="
        this.parametrosLight.desmarcarAgendamentosEBloqueio == true &&
        !this.parametrosLight.permitirAgendamentos &&
        this.claims_Agenda.Desmarcar == true
      "
      size="12"
      style="padding: 5px 0 0 5px"
    >
      <ion-button
        style="
          color: var(--ion-color-danger);
          border-color: var(--ion-color-danger);
        "
        color="transparent"
        class="btn0"
        expand="block"
        type="submit"
        (click)="presentAlertConfirm()"
        [disabled]="
          dadosAgendamento.status != 'A' && dadosAgendamento.status != 'M'
        "
      >
        <ion-icon
          name="close"
          slot="start"
          style="color: var(--ion-color-danger); transform: scale(1.5)"
        ></ion-icon>
        <span style="text-transform: uppercase; font-size: 11px"> {{ "AGENDA.MODALS.OPCOESAGENDAMENTO.DESMARCAR" | translate }}</span>
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center" style="padding: 5px 0 0 0">
    <ion-col
    *ngIf="
    (tipoLogin === 'colaborador' || tipoLogin === 'gestor') &&
    QtdAgendamentos > 1
  "
      size="12"
      style="padding: 5px 20px"
    >
      <ion-button
        style="color: var(--ion-color-primary)"
        color="transparent"
        class="btn0"
        expand="block"
        type="submit"
        (click)="outrosAgendamentosModal()"
      >
        <ion-icon
          name="list"
          slot="start"
          style="color: var(--ion-color-primary); transform: scale(1.5)"
        ></ion-icon>
        <span style="text-transform: uppercase; font-size: 11px">{{ "AGENDA.MODALS.OPCOESAGENDAMENTO.OUTROSAGENDAMENTOS" | translate }}</span>
      </ion-button>
    </ion-col>
  </ion-row>

  <!--position: fixed; bottom: 60px; left: 0; right: 0;-->

  <ion-row
    class="ion-justify-content-center"
    style="
      background-color: var(--ion-color-primary);
      border-radius: 5px;
      margin: 10px;
    "
  >
    <ion-col size="12" class="ion-no-padding">
      <ion-button
        class="backgroundButtonApp"
        expand="block"
        type="submit"
        (click)="close()"
        style="--box-shadow: none; margin: auto; height: 50px"
      >
        <ion-row class="backgroundButtonApp">{{
          "AGENDA.MODALS.OPCOESAGENDAMENTO.VOLTARPARAAGENDA" | translate
        }}</ion-row>
      </ion-button>
    </ion-col>
  </ion-row>
  <!-- position: fixed; bottom: 20px; left: 0; right: 0;-->
</ion-footer>
