<?xml version="1.0"?>
<configuration>
<system.webServer>
    <staticContent>
      <!-- In case IIS already has this mime type -->
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
      <remove fileExtension=".otf" />
      <mimeMap fileExtension=".otf" mimeType="font/otf" />
      <remove fileExtension=".eot" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="images/svg+xml" />
      <remove fileExtension=".svgz" />
      <mimeMap fileExtension=".svgz" mimeType="images/svg+xml" />
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
    <rewrite>
      <rules>
        <rule name="OneApp" stopProcessing="true">
          <match url="OneApp/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" appendQueryString="true" url="OneApp/index.html" />
        </rule>
        <rule name="Exclusivo" stopProcessing="true">
          <match url="Exclusivo/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" appendQueryString="true" url="Exclusivo/index.html" />
        </rule>
        <rule name="Peak" stopProcessing="true">
          <match url="Peak/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" appendQueryString="true" url="Peak/index.html" />
        </rule>
        <rule name="Alcateia" stopProcessing="true">
          <match url="Alcateia/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" appendQueryString="true" url="Alcateia/index.html" />
        </rule>
        <rule name="ClubeDaBarba" stopProcessing="true">
          <match url="ClubeDaBarba/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" appendQueryString="true" url="ClubeDaBarba/index.html" />
        </rule>
        <rule name="RafaPremium" stopProcessing="true">
          <match url="RafaPremium/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" appendQueryString="true" url="RafaPremium/index.html" />
        </rule>
        <rule name="Hoffmann" stopProcessing="true">
          <match url="Hoffmann/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" appendQueryString="true" url="Hoffmann/index.html" />
        </rule>
        <rule name="OldBoss" stopProcessing="true">
          <match url="OldBoss/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" appendQueryString="true" url="OldBoss/index.html" />
        </rule>
        <rule name="Leal" stopProcessing="true">
          <match url="Leal/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" appendQueryString="true" url="Leal/index.html" />
        </rule>
        <rule name="Rogerios" stopProcessing="true">
          <match url="Rogerios/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" appendQueryString="true" url="Rogerios/index.html" />
        </rule>
        <rule name="LoMaestro" stopProcessing="true">
          <match url="LoMaestro/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" appendQueryString="true" url="LoMaestro/index.html" />
        </rule>
        <rule name="Rincones" stopProcessing="true">
          <match url="Rincones/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" appendQueryString="true" url="Rincones/index.html" />
        </rule>
        <rule name="Fogo" stopProcessing="true">
          <match url="Fogo/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" appendQueryString="true" url="Fogo/index.html" />
        </rule>
        <rule name="Belvedere" stopProcessing="true">
          <match url="Belvedere/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" appendQueryString="true" url="Belvedere/index.html" />
        </rule>
        <rule name="Cappone" stopProcessing="true">
          <match url="Cappone/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" appendQueryString="true" url="Cappone/index.html" />
        </rule>
        <rule name="RazorBros" stopProcessing="true">
          <match url="RazorBros/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" appendQueryString="true" url="RazorBros/index.html" />
        </rule>
        <rule name="StudioLS" stopProcessing="true">
          <match url="StudioLS/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" appendQueryString="true" url="StudioLS/index.html" />
        </rule>
        <rule name="DonMigliorine" stopProcessing="true">
          <match url="DonMigliorine/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" appendQueryString="true" url="DonMigliorine/index.html" />
        </rule>
        <rule name="Baruque" stopProcessing="true">
          <match url="Baruque/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" appendQueryString="true" url="Baruque/index.html" />
        </rule>
        <rule name="Ienzo" stopProcessing="true">
          <match url="Ienzo/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" appendQueryString="true" url="Ienzo/index.html" />
        </rule>
        <rule name="Toca" stopProcessing="true">
          <match url="Toca/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" appendQueryString="true" url="Toca/index.html" />
        </rule>
        <rule name="Snoons" stopProcessing="true">
          <match url="Snoons/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" appendQueryString="true" url="Snoons/index.html" />
        </rule>
        <rule name="Lestilo" stopProcessing="true">
          <match url="Lestilo/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" appendQueryString="true" url="Lestilo/index.html" />
        </rule>
        <rule name="Club7" stopProcessing="true">
          <match url="Club7/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" appendQueryString="true" url="Club7/index.html" />
        </rule>
        <rule name="Richard" stopProcessing="true">
          <match url="Richard/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" appendQueryString="true" url="Richard/index.html" />
        </rule>
                <rule name="BobKids" stopProcessing="true">
          <match url="BobKids/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" appendQueryString="true" url="BobKids/index.html" />
        </rule>
        <rule name="Mee" stopProcessing="true">
          <match url="Mee/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" appendQueryString="true" url="Mee/index.html" />
        </rule>
        <rule name="Terezinha" stopProcessing="true">
          <match url="Terezinha/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" appendQueryString="true" url="Terezinha/index.html" />
        </rule>
        <rule name="Will" stopProcessing="true">
          <match url="Will/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" appendQueryString="true" url="Will/index.html" />
        </rule>
        <rule name="Dehlanio" stopProcessing="true">
          <match url="Dehlanio/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" appendQueryString="true" url="Dehlanio/index.html" />
        </rule>
        <rule name="Bracht" stopProcessing="true">
          <match url="Bracht/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" appendQueryString="true" url="Bracht/index.html" />
        </rule>
        <rule name="SeuBarbudo" stopProcessing="true">
          <match url="SeuBarbudo/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" appendQueryString="true" url="SeuBarbudo/index.html" />
        </rule>
        <rule name="Babelo" stopProcessing="true">
          <match url="Babelo/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" appendQueryString="true" url="Babelo/index.html" />
        </rule>
        <rule name="Retro230" stopProcessing="true">
          <match url="Retro230/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" appendQueryString="true" url="Retro230/index.html" />
        </rule>
        <rule name="JP" stopProcessing="true">
          <match url="JP/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" appendQueryString="true" url="JP/index.html" />
        </rule>
        <rule name="DonRazor" stopProcessing="true">
          <match url="DonRazor/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" appendQueryString="true" url="DonRazor/index.html" />
        </rule>
        <rule name="ClubHouse" stopProcessing="true">
          <match url="ClubHouse/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" appendQueryString="true" url="ClubHouse/index.html" />
        </rule>
        <rule name="Thiago" stopProcessing="true">
          <match url="Thiago/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" appendQueryString="true" url="Thiago/index.html" />
        </rule>
        <rule name="FioNavalha" stopProcessing="true">
          <match url="FioNavalha/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" appendQueryString="true" url="FioNavalha/index.html" />
        </rule>
        <rule name="TratoDeBarbados" stopProcessing="true">
          <match url="TratoDeBarbados/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" appendQueryString="true" url="TratoDeBarbados/index.html" />
        </rule>
        <rule name="Foguinho" stopProcessing="true">
          <match url="Foguinho/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" appendQueryString="true" url="Foguinho/index.html" />
        </rule>
        <rule name="Baixinhos" stopProcessing="true">
          <match url="Baixinhos/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" appendQueryString="true" url="Baixinhos/index.html" />
        </rule>
        <rule name="Rapha" stopProcessing="true">
          <match url="Rapha/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" appendQueryString="true" url="Rapha/index.html" />
        </rule>
        <rule name="EspacoDR" stopProcessing="true">
          <match url="EspacoDR/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" appendQueryString="true" url="EspacoDR/index.html" />
        </rule>
        <rule name="Clip" stopProcessing="true">
          <match url="Clip/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" appendQueryString="true" url="Clip/index.html" />
        </rule>
        <rule name="Guift" stopProcessing="true">
          <match url="Guift/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" appendQueryString="true" url="Guift/index.html" />
        </rule>
        <rule name="Isa" stopProcessing="true">
          <match url="Isa/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" appendQueryString="true" url="Isa/index.html" />
        </rule>
        <rule name="ElSenor" stopProcessing="true">
          <match url="ElSenor/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" appendQueryString="true" url="ElSenor/index.html" />
        </rule>
        <rule name="Mons" stopProcessing="true">
          <match url="Mons/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" appendQueryString="true" url="Mons/index.html" />
        </rule>
        <rule name="Jeovane" stopProcessing="true">
          <match url="Jeovane/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" appendQueryString="true" url="Jeovane/index.html" />
        </rule>
        <rule name="Motiro" stopProcessing="true">
          <match url="Motiro/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" appendQueryString="true" url="Motiro/index.html" />
        </rule>
        <rule name="Beking" stopProcessing="true">
          <match url="Beking/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" appendQueryString="true" url="Beking/index.html" />
        </rule>
        <rule name="Cassimiro" stopProcessing="true">
          <match url="Cassimiro/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" appendQueryString="true" url="Cassimiro/index.html" />
        </rule>
        <rule name="Nood" stopProcessing="true">
          <match url="Nood/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" appendQueryString="true" url="Nood/index.html" />
        </rule>
        <rule name="Torres" stopProcessing="true">
          <match url="Torres/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" appendQueryString="true" url="Torres/index.html" />
        </rule>
        <rule name="Blackwood" stopProcessing="true">
          <match url="Blackwood/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" appendQueryString="true" url="Blackwood/index.html" />
        </rule>
        <rule name="Ricoy" stopProcessing="true">
          <match url="Ricoy/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" appendQueryString="true" url="Ricoy/index.html" />
        </rule>
        <rule name="ChiqueSpazio" stopProcessing="true">
          <match url="ChiqueSpazio/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" appendQueryString="true" url="ChiqueSpazio/index.html" />
        </rule>
        <rule name="Arena" stopProcessing="true">
          <match url="Arena/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" appendQueryString="true" url="Arena/index.html" />
        </rule>
        <rule name="Vargas" stopProcessing="true">
          <match url="Vargas/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" appendQueryString="true" url="Vargas/index.html" />
        </rule>
        <rule name="BaraoDaNavalha" stopProcessing="true">
          <match url="BaraoDaNavalha/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" appendQueryString="true" url="BaraoDaNavalha/index.html" />
        </rule>
        <rule name="Goat" stopProcessing="true">
          <match url="Goat/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" appendQueryString="true" url="Goat/index.html" />
        </rule>
        <rule name="Buffalus" stopProcessing="true">
          <match url="Buffalus/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" appendQueryString="true" url="Buffalus/index.html" />
        </rule>
        <rule name="Caballeros" stopProcessing="true">
          <match url="Caballeros/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" appendQueryString="true" url="Caballeros/index.html" />
        </rule>
        <rule name="Lanavalha" stopProcessing="true">
          <match url="Lanavalha/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" appendQueryString="true" url="Lanavalha/index.html" />
        </rule>
        <rule name="Cozalinda" stopProcessing="true">
          <match url="Cozalinda/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" appendQueryString="true" url="Cozalinda/index.html" />
        </rule>
        <rule name="Elegance" stopProcessing="true">
          <match url="Elegance/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" appendQueryString="true" url="Elegance/index.html" />
        </rule>
        <rule name="DaResenha" stopProcessing="true">
          <match url="DaResenha/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" appendQueryString="true" url="DaResenha/index.html" />
        </rule>
        <rule name="BossHouse" stopProcessing="true">
          <match url="BossHouse/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" appendQueryString="true" url="BossHouse/index.html" />
        </rule>
        <rule name="BarbeariaNO4" stopProcessing="true">
          <match url="BarbeariaNO4/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" appendQueryString="true" url="BarbeariaNO4/index.html" />
        </rule>
        <rule name="MoodNails" stopProcessing="true">
          <match url="MoodNails/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" appendQueryString="true" url="MoodNails/index.html" />
        </rule>
        <rule name="Gusmao" stopProcessing="true">
          <match url="Gusmao/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" appendQueryString="true" url="Gusmao/index.html" />
        </rule>
        <rule name="Bianchi" stopProcessing="true">
          <match url="Bianchi/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" appendQueryString="true" url="Bianchi/index.html" />
        </rule>
        <rule name="ThyagoTobias" stopProcessing="true">
          <match url="ThyagoTobias/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" appendQueryString="true" url="ThyagoTobias/index.html" />
        </rule>
        <rule name="MaosDeOuro" stopProcessing="true">
          <match url="MaosDeOuro/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" appendQueryString="true" url="MaosDeOuro/index.html" />
        </rule>
        <rule name="SrMustache" stopProcessing="true">
          <match url="SrMustache/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" appendQueryString="true" url="SrMustache/index.html" />
        </rule>
        <rule name="Rocus" stopProcessing="true">
          <match url="Rocus/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" appendQueryString="true" url="Rocus/index.html" />
        </rule>
        <rule name="Rhuan" stopProcessing="true">
          <match url="Rhuan/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" appendQueryString="true" url="Rhuan/index.html" />
        </rule>
        <rule name="RBBarbearia" stopProcessing="true">
          <match url="RBBarbearia/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" appendQueryString="true" url="RBBarbearia/index.html" />
        </rule>
        <rule name="StudioBarber" stopProcessing="true">
          <match url="StudioBarber/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" appendQueryString="true" url="StudioBarber/index.html" />
        </rule>
        <rule name="Default" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>
      </rules>
    </rewrite>
</system.webServer>
</configuration>