ion-content::part(background) {
  --background: "none";
    background: var(--background-color-geral)!important;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    background-position: var(--position-bg)!important; 
}

ion-title.title {
  //padding-right: 50px !important;
  position: unset;
  padding-left: 0;
  text-align: center;
  display: contents;
}

ion-button[oneFinanceiro] {
  text-transform: none;
  background-color: var(--background-color-geral);
}

.icon {
  left: 95%;
  position: absolute;
}

ion-toolbar {
  --background: var(--cor-fundo-barraTopo);
  --min-height: 45px !important;
  --max-height: 45px !important;
}

ion-header {
  height: 90px;
}
