ion-content {
  ion-grid {
    background-color: #ffffff;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 15px;
    padding-bottom: 0;
    --overflow: hidden !important;
  }
}

ion-toolbar {
  --background: var(--cor-fundo-barraTopo);
}

ion-content::part(background) {
  background-color: #ffffff;
}

.content-col {
  padding: 0;
}

.modal-header {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  width: 100%;
  height: 40px;
}

.modal-body {
  max-height: none;
  position: absolute;
  top: 40px;
  bottom: 60px;
  width: 100%;
  overflow-y: auto;
  box-sizing: border-box;
}

.item-decoration {
  text-decoration: none;
}

@media screen and (max-height: 600px) {
  ion-toolbar {
    height: 48px;
    --min-height: 48px !important;
    --background: var(--cor-fundo-barraTopo);
  }
}
