<app-calendario (dataSelecionada)="updateDate($event)"></app-calendario>
<ion-row class="ion-justify-content-center search-row" #container>
  <ion-col size="12" size-md="10" size-xs="11">
    <div
      style="
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        margin-left: 5px;
        margin-right: 5px;
        object-fit: contain;
        width: 100%;
      "
    >
      <ion-icon
        name="search-outline"
        style="font-size: 24px; color: var(--ion-color-primary)"
      ></ion-icon>
      <kendo-combobox
        class="autocomplete"
        [data]="listaColaboradoresPesquisados"
        [filterable]="true"
        (filterChange)="pesquisaColaboradores($event)"
        [placeholder]="'AGENDA.AGENDAGESTOR.PESQUISAR' | translate"
        [textField]="'nomeProfissional'"
        [valueField]="'profissionalId'"
        (valueChange)="changeColaborador($event)"
      >
        <ng-template kendoComboBoxItemTemplate let-dataItem>
          <ion-row>
            <ion-col>
              <ion-row>
                {{ dataItem.nomeProfissional }}
              </ion-row>
            </ion-col>
          </ion-row>
        </ng-template>
      </kendo-combobox>
    </div>
  </ion-col>
</ion-row>

<ion-content class="colorTextApp"
  id="1"
  #card
  [ngStyle]="{
    height: cardHeight,
    'background-color': 'transparent',
    'box-shadow': '0 0 black',
    right: '1%',
    width: '101%',
    'margin-left':
      screenWidth < 576 ? (screenWidth < 447 ? '10px' : '15px') : '20px',
    'margin-bottom': '0px',
    'margin-top': '0px'
  }"
>
  <ion-refresher slot="fixed" (ionRefresh)="updateAppointmentList($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid
    style="height: 70%; max-width: 1024px; padding-top: 0px; margin-top: 10px"
    [ngStyle]="{ 'max-width': webBrowser == true ? '440px' : 'unset' }"
  >
    <ng-container *ngIf="!selecionouColaborador">
      <ion-row style="display: flex; justify-content: center; margin-top: 1vh">
        <ion-icon
          style="font-size: 64px; color: var(--cor-texto-aviso);"
          name="alert-circle-outline"
          
        ></ion-icon>
      </ion-row>
      <ion-row style="display: flex; justify-content: center">
        <ion-col
          style="
            max-width: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
          "
        >
          <ion-text style="text-align: center; color: var(--cor-texto-aviso);">
            {{ "AGENDA.AGENDAGESTOR.SELECIONECOLABORADOR" | translate }}
          </ion-text>
        </ion-col>
      </ion-row>
    </ng-container>

    <ng-container
      *ngIf="temHorario && carregouAgendamentos && verificaHorarios()"
    >
      <ng-container *ngFor="let agendamento of agendamentos; index as i">
        <div
          (click)="showAppointmentDetails(i)"
          class="agendamento backgroundCard"
          style="
            margin-bottom: 10px;
            border-radius: 10px;
            max-width: 450px;
          "
        >
          <div
            [ngStyle]="{
              'border-left': setBorderStatus(agendamento.status),
              'padding-left': '3px',
              'border-radius': '10px'
            }"
          >
            <ion-row>
              <ion-col size="12">
                <ion-row>
                  <ion-col
                    size="7"
                    style="font-size: 14px; text-align: left; overflow: hidden"
                  >
                    <span class="horarioInicio horarioControl"
                      >{{ dataFormatada }} -
                    </span>
                    <span
                      class="horarioControl"
                      style="font-size: 14px"
                      [ngSwitch]="diaDaSemana"
                    >
                      <label *ngSwitchCase="'0'">
                        {{ "AGENDA.DOMINGO" | translate }}</label
                      >
                      <label *ngSwitchCase="'1'">
                        {{ "AGENDA.SEGUNDA" | translate }}</label
                      >
                      <label *ngSwitchCase="'2'">
                        {{ "AGENDA.TERCA" | translate }}</label
                      >
                      <label *ngSwitchCase="'3'">
                        {{ "AGENDA.QUARTA" | translate }}</label
                      >
                      <label *ngSwitchCase="'4'">
                        {{ "AGENDA.QUINTA" | translate }}</label
                      >
                      <label *ngSwitchCase="'5'">
                        {{ "AGENDA.SEXTA" | translate }}</label
                      >
                      <label *ngSwitchCase="'6'">
                        {{ "AGENDA.SABADO" | translate }}</label
                      >
                    </span>
                    <ion-row>
                      <ion-col size="4">
                        <ion-row style="font-size: 14px; padding-top: 5px"
                          >{{ agendamento.horarioInicio?.substr(0, 5) }}
                        </ion-row>
                        <ion-row style="font-size: 13px; padding-left: 8px"
                          >{{ "AGENDA.ATE" | translate }}
                        </ion-row>
                        <ion-row style="font-size: 14px">{{
                          agendamento.horarioFim?.substr(0, 5)
                        }}</ion-row>
                      </ion-col>
                      <ion-col size="8">
                        <ion-row
                          class="global-txt-cap"
                          *ngIf="
                            agendamento.bloqueio !== 1 &&
                            agendamento.horarioLivre !== 1
                          "
                          style="
                            display: block;
                            font-size: 14px;
                            font-weight: bold;
                            padding-top: 10px;
                          "
                        >
                          <span *ngIf="agendamento.nomeCliente?.length > 16">{{
                            agendamento.nomeCliente | slice: 0:nameSizeCut - 2
                          }}</span>
                          <span *ngIf="agendamento.nomeCliente?.length <= 16">{{
                            agendamento.nomeCliente | slice: 0:nameSizeCut
                          }}</span>

                          <span
                            *ngIf="
                              agendamento.nomeCliente?.length > nameSizeCut + 1
                            "
                            >...</span
                          >
                        </ion-row>
                        <ion-row
                          *ngIf="
                            agendamento.bloqueio !== 1 &&
                            agendamento.horarioLivre !== 1
                          "
                          style="display: block; font-size: 14px"
                          >{{ agendamento.descricaoServico | slice: 0:14 }}
                          <span
                            *ngIf="
                              agendamento.descricaoServico?.length > 15 &&
                              screenWidth < 420
                            "
                            >...</span
                          >
                        </ion-row>
                        <ion-row
                          *ngIf="
                            agendamento.bloqueio !== 1 &&
                            agendamento.observacao != null &&
                            agendamento.observacao != undefined &&
                            agendamento.observacao?.length > 0
                          "
                          style="font-size: 10px; padding-top: 2px"
                        >
                          <ion-icon
                            style="color: black"
                            name="chatbubble-outline"
                          ></ion-icon>
                          &nbsp;&nbsp;{{ agendamento.observacao?.substr(0, 9) }}
                          <span *ngIf="agendamento.observacao?.length > 10"
                            >...</span
                          >
                        </ion-row>
                        <ion-row
                          *ngIf="
                            agendamento.bloqueio == 1 &&
                            agendamento.observacao != null &&
                            agendamento.observacao != undefined &&
                            agendamento.observacao?.length > 0
                          "
                          style="font-size: 12px; padding-top: 5px"
                        >
                          <!-- <img style="color: gray; transform: scale(0.025);" src="https://oneproducao.blob.core.windows.net/one2/Icones/bubblechat.svg"> -->
                          <span>
                            <span style="font-weight: bold"
                              >{{ "AGENDA.OBSERVACAO" | translate }}:</span
                            ><br />
                            <span style="padding-top: 2px">{{
                              agendamento.observacao?.substr(0, 39)
                            }}</span>
                            <span *ngIf="agendamento.observacao?.length > 40"
                              >...</span
                            >
                          </span>
                        </ion-row>
                        <ion-row
                          *ngIf="
                            agendamento.bloqueio == 1 &&
                            (agendamento.observacao === null ||
                              agendamento.observacao === undefined ||
                              agendamento.observacao === '')
                          "
                          style="
                            font-size: 13px;
                            padding-top: 13px;
                            font-weight: bold;
                          "
                        >
                          <span
                            (click)="editarObsBloqueioModal(i)"
                            style="font-weight: bold"
                            >{{ "AGENDA.ADDOBSERVACAO" | translate }}</span
                          >
                        </ion-row>
                        <ion-row
                          *ngIf="agendamento.horarioLivre == 1"
                          style="
                            padding-top: 18px;
                            font-size: 13px;
                            font-weight: bold;
                          "
                        >
                          <ion-col
                            (click)="addAppointment()"
                            size="3"
                            style="bottom: 6px; right: 6px"
                          >
                            <ion-icon
                              name="add-circle-outline"
                              style="
                                transform: scale(1.6);
                                color: var(--ion-color-primary);
                              "
                            ></ion-icon>
                          </ion-col>
                          <ion-col
                            (click)="addAppointment()"
                            size="auto"
                            style="line-height: 0.3; right: 17px"
                          >
                            <span>{{ "AGENDA.AGENDAR" | translate }}</span>
                          </ion-col>
                        </ion-row>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                  <ion-col size="5" style="font-size: 10px; padding-left: 16px">
                    <ion-row>
                      <ion-col
                        size="9"
                        [ngSwitch]="agendamento.status"
                        [ngStyle]="{ 'background-color': corStatus }"
                        class="status-badge"
                      >
                        <label *ngSwitchCase="'A'">
                          {{ "AGENDA.AGENDADO" | translate }}</label
                        >
                        <label *ngSwitchCase="'P'">
                          {{ "AGENDA.PRESENTE" | translate }}</label
                        >
                        <label *ngSwitchCase="'E'">
                          {{ "AGENDA.EXECUTADO" | translate }}</label
                        >
                        <label *ngSwitchCase="'C'">
                          {{ "AGENDA.CONFIRMADO" | translate }}</label
                        >
                        <label *ngSwitchCase="'R'">
                          {{ "AGENDA.REGISTRADO" | translate }}</label
                        >
                        <label *ngSwitchCase="'M'">
                          {{ "AGENDA.MOBILIDADE" | translate }}</label
                        >
                        <label *ngSwitchCase="'N'">
                          {{ "AGENDA.NAOREGISTRADO" | translate }}</label
                        >
                        <label *ngSwitchCase="'X'">
                          {{ "AGENDA.ATENDIMENTO" | translate }}</label
                        >
                        <label *ngSwitchCase="'B'">
                          {{ "AGENDA.BLOQUEIO" | translate }}</label
                        >
                        <label *ngSwitchDefault>
                          {{ "AGENDA.HORARIOLIVRE" | translate }}</label
                        >
                        

                      </ion-col>
                      <ion-col size="2">
                        <ion-icon
                          name="ellipsis-horizontal-outline"
                          (click)="maisOpcoesModal(i)"
                          style="
                            transform: scale(2.6);
                            padding-left: 6px;
                            color: grey;
                          "
                        ></ion-icon>
                      </ion-col>
                    </ion-row>
                    <!-- <ion-row
                  [ngStyle]="{'pointer-events': agendamento.dia === dataHojeIniciarAtendimento ? 'visible' : 'none',
                  'opacity': agendamento.dia === dataHojeIniciarAtendimento ? '1' : '0.5'}"
                  *ngIf="agendamento.status == 'A' || agendamento.status == 'C' || agendamento.status == 'P'" style="text-transform: uppercase; padding-top: 18px;">
                    <ion-label (click)="iniciarAtendimento(i)" class="playButton controlStyleButton"><ion-icon name="play" style="transform: scale(1);"></ion-icon></ion-label>
                    <span style="padding-left: 6px;">{{'AGENDA.INICIAR'|translate}} <br> {{'AGENDA.ATENDIMENTO'|translate}}</span>
                  </ion-row>  -->
                    <!--  <ion-row class="ver-mais" *ngIf="agendamento.status !== 'A' && agendamento.status !== 'C' && agendamento.status !== 'P' && agendamento.bloqueio !== 1 && agendamento.horarioLivre !== 1" >
                    <ion-icon name="list-circle-outline" (click)="maisOpcoesModal(i)"
                              style="transform: scale(2); color:grey; align-self: center;"></ion-icon>
                    <span style="padding-left: 6px;">{{'AGENDA.VERMAIS'|translate}}</span>
                  </ion-row>  -->
                    <!--<ion-row *ngIf="agendamento.status !== 'A' && agendamento.status !== 'C' && agendamento.status !== 'P' && agendamento.bloqueio !== 1 && agendamento.horarioLivre !== 1" style="padding-top: 18px; font-size: 11px;">
                    <ion-icon name="search" (click)="resumoAgendamento(i)" style="transform: scale(2); color:black; align-self: center;"></ion-icon>
                    <span style="padding-left: 6px;">{{'AGENDA.VERSERVICOPRODUTOS'|translate}} <br> {{'AGENDA.LANCADOS'|translate}}</span>
                  </ion-row> Removido de Gestor -->
                  <ion-row *ngIf="agendamento.status === 'M'" 
                   style="
                        padding-top: 18px;
                        font-size: 13px;
                        font-weight: bold;
                      "
                      >
                      <ion-label
                      (click)="confirmarAgendamento(agendamento.agendaId)"
                      class="confirmButton controlStyleButton"
                    >
                      <ion-icon
                        name="checkmark-circle-sharp"
                        style="transform: scale(2)"
                      ></ion-icon>
                    </ion-label>
                    <span
                      (click)="confirmarAgendamento(agendamento.agendaId)"
                      style="padding-left: 6px; text-align: left"
                    >
                    {{ "AGENDA.CONFIRMAR" | translate }}<br />
                    {{ "AGENDA.AGENDAMENTO" | translate }}
                    </span>

                  </ion-row>  
                  
                  <ion-row
                      *ngIf="agendamento.bloqueio == 1"
                      style="
                        padding-top: 18px;
                        font-size: 13px;
                        font-weight: bold;
                      "
                    >
                      <ion-icon
                        (click)="deleteAppointmentAlert(i)"
                        name="lock-open-outline"
                        style="
                          transform: scale(1.2);
                          color: var(ion-color-danger);
                        "
                      ></ion-icon>
                      <span
                        (click)="deleteAppointmentAlert(i)"
                        style="padding-left: 4px; line-height: 1.5"
                        >{{ "AGENDA.DESBLOQUEAR" | translate }}</span
                      >
                    </ion-row>
                    <ion-row
                      *ngIf="agendamento.horarioLivre == 1"
                      style="
                        padding-top: 18px;
                        font-size: 13px;
                        font-weight: bold;
                      "
                    >
                      <ion-icon
                        (click)="criarBloqueioModal(i)"
                        name="lock-closed-outline"
                        style="
                          transform: scale(1.2);
                          color: var(ion-color-danger);
                        "
                      ></ion-icon>
                      <span
                        (click)="criarBloqueioModal(i)"
                        style="padding-left: 4px; line-height: 1.5"
                        >{{ "AGENDA.BLOQUEAR" | translate }}</span
                      >
                    </ion-row>
                    <div
                      class="elipses"
                      style="right: 0; padding-left: 7px; width: 22%"
                    >
                      <img
                        (click)="maisOpcoesModal(i)"
                        src="https://oneproducao.blob.core.windows.net/one2/Icones/elipse.svg"
                        style="transform: scale(0.03)"
                      />
                    </div>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </div>
        </div>
        <ion-row
          *ngIf="i === agendamentos?.length - 1"
          style="height: calc(env(safe-area-inset-bottom) + 320px)"
        ></ion-row>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="!temHorario && selecionouColaborador">
      <ion-row class="aviso-nao-tem">
        <ion-col size="auto">
          <ion-icon class="tam-icone-i" name="alert-circle-outline"></ion-icon>
        </ion-col>
        <ion-col size="11">
          {{ "AGENDA.NAOEXISTEMHORARIOS" | translate }}
        </ion-col>
      </ion-row>
    </ng-container>
  </ion-grid>
</ion-content>

<div
  class="addButtonFixed addButtonFixedText"
  style="bottom: 0.5%; width: 100px; z-index: 10"
>
  <br />
  <ion-row style="justify-content: center" id="btnAgendamento">
    <ion-button
      [disabled]="!(temHorario && carregouAgendamentos)"
      size="medium"
      type="button"
      (click)="maisOpcoesModal(indexhorarioDisp)"
      style="height: 2.9em; margin-bottom: 30px"
    >
      <ion-icon
        name="add"
        style="transform: scale(1.2); color: var(--cor-texto-botaoAgendar)"
      ></ion-icon>
      <span
        style="
          margin-left: 6px;
          text-transform: uppercase;
          color: var(--cor-texto-botaoAgendar);
        "
        >{{ "AGENDA.BUTTON.CRIAR" | translate }}</span
      >
    </ion-button>
    <!-- ion-fab-button -->
  </ion-row>
</div>

<app-menu></app-menu>
