<ion-header>
  <ng-container>
    <ion-toolbar>
      <ion-title style="color: var(--cor-texto-barraTopo)">{{
        "PERFIL.EDITAR.COLABORADOR" | translate
      }}</ion-title>
      <ion-buttons slot="primary">
        <ion-button (click)="closeModal()">
          <ion-icon
            name="close"
            slot="icon-only"
            style="transform: scale(1.5); color: var(--cor-texto-barraTopo)"
          ></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ng-container>
</ion-header>
<div class="overlay" *ngIf="overlayDivControl == true"></div>
<ion-content class="backgroundContentApp">
  <ng-container>
    <div>
      <ion-grid *ngIf="colaboradorEditado">
        <ion-row
          *ngIf="didInit"
          class="ion-justify-content-center"
          style="height: 300px"
        >
          <ion-col class="img" size="12" style="text-align: -webkit-center">
            <ion-row>
              <ion-img
                [src]="
                  colaboradorEditado?.foto != null
                    ? colaboradorEditado.foto
                    : semFoto
                "
              ></ion-img>
            </ion-row>
            <ion-row
              style="
                justify-content: center;
                width: 280px;
                bottom: 50px;
                position: relative;
              "
            >
              <ion-col size="6" style="text-align: -webkit-left">
                <ion-fab-button  class="remove-image backgroundButtonApp" (click)="removeImage()">
                  <ion-icon
                    class="backgroundButtonApp"
                    name="trash-outline"
                  ></ion-icon>
                </ion-fab-button>
              </ion-col>
              <ion-col size="6" style="text-align: -webkit-right">
                <ion-fab-button class="new-image backgroundButtonApp" (click)="triggerFileSelect()">
                  <ion-icon
                    class="backgroundButtonApp"
                    name="camera-outline"
                  ></ion-icon>
                </ion-fab-button>
              </ion-col>
            </ion-row>
          </ion-col>
          <kendo-upload
            hidden
            [saveUrl]="uploadSaveUrl"
            [saveHeaders]="uploadHeaders"
            [restrictions]="uploadRestrictions"
            [withCredentials]="false"
            [autoUpload]="false"
            (select)="selectEventHandler($event)"
            (success)="successEventHandlerFoto($event)"
            (remove)="removeEventHandlerFoto($event)"
          >
          </kendo-upload>
        </ion-row>
        <form *ngIf="didInit" [formGroup]="colaboradorForm">
          <ion-row class="ion-justify-content-center">
            <ion-col size="10">
              <ion-row class="ion-justify-content-end colorTextApp">
                <ion-col
                  class="ion-text-end ion-align-itens-center"
                  style="font-size: 13px; padding-top: 10px"
                  size="8"
                >
                  <ion-label style="color: red"
                    >*{{
                      "PERFIL.MODALEDITAR.REQUIREDFIELDS" | translate
                    }}</ion-label
                  >
                </ion-col>
              </ion-row>
              <kendo-floatinglabel
                style="color: var(--cor-texto-escuro)"
                text="{{ 'PERFIL.MODALEDITAR.NOME' | translate }}*"
              >
                <input formControlName="nome" kendoTextBox type="text" />
              </kendo-floatinglabel>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-col size="10">
              <kendo-floatinglabel
                style="color: var(--cor-texto-escuro)"
                text="{{ 'PERFIL.MODALEDITAR.EMAIL' | translate }}*"
              >
                <input formControlName="email" kendoTextBox type="text" />
              </kendo-floatinglabel>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-col size="10">
              <kendo-floatinglabel
                style="color: var(--cor-texto-escuro)"
                text="{{ 'PERFIL.MODALEDITAR.CELULAR' | translate }}*"
              >
                <input formControlName="celular" kendoTextBox type="tel" />
              </kendo-floatinglabel>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-col size="10">
              <kendo-floatinglabel
                style="color: var(--cor-texto-escuro)"
                text="{{ 'PERFIL.MODALEDITAR.CURRICULO' | translate }}"
              >
                <textarea
                  kendoTextArea
                  rows="3"
                  class="curriculo"
                  formControlName="curriculo"
                >
                </textarea>
              </kendo-floatinglabel>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-col size="10">
              <kendo-floatinglabel text="Instagram">
                <input formControlName="instagram" kendoTextBox type="text" />
              </kendo-floatinglabel>
            </ion-col>
          </ion-row>
        </form>
        <ion-row
          class="ion-justify-content-center"
          style="padding: 3% 5% 3% 5%"
        >
          <ion-col size="12" style="text-align: center">
            <ion-text class="text-descriçao colorTextApp">
              {{ "PERFIL.MODALEDITAR.TEXTALTERAR" | translate }}
            </ion-text>
            <ion-text class="text-senha " (click)="editarSenha()">
              {{ "PERFIL.MODALEDITAR.CLIQUEAQUI" | translate }}
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ng-container>
</ion-content>
<ion-footer class="backgroundFooterApp">
  <ng-container>
    <ion-row class="global-footer-row">
      <ng-container>
        <ion-col size="6" class="global-footer-col-left">
          <ion-button
            type="submit"
            color="transparent"
            class="global-back-btn"
            disabled="{{ !colaboradorForm.valid }}"
            (click)="closeModal()"
            expand="block"
            style="color: var(--cor-texto-escuro)"
          >
            <div
              class="overlay"
              *ngIf="overlayDivControl == true"
              style="width: 130% !important"
            ></div>
            {{ "PERFIL.MODALEDITAR.CANCELAR" | translate }}
          </ion-button>
        </ion-col>
        <ion-col size="6" class="global-footer-col-right">
          <ion-button
            type="submit"
            class="global-footer-btn backgroundButtonApp"
            disabled="{{ !colaboradorForm.valid }}"
            (click)="editar()"
            expand="block"
          >
            <div
              class="overlay"
              *ngIf="overlayDivControl == true"
              style="width: 130% !important"
            ></div>
            {{ "PERFIL.MODALEDITAR.SALVAR" | translate }}
          </ion-button>
        </ion-col>
      </ng-container>
    </ion-row>
  </ng-container>
</ion-footer>
