<ion-header mode="md">
  <ion-toolbar>
    <ion-title style="color: var(--cor-texto-barraTopo)">
      {{ "LOGIN.MODARRECUPERARSENHA.TITLE" | translate }}
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="closeModal()">
        <ion-icon
          name="close"
          slot="icon-only"
          style="transform: scale(1.5); color: var(--cor-texto-barraTopo)"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="backgroundContentApp" scrollY="false">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-segment mode="ios" class="segment" [(ngModel)]="segment">
          <ion-segment-button value="email">
            <ion-label
              [ngStyle]="{ color: segment == 'email' ? 'var(--cor-texto-escuro)' : 'var(--cor-texto-claro)' }"
              >{{ "LOGIN.MODARRECUPERARSENHA.EMAIL" | translate }}</ion-label
            >
          </ion-segment-button>
          <ion-segment-button disabled="{{ !validarCodigo }}" value="codigo">
            <ion-label
              [ngStyle]="{ color: segment == 'codigo' ? 'var(--cor-texto-escuro)' : 'var(--cor-texto-claro)' }"
              >{{ "LOGIN.MODARRECUPERARSENHA.CODIGO" | translate }}</ion-label
            >
          </ion-segment-button>
          <ion-segment-button disabled="{{ !validarSenha }}" value="alterar">
            <ion-label
              [ngStyle]="{ color: segment == 'alterar' ? 'var(--cor-texto-escuro)' : 'var(--cor-texto-claro)' }"
              >{{
                "LOGIN.MODARRECUPERARSENHA.ALTERARSENHA" | translate
              }}</ion-label
            >
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
    <div [ngSwitch]="segment">
      <div *ngSwitchCase="'email'">
        <ion-row class="ion-padding-top">
          <ion-col size="12">
            <ion-label class="colorTextApp" style="margin-left: 5px">{{
              "LOGIN.EMAIL" | translate
            }}</ion-label>
            <ion-input
              class="input LoginInput"
              type="email"
              [(ngModel)]="email"
              style="height: 35px; border-radius: 5px"
            ></ion-input>
          </ion-col>
        </ion-row>
        <div class="aviso">
          <ion-row style="margin-top: 30px">
            <ion-col class="aviso" size="12">
              <ion-icon
                name="alert-circle-outline"
                style="transform: scale(2.1); padding-right: 4px"
              ></ion-icon>
              {{ "LOGIN.MODARRECUPERARSENHA.MESSAGECODIGO" | translate }}
            </ion-col>
          </ion-row>
        </div>
      </div>
      <div class="recupSenha" *ngSwitchCase="'codigo'">
        <ion-row class="ion-paddig-top">
          <ion-col class="message ion-text-center" size="12">
            {{ "LOGIN.MODARRECUPERARSENHA.RECUPERARSENHAMESSAGE" | translate }}
          </ion-col>
        </ion-row>
        <ion-col class="ion-justify-content-center" size="12">
          <div class="input-codigo">
            <ion-input
              class="input LoginInput"
              type="tel"
              [(ngModel)]="codigo"
              placeholder="______"
              maxlength="6"
              name="account"
              ng-model="my.model"
            ></ion-input>
          </div>
        </ion-col>
        <ion-row class="ion-paddig-top">
          <ion-col class="message ion-text-center" size="12">
            {{ "LOGIN.MODARRECUPERARSENHA.NAORECEBEUCOMECO" | translate }}
            <ion-label
              (click)="enviarEmail()"
              style="color: var(--ion-color-primary); cursor: pointer"
              >{{ "LOGIN.MODARRECUPERARSENHA.AQUI" | translate }}</ion-label
            >
            {{ "LOGIN.MODARRECUPERARSENHA.NAORECEBEUFIM" | translate }}
          </ion-col>
        </ion-row>
      </div>
      <div *ngSwitchCase="'alterar'">
        <ion-row>
          <ion-col class="message ion-text-center colorTextApp" size="12">
            {{ "LOGIN.MODARRECUPERARSENHA.ENTRENOVASENHA" | translate }}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-label class="colorTextApp">{{
              "LOGIN.MODARRECUPERARSENHA.NOVASENHA" | translate
            }}</ion-label>
            <div class="inputSenha">
              <ion-input class="LoginInput"
                [(ngModel)]="novaSenha"
                type="{{ showPassword ? 'text' : 'password' }}"
              ></ion-input>
              <ion-button
                fill="clear"
                color="medium"
                (click)="changePasswordVisibility()"
              >
                <img
                  style="height: 20px"
                  *ngIf="!showPassword"
                  src="https://oneproducao.blob.core.windows.net/one2/Icones/eye_closed_icon.svg"
                />
                <ion-icon *ngIf="showPassword" name="eye-outline"></ion-icon>
              </ion-button>
            </div>
          </ion-col>
          <ion-col size="12">
            <ion-label class="colorTextApp">{{ "LOGIN.CONFIRMARSENHA" | translate }}</ion-label>
            <div class="inputSenha">
              <ion-input
              class="inputSenha LoginInput"
              type="{{ showPassword ? 'text' : 'password' }}"
              [(ngModel)]="confirmarSenha"
              ></ion-input>
              <ion-button
                fill="clear"
                color="medium"
                (click)="changePasswordVisibility()"
              >
                <img
                  style="height: 20px"
                  *ngIf="!showPassword"
                  src="https://oneproducao.blob.core.windows.net/one2/Icones/eye_closed_icon.svg"
                />
                <ion-icon *ngIf="showPassword" name="eye-outline"></ion-icon>
              </ion-button>
            </div>
            
          </ion-col>
        </ion-row>
      </div>
    </div>
  </ion-grid>
</ion-content>
<ion-footer class="backgroundFooterApp">
  <div class="buttons">
    <ion-button expand="block" fill="outline" (click)="closeModal()">
      {{ "LOGIN.MODARRECUPERARSENHA.VOLTAR" | translate }}
    </ion-button>
    <ion-button class="backgroundButtonApp"
      id="button"
      expand="block"
      (click)="
        segment == 'email'
          ? enviarEmail()
          : segment == 'codigo'
          ? enviarCodigo()
          : alterarSenha()
      "
    >
      {{ "LOGIN.MODARRECUPERARSENHA.EMAIL" | translate }}
    </ion-button>
  </div>
</ion-footer>
