.cabecalho {
  display: flex;
  justify-content: center;
}

.inputTipo {
  border-radius: 10px;
  padding: 4px 8px;
  width: 100%;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  outline: 0;
  font: inherit;
  font-size: 14px;
  line-height: 1.42857;
  display: inline-flex;
  vertical-align: middle;
  position: relative;
  -webkit-appearance: none;
  background-color: transparent;
}
.divStyle {
  height: 70%;
}

.divScroll::-webkit-scrollbar {
  --display: none !important;
  --overflow: none !important ;
}

textarea {
  resize: none; /*remove the resize handle on the bottom right*/
}

ion-toolbar {
  --background: var(--cor-fundo-barraTopo);
}
