<ion-header>
  <ion-toolbar mode="md">
    <ion-title style="color: var(--cor-texto-barraTopo)">{{
      "SHARED.RELATAR.TITLE" | translate
    }}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="closeModal()">
        <ion-icon
          name="close"
          slot="icon-only"
          style="transform: scale(1.5); color: var(--cor-texto-barraTopo)"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="cabecalho backgroundContentApp">
  <div class="divScroll colorTextApp" style="height: 100%; padding: 20px">
    <form [formGroup]="bugForm">
      <ion-row style="flex-direction: column">
        <div>
          <ion-row style="display: block">
            <small>{{ "SHARED.RELATAR.TELEFONECONTATO" | translate }}</small
            ><br />
            <input
              formControlName="celular"
              kendoTextBox
              type="tel"
              class="inputTipo"
              [(ngModel)]="celularBug"
            />
          </ion-row>
          <ion-row style="display: block; padding-bottom: 10px">
            <small> {{ "SHARED.RELATAR.ASSUNTO" | translate }}</small
            ><br />
            <input
              class="inputTipo"
              formControlName="assunto"
              kendoTextBox
              [(ngModel)]="assuntoBug"
              type="text"
            />
          </ion-row>
          <ion-row style="display: block">
            <small>{{ "SHARED.RELATAR.RESUMO" | translate }}</small
            ><br />
            <textarea
              kendoTextArea
              style="height: 100px; width: 100%"
              [(ngModel)]="mensagemBug"
              formControlName="mensagem"
              class="inputTipo"
            >
            </textarea>
            <!-- <input style="height: 170px;" class="inputTipo" formControlName="relato" kendoTextBox type="text"> -->
            <ion-row>
              <small style="padding-top: 5px"
                >{{ "SHARED.RELATAR.NOTIFICACAO" | translate }}
              </small>
            </ion-row>
          </ion-row>
        </div>
      </ion-row>
    </form>
    <div>
      <ion-row>
        <small style="padding-top: 10px">{{
          "SHARED.RELATAR.ANEXAR" | translate
        }}</small>
      </ion-row>
    </div>
    <div style="text-align: -webkit-center">
      <ion-row>
        <ion-col size="6" style="padding-top: 10px">
          <span
            *ngIf="urlFotoEnviada != null"
            style="
              font-size: 11px;
              padding-right: 5px;
              color: var(--cor-texto-escuro);
            "
            >{{ "SHARED.RELATAR.FOTOSENVIADAS" | translate }}
            {{ quantidadeFotos }}</span
          >
          <span
            *ngIf="urlFotoEnviada == null"
            style="font-size: 11px; padding-right: 5px"
            >{{ "SHARED.RELATAR.NENHUMANEXO" | translate }}</span
          >
        </ion-col>
        <ion-col size="4">
          <ion-button
            (click)="triggerFileSelect()"
            class="backgroundButtonApp"
          >
            {{ "SHARED.RELATAR.ENVIARFOTO" | translate }}
          </ion-button>
          <kendo-upload
            hidden
            [withCredentials]="false"
            [autoUpload]="false"
            (select)="selectEventHandler($event)"
          >
          </kendo-upload>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>
<ion-footer class="backgroundFooterApp">
  <ion-row style="margin: 20px">
    <ion-col class="ion-no-padding" size="12">
      <ion-button
        [disabled]="
          gatilhoEnvioFoto === false ||
          mensagemBug === undefined ||
          mensagemBug === null ||
          mensagemBug?.length < 20 ||
          assuntoBug === undefined ||
          assuntoBug === null ||
          assuntoBug?.length < 5 ||
          celularBug === null ||
          celularBug === undefined ||
          celularBug?.length < 10
        "
        expand="block"
        (click)="enviar()"
        style="margin: 0; height: 50px;"
        class="backgroundButtonApp"
      >
        {{ "SHARED.RELATAR.ENVIAR" | translate }}
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
